@use "sass:map";

// settings
// ––––––––––––––––––––

// Theme color
$theme-color: "azure" !default; // amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc

// prefix for css variables
$css-var-prefix: "nano-" !default;

// define the root element used to target <header>, <main>, <footer>
// with $enable-semantic-container and $enable-responsive-spacings
$semantic-root-element: "body" !default;

// enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: false !default;

// enable a centered viewport for <header>, <main>, <footer> inside $semantic-root-element
// fluid layout if disabled
$enable-viewport: true !default;

// enable responsive spacings for <header>, <main>, <footer>, <section>, <article>
// fixed spacings by default
$enable-responsive-spacings: false !default;

// enable responsive typography
// fixed root element size (rem) if disabled
$enable-responsive-typography: true !default;

// enable transitions
$enable-transitions: true !default;

// enable overriding with !important
$enable-important: true !default;

// optional parent selector
// if defined, all html tags are wrapped with this selector
// :root is not wrapped
$parent-selector: "" !default;

// breakpoints, viewports and root font size
$breakpoints: () !default;
$breakpoints: map.deep-merge(
  (
    // extra small (less than landscape phones)
    // font size: 16px
    xs: (
      breakpoint: 0,
      viewport: 100%,
      root-font-size: 100%,
    ),
    // small (landscape phones)
    // font size: 17px
    sm:
      (
        breakpoint: 576px,
        viewport: 540px,
        root-font-size: 106.25%,
      ),

    // medium (tablets)
    // font size: 18px
    md:
      (
        breakpoint: 768px,
        viewport: 720px,
        root-font-size: 112.5%,
      ),

    // large
    // font size: 19px
    lg:
      (
        breakpoint: 992px,
        viewport: 960px,
        root-font-size: 118.75%,
      ),

    // extra large
    // font size: 20px
    xl:
      (
        breakpoint: 1280px,
        viewport: 1200px,
        root-font-size: 125%,
      ),

    // extra extra large
    // font size: 21px
    xxl:
      (
        breakpoint: 1536px,
        viewport: 1440px,
        root-font-size: 131.25%,
      )
  ),
  $breakpoints
);

// grid columns
// set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;
$grid-gutter-spacing: 1rem !default;

$grid-gutters: (
  0: 0,
  1: $grid-gutter-spacing * .25,
  2: $grid-gutter-spacing * .5,
  3: $grid-gutter-spacing,
  4: $grid-gutter-spacing * 1.5,
  5: $grid-gutter-spacing * 3,
) !default;

// container padding
$container-padding-x: $grid-gutter-width !default;
$enable-container-classes: true !default;

$enable-grid-flexbox: true; // bootstrap compabitlble traditional flexbox
$enable-grid-native: false; // bootstrap (v5 introduced) css grids
$enable-grid-simple: true;  // minimalist adaptive grid

// modules to export
$modules: () !default;
$modules: map.merge(
  (
    // theme
    "themes/default": true,

    // layout
    "layout/document": true,
    "layout/landmarks": true,
    "layout/container": true,
    "layout/helpers": true,
    "layout/section": true,
    "layout/grid": true,
    "layout/overflow-auto": true,

    // content
    "content/link": true,
    "content/typography": true,
    "content/embedded": true,
    "content/button": true,
    "content/table": true,
    "content/code": true,
    "content/figure": true,
    "content/miscs": true,

    // forms
    "forms/basics": true,
    "forms/checkbox-radio-switch": true,
    "forms/input-color": true,
    "forms/input-date": true,
    "forms/input-file": true,
    "forms/input-group": true,
    "forms/input-range": true,
    "forms/input-search": true,

    // components
    "components/accordion": true,
    "components/alert": true,
    "components/card": true,
    "components/dropdown": true,
    "components/group": true,
    "components/icons": true,
    "components/loading": true,
    "components/modal": true,
    "components/nav": true,
    "components/note": true,
    "components/progress": true,
    "components/tabs": true,
    "components/tooltip": true,

    // utilities
    "utilities/accessibility": true,
    "utilities/reduce-motion": true
  ),
  $modules
);

// shortcut for css vars prefix
$p: --#{$css-var-prefix};
