// container mixins
@use "../settings" as *;

@mixin make-container($gutter: $container-padding-x) {
  #{$p}gutter-x: #{$gutter};
  #{$p}gutter-y: 0;
  width: 100%;
  padding-right: calc(var(#{$p}gutter-x) * .5); // stylelint-disable-line function-disallowed-list
  padding-left: calc(var(#{$p}gutter-x) * .5); // stylelint-disable-line function-disallowed-list
  margin-right: auto;
  margin-left: auto;
}
