@use "sass:map";

//
// DOCS: CODE
//

// code block inside article
article footer.code {
  padding: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  pre {
    padding: calc(var(--nano-block-spacing-vertical) * .66) var(--nano-block-spacing-horizontal);
    background-color: transparent;
  }
}

.code {
  position: relative;
  background-color: var(--nano-card-sectioning-background-color);

  pre {
    margin-bottom: 0;
  }

  &:not(article footer.code) {
    margin-bottom: var(--nano-block-spacing-vertical);
    overflow: hidden;
    border-radius: var(--nano-border-radius);
    box-shadow: var(--nano-card-box-shadow)

    pre {
      padding: calc(var(--nano-block-spacing-vertical) * .66) var(--nano-block-spacing-horizontal);
      background: 0 0
    }
  }

  @media (min-width: 576px) {
    &:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 1.25);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 1.25)
    }
  }

  @media (min-width: 768px) {
    &:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 1.5);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 1.5)
    }
  }

  @media (min-width: 1024px) {
    &:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 1.75);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 1.75)
    }
  }

  @media (min-width: 1280px) {
    &:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 2);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 2)
    }
  }

  @media (min-width: 1536px) {
    &:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 2.5);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 2.5)
    }
  }

  & >a.copy-to-clipboard {
    z-index: 1;
    position: absolute;
    top: 0.75rem;
    right: 0;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
    background-color: var(--nano-card-sectioning-background-color);
    color: var(--nano-code-comment);
    transition: color var(--nano-transition);

    & > svg {
      display: block;
      width: 1.125rem;
      height: 1.125rem;
      opacity: .5;
      transition: opacity var(--nano-transition);
    }
  }
}

code, pre {
  font-family: fira code,var(--nano-font-family-monospace);
}

.hljs {
  /* background: var(--nano-card-sectioning-background-color); */
  color: var(--nano-code-color);
}

.hljs-comment,
.hljs-quote {
  color: var(--nano-code-comment);
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--nano-code-tag);
}

.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--nano-code-value);
}
.hljs-attribute {
  color: var(--nano-code-attr);
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--nano-code-symbol);
}
.hljs-title,
.hljs-section {
  color: var(--nano-code-title);
}
.hljs-keyword,
.hljs-selector-tag {
  color: var(--nano-code-keyword);
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}
@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight
  }
  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold
  }
}
