//
// DOCS: TYPOGRAPHY
//

section > hgroup {
  margin-bottom: calc(var(--typography-spacing-vertical) * 2);
}

[role="document"] {
  section > h1,
  section > h2,
  section > h3 {
    line-height: 1;
  }
}

.chapter {
  width: -moz-fit-content;
  width: fit-content;
  -webkit-background-clip: text;
  background-clip: text;
  color: var(--nano-chapter-color);
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .0625em;
  text-transform: uppercase;
}

main>hgroup {
  p.chapter {
    margin-bottom: calc(var(--nano-spacing) * .25);
  }

  h1 {
    margin-bottom: calc(var(--nano-spacing) * .5);
    font-size: 3rem;
    line-height: 1;
    font-family: Figtree,var(--nano-font-family);
  }
}

:is(h1,h2,h3,h4,h5,h6) {
  position: relative;

  &:hover > a[id] {
    opacity: .25;
  }

  & > a[id] {
    padding-left: calc(var(--nano-spacing) * .5);
    font-weight: 400;
    text-decoration: none;
    opacity: 0;
    transition: color var(--nano-transition) opacity var(--nano-transition);

    &:focus-visible {
      box-shadow: none;
      color: var(--nano-primary);
      opacity: 1;
    }
  }
}

@media (min-width: 1024px) {
  :is(h1,h2,h3,h4,h5,h6)>a[id] {
    position: absolute;
    left: 0;
    padding-right: calc(var(--nano-spacing) * .5);
    transform: translate(-100%);
  }
}

