// Dark theme [Additions for docs]
@mixin dark {
  --nano-aside-link-current-background-color: #202632;
  --nano-card-component-outline-width: 2px;
  --nano-card-component-outline-color: var(--nano-card-sectioning-background-color);

  --nano-code-attr: #ffd700;
  --nano-code-color: #f8f8f2;
  --nano-code-comment: #d4d0ab;
  --nano-code-copied: #62af9a;
  --nano-code-keyword: #dcc6e0;
  --nano-code-symbol: #abe338;
  --nano-code-tag: #ffa07a;
  --nano-code-title: #00e0e0;
  --nano-code-value: #f5ab35;

  --nano-chapter-color: var(--nano-code-tag);
  --nano-skeleton-background-color: #202632;
  --nano-scale-color-1: #7edcbb;
  --nano-scale-color-2: #bad675;
  --nano-scale-color-3: #d5bb69;
  --nano-scale-color-4: #e1b585;
  --nano-scale-color-5: #daa099;

  --nano-header-background: rgba(19, 23, 31, .9);
  --nano-header-border-color: rgba(32, 38, 50, .9);
  --nano-logo-wordmark: #fff;
  --nano-current-version-checkmark: #62af9a;
}
