// Light theme (Default) [Additions for docs]
// Can be forced with data-theme="light"
:root:not([data-theme=dark]),
[data-theme=light] {
  --nano-aside-link-current-background-color: #eff1f4;
  --nano-card-component-outline-width: 0;
  --nano-card-component-outline-color: transparent;

  --nano-code-attr: #aa5d00;
  --nano-code-color: #545454;
  --nano-code-comment: #696969;
  --nano-code-copied: #1d6a54;
  --nano-code-keyword: #7928a1;
  --nano-code-symbol: #008000;
  --nano-code-tag: #d91e18;
  --nano-code-title: #007faa;
  --nano-code-value: #aa5d00;

  --nano-chapter-color: var(--nano-code-tag);
  --nano-skeleton-background-color: #eff1f4;
  --nano-scale-color-1: #006d46;
  --nano-scale-color-2: #4d6600;
  --nano-scale-color-3: #785800;
  --nano-scale-color-4: #8b4f00;
  --nano-scale-color-5: #af291d;

  --nano-header-background: rgba(255, 255, 255, .8);
  --nano-header-border-color: transparent;
  --nano-logo-wordmark: #2a3140;
  --nano-current-version-checkmark: #1d6a54;
}

:root:not([data-theme=dark]) article footer.code[data-theme=dark],
[data-theme=light] article footer.code[data-theme=dark] {
  --nano-card-background-color: #181c25;
  --nano-card-border-color: var(--nano-card-background-color);
  --nano-card-box-shadow: var(--nano-box-shadow);
  --nano-card-sectioning-background-color: #1c212c;
}

