/**
 * Docs: Modal

dialog.example {
  display: block;
  z-index: inherit;
  position: relative;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  padding: 0;
  background-color:inherit;

  article {
    max-width: inherit;
  }

  &:not([open]),
  &[open=false] {
    display: none;
  }
}

.dialog-is-open body > button {
  filter: blur(0.125rem);
}
 */
