@use "sass:map";

//
// DOCS: NAVS
//

body > nav {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--nav-background-color);
  box-shadow: 0px 1px 0 var(--nav-border-color);

  &.container-fluid {
    padding-right: calc(var(--spacing) + var(--scrollbar-width, 0px));
  }

  a {
    border-radius: 0;
  }

  svg {
    vertical-align: text-bottom;
  }

  // Band & Title
  ul:first-of-type {
    margin-left: calc(var(--spacing) * -1);

    li {
      padding: 0;

      // Brand
      &:first-of-type {
        a {
          display: block;
          margin: 0;
          padding: 0;
          background: var(--h1-color);
          color: var(--nav-logo-color);

          svg {
            display: block;
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }

      // Title
      &:nth-of-type(2) {
        display: none;
        margin-left: calc(var(--spacing) * 1.5);
        color: var(--h1-color);

        @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
          display: inline;
        }
      }
    }
  }
}
