<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Accordions</h1>
    <p>Toggle sections of content in pure&nbsp;HTML, without JavaScript, using minimal and semantic&nbsp;markup.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/accordion"
              aria-current="page"
            >Overview</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/accordion#button-variants"
            >Button variants</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article
        aria-label="Accordions example"
        class="component"
      >
        <details open="">
          <summary>Accordion 1</summary>
          <p>
            Flamingos are known for their bright pink feathers and distinctive long necks. These birds are social
            creatures that live in large groups, and a group of flamingos is called a flamboyance. They can often be
            seen standing on one leg, which helps them conserve body heat.
          </p>
        </details>
        <hr>
        <details>
          <summary>Accordion 2</summary>
          <article>
            <ul>
              <li>Kangaroos are marsupials that are native to Australia.</li>
              <li>They are known for their powerful hind legs, which they use to hop around.</li>
              <li>Kangaroos can't walk backwards due to the shape of their legs and tail.</li>
              <li>
                Baby kangaroos, called joeys, are born very small and undeveloped and must crawl into their mother's
                pouch to continue developing.
              </li>
              <li>Some species of kangaroos can leap up to 30 feet in a single bound.</li>
            </ul>
          </article>
        </details>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;details open&gt;
  &lt;summary&gt;Accordion 1&lt;/summary&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/details&gt;

&lt;hr /&gt;

&lt;details&gt;
  &lt;summary&gt;Accordion 2&lt;/summary&gt;
  &lt;article&gt;
    &lt;ul&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/article&gt;
&lt;/details&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Button variants<a
          id="button-variants"
          href="#button-variants"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p><code>role="button"</code> can be used to turn <code>&lt;summary&gt;</code> into a button.</p>
      <article
        aria-label="Accordions buttons example"
        class="component"
      >
        <details>
          <summary role="button">
            Button
          </summary>
          <p>
            Owls are nocturnal birds of prey that are known for their distinctive hooting calls. A group of owls is
            called a parliament, and these birds are often associated with wisdom and intelligence. Owls have excellent
            hearing and vision, which helps them hunt prey in the dark.
          </p>
        </details>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;details&gt;
  &lt;summary role="button"&gt;Owls&lt;/summary&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/details&gt;</pre>
          </code-block>
        </footer>
      </article>
      <p>
        Like regular buttons, they come with <code>.secondary</code>, <code>.contrast</code>, and <code>.outline</code>.
      </p>
      <article
        aria-label="Accordions buttons example"
        class="component"
      >
        <details>
          <summary
            role="button"
            class="secondary"
          >
            Secondary
          </summary>
          <p>
            Ostriches are the largest birds in the world and are native to Africa. They have long, powerful legs that
            they use to run at high speeds, and they can reach up to 45 miles per hour. An ostrich's eye is bigger than
            its brain, which is unusual for birds.
          </p>
        </details>
        <details>
          <summary
            role="button"
            class="contrast"
          >
            Contrast
          </summary>
          <p>
            Koalas are arboreal marsupials that are native to Australia. They are known for their cute and cuddly
            appearance, but they can be quite aggressive if provoked. The fingerprints of koalas are so similar to those
            of humans that they have been mistaken for crime scene prints.
          </p>
        </details>
        <details>
          <summary
            role="button"
            class="outline"
          >
            Primary outline
          </summary>
          <p>
            Elephants are the largest land animals and highly intelligent with intricate communication systems. They use
            infrasonic sounds to talk and have long memories. They create and maintain habitats for other species, and
            can eat up to 300 pounds of vegetation per day. Their elongated incisor teeth, called tusks, serve various
            purposes, including digging and defense.
          </p>
        </details>
        <details>
          <summary
            role="button"
            class="outline secondary"
          >
            Secondary outline
          </summary>
          <p>
            Crows are intelligent birds that are known for their problem-solving abilities. A group of crows is called a
            murder, and these birds have a reputation for being mischievous and sometimes even aggressive. Despite their
            negative image in some cultures, crows are important for their role in controlling pest populations and
            maintaining ecological balance.
          </p>
        </details>
        <details>
          <summary
            role="button"
            class="outline contrast"
          >
            Contrast outline
          </summary>
          <p>
            Penguins are flightless birds with a tuxedo-like appearance. They swim well and can hold their breath for up
            to 20 minutes. Penguins are social, forming tight-knit communities, and some mate for life. They have
            adaptations to survive in cold climates, including thick feathers and a layer of fat for insulation.
          </p>
        </details>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;!-- Secondary --&gt;
&lt;details&gt;
  &lt;summary role="button" class="secondary"&gt;Secondary&lt;/summary&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/details&gt;

&lt;!-- Contrast --&gt;
&lt;details&gt;
  &lt;summary role="button" class="contrast"&gt;Contrast&lt;/summary&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/details&gt;

&lt;!-- Primary outline --&gt;
&lt;details&gt;
  &lt;summary role="button" class="outline"&gt;Primary outline&lt;/summary&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/details&gt;

&lt;!-- Secondary outline --&gt;
&lt;details&gt;
  &lt;summary role="button" class="outline secondary"&gt;Secondary outline&lt;/summary&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/details&gt;

&lt;!-- Contrast outline --&gt;
&lt;details&gt;
  &lt;summary role="button" class="outline contrast"&gt;Contrast outline&lt;/summary&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/details&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
