<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Alert</h1>
    <p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/card"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/card#sectioning"
            >Sectioning</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p>Alerts are constructed using the <code>role="alert"</code> attribute and can be further styled with the <code>primary</code>, <code>secondary</code>, <code>contrast</code>, <code>danger</code>, <code>info</code>, <code>success</code> and <code>warning</code> classes.</p>
      <div class="primary" role="alert">A simple <strong>primary</strong> alert.</div>
      <div class="secondary" role="alert">A simple <strong>secondary</strong> alert.</div>
      <div class="contrast" role="alert">A simple <strong>contrast</strong> alert.</div>
      <div class="danger" role="alert">A simple <strong>danger</strong> alert.</div>
      <div class="info" role="alert">A simple <strong>info</strong> alert.</div>
      <div class="success" role="alert">A simple <strong>success</strong> alert.</div>
      <div class="warning" role="alert">A simple <strong>warning</strong> alert.</div>
      <div class="code" data-theme="dark"
      >
        <code-block><pre>&lt;div class="primary" role="alert"&gt;
  A simple &lt;strong&gt;primary&lt;/strong&gt; alert.
&lt;/div&gt;
&lt;div class="secondary" role="alert"&gt;
  A simple &lt;strong&gt;secondary&lt;/strong&gt; alert.
&lt;/div&gt;
&lt;div class="contrast" role="alert"&gt;
  A simple &lt;strong&gt;contrast&lt;/strong&gt; alert.
&lt;/div&gt;
&lt;div class="danger" role="alert"&gt;
  A simple &lt;strong&gt;danger&lt;/strong&gt; alert.
&lt;/div&gt;
&lt;div class="info" role="alert"&gt;
  A simple &lt;strong&gt;info&lt;/strong&gt; alert.
&lt;/div&gt;
&lt;div class="success" role="alert"&gt;
  A simple &lt;strong&gt;success&lt;/strong&gt; alert.
&lt;/div&gt;
&lt;div class="warning" role="alert"&gt;
  A simple &lt;strong&gt;warning&lt;/strong&gt; alert.
&lt;/div&gt;
</pre></code-block>
      </div>
    </section>
  </div>
</template>
