<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
</script>

<template>
  <hgroup>
    <p class="chapter">
      Content
    </p>
    <h1>Button</h1>
    <p>
      Buttons are using the native <code class="language-xml">&lt;button&gt;</code> tag, without
      <code class="language-css">.classes</code>. for the default style.
    </p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open>
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/button"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/button#variants"
            >Variants</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/button#form-buttons"
            >Form buttons</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/button#disabled"
            >Disabled</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/button#role-button"
            >Role button</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/button#usage-with-group"
            >Usage with group</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section aria-label="Overview">
      <article
        aria-label="Button example"
        class="component"
      >
        <button>Button</button>
        <footer
          class="code small"
          data-theme="dark"
        >
          <a
            class="copy-to-clipboard"
            tabindex="-1"
            aria-label="Copy code"
            data-tooltip="Copy to clipboard"
            data-placement="left"
            href="/docs/button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="clipboard"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
            </svg>
          </a>
          <pre><code
v-highlight
                     class="language-xml"
>
&lt;button&gt;Button&lt;/button&gt;
          </code></pre>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Variants<a
          id="variants"
          href="#variants"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        Buttons come with <code class="language-css">.secondary</code> and <code class="language-css">.contrast</code>
        styles.
      </p>
      <article
        aria-label="Button colors example"
        class="component"
      >
        <div class="grid">
          <button class="secondary">
            Secondary
          </button>
          <button class="contrast">
            Contrast
          </button>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <a
            class="copy-to-clipboard"
            tabindex="-1"
            aria-label="Copy code"
            data-tooltip="Copy to clipboard"
            data-placement="left"
            href="/docs/button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="clipboard"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
            </svg>
          </a>
          <pre><code v-highlight>
&lt;button class="secondary"&gt;Secondary&lt;/button&gt;
&lt;button class="contrast"&gt;Contrast&lt;/button&gt;
          </code></pre>
        </footer>
      </article>
      <p>They also come with a classic outline style.</p>
      <article
        aria-label="Buttons outline example"
        class="component"
      >
        <div class="grid">
          <button class="outline">
            Primary
          </button><button class="outline secondary">
            Secondary
          </button><button class="outline contrast">
            Contrast
          </button>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <a
            class="copy-to-clipboard"
            tabindex="-1"
            aria-label="Copy code"
            data-tooltip="Copy to clipboard"
            data-placement="left"
            href="/docs/button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="clipboard"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
            </svg>
          </a>
          <pre><code v-highlight>
&lt;button class="outline"&gt;Primary&lt;/button&gt;
&lt;button class="outline secondary"&gt;Secondary&lt;/button&gt;
&lt;button class="outline contrast"&gt;Contrast&lt;/button&gt;
          </code></pre>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Form buttons<a
          id="form-buttons"
          href="#form-buttons"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        <code>type="submit"</code> and <code>type="button"</code> inputs are also displayed as buttons. All form buttons
        are <code>width: 100%;</code> by default, to match with the other form elements.
      </p>
      <article
        aria-label="Input buttons example"
        class="component"
      >
        <input type="submit"><input
          type="button"
          value="Input"
        >
        <footer
          class="code"
          data-theme="dark"
        >
          <a
            class="copy-to-clipboard"
            tabindex="-1"
            aria-label="Copy code"
            data-tooltip="Copy to clipboard"
            data-placement="left"
            href="/docs/button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="clipboard"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
            </svg>
          </a>
          <pre><code v-highlight>
&lt;input type="submit" /&gt;
&lt;input type="button" value="Input" /&gt;
          </code></pre>
        </footer>
      </article>
      <p>Reset inputs have the secondary style by default.</p>
      <article
        aria-label="Reset input example"
        class="component"
      >
        <input type="reset">
        <footer
          class="code small"
          data-theme="dark"
        >
          <a
            class="copy-to-clipboard"
            tabindex="-1"
            aria-label="Copy code"
            data-tooltip="Copy to clipboard"
            data-placement="left"
            href="/docs/button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="clipboard"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
            </svg>
          </a>
          <pre><code v-highlight>
&lt;input type="reset" /&gt;
          </code></pre>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Disabled<a
          id="disabled"
          href="#disabled"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Buttons come with a disabled style.</p>
      <article
        aria-label="Disabled buttons example"
        class="component"
      >
        <div class="grid">
          <button disabled>
            Disabled
          </button><button
            class="secondary"
            disabled
          >
            Disabled
          </button><button
            class="contrast"
            disabled
          >
            Disabled
          </button>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <a
            class="copy-to-clipboard"
            tabindex="-1"
            aria-label="Copy code"
            data-tooltip="Copy to clipboard"
            data-placement="left"
            href="/docs/button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="clipboard"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
            </svg>
          </a>
          <pre><code v-highlight>
&lt;button disabled&gt;Disabled&lt;/button&gt;
&lt;button class="secondary" disabled&gt;Disabled&lt;/button&gt;
&lt;button class="contrast" disabled&gt;Disabled&lt;/button&gt;
          </code></pre>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Role button<a
          id="role-button"
          href="#role-button"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Clickable elements with <code><span class>role="button"</span></code> are rendered as buttons.</p>
      <article
        aria-label="Role button example"
        class="component"
      >
        <div
          role="button"
          tabindex="0"
        >
          Div as button
        </div>
        <footer
          class="code small"
          data-theme="dark"
        >
          <a
            class="copy-to-clipboard"
            tabindex="-1"
            aria-label="Copy code"
            data-tooltip="Copy to clipboard"
            data-placement="left"
            href="/docs/button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="clipboard"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
            </svg>
          </a>
          <pre><code>
&lt;div role="button" tabindex="0"&gt;Div as a button&lt;/div&gt;
          </code></pre>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Usage with group<a
          id="usage-with-group"
          href="#usage-with-group"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        You can use <code><span class>role="group"</span></code> with buttons. See <a href="/docs/group">Group</a>.
      </p>
      <article
        class="component"
        aria-label="Group example"
      >
        <div role="group">
          <button>Button</button><button>Button</button><button>Button</button>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <a
            class="copy-to-clipboard"
            tabindex="-1"
            aria-label="Copy code"
            data-tooltip="Copy to clipboard"
            data-placement="left"
            href="/docs/button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="clipboard"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
              <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
            </svg>
          </a>
          <pre><code v-highlight>
&lt;div role="group"&gt;
  &lt;button&gt;Button&lt;/button&gt;
  &lt;button&gt;Button&lt;/button&gt;
  &lt;button&gt;Button&lt;/button&gt;
&lt;/div&gt;
          </code></pre>
        </footer>
      </article>
    </section>
  </div>
</template>
