<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Card</h1>
    <p>
      Create flexible cards with a semantic markup that provides graceful spacings across various devices and viewports.
    </p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/card"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/card#sectioning"
            >Sectioning</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article aria-label="Card example">
        I'm a card!
      </article>
      <div
        class="code small"
        data-theme="dark"
      >
        <code-block><pre>&lt;article&gt;I'm a card!&lt;/article&gt;</pre></code-block>
      </div>
    </section>
    <section>
      <p>
        You can use <code>&lt;header&gt;</code> and <code>&lt;footer&gt;</code> inside <code>&lt;article&gt;</code>.
      </p>
      <h2>
        Sectioning<a
          id="sectioning"
          href="#sectioning"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article aria-label="Card sectioning example">
        <header>Header</header>
        Body
        <footer>Footer</footer>
      </article>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;article&gt;
  &lt;header&gt;Header&lt;/header&gt;
  Body
  &lt;footer&gt;Footer&lt;/footer&gt;
&lt;/article&gt;</pre>
        </code-block>
      </div>
      <p>Optionally, you can use <code>&lt;main&gt;</code> to wrap the body content.</p>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;article&gt;
  &lt;header&gt;Header&lt;/header&gt;
  &lt;main&gt;Body&lt;/main&gt;
  &lt;footer&gt;Footer&lt;/footer&gt;
&lt;/article&gt;</pre>
        </code-block>
      </div>
    </section>
  </div>
</template>
