<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { computed } from 'vue';

import { useStorage } from '@/composables/useStorage';

import CodeBlock from '@/components/CodeBlock.vue';
import ThemeToggleIcon from '@/components/ThemeToggleIcon.vue';

// REFS
const theme = useStorage('theme');

// COMPUTED
const label = computed(() => ((theme.value === 'light') ? 'Turn on dark mode' : 'Turn off dark mode'));

// METHODS
function toggleTheme() {
  theme.value = (theme.value === 'light') ? 'dark' : 'light';
}
</script>

<template>
  <hgroup>
    <p class="chapter">
      Getting started
    </p>
    <h1>Color schemes</h1>
    <p>Choose from two consistent color schemes that can be automatically enabled based on users&#x27; preferences.</p>
  </hgroup>
  <div role="document">
    <p>
      The default color scheme is Light. The Dark scheme is automatically enabled if the user has dark mode enabled
      <code v-highlight>prefers-color-scheme: dark;</code>.
    </p>
    <article
      id="theme-switcher"
      aria-label="Theme switcher"
    >
      <button
        class="theme-toggler contrast"
        :aria-label="label"
        @click="toggleTheme"
      >
        <theme-toggle-icon :theme="theme" />
        <span>{{ label }}</span>
      </button>
    </article>
    <p>
      Color schemes can be forced on document level <code v-highlight>&lt;html data-theme="light"&gt;</code> or on any
      HTML element <code v-highlight>&lt;article data-theme=&quot;dark&quot;&gt;</code>
    </p>
    <article
      data-theme="light"
      aria-label="Forced light theme example"
    >
      <h2>Light card</h2>
      <form>
        <fieldset class="grid">
          <input
            type="text"
            name="login"
            placeholder="Login"
            aria-label="Login"
            autoComplete="nickname"
          ><input
            type="password"
            name="password"
            placeholder="Password"
            aria-label="Password"
            autoComplete="current-password"
          ><button
            type="submit"
            aria-label="Example button"
          >
            Login
          </button>
        </fieldset>
        <fieldset>
          <label><input
            type="checkbox"
            role="switch"
            name="switch"
            checked
          > Remember me</label>
        </fieldset>
      </form>
      <footer
        class="code"
        data-theme="light"
      >
        <code-block>
          <pre>&lt;article data-theme="light"&gt;
  ...
&lt;/article&gt;</pre>
        </code-block>
      </footer>
    </article>
    <article
      data-theme="dark"
      aria-label="Forced dark theme example"
    >
      <h2>Dark card</h2>
      <form>
        <fieldset class="grid">
          <input
            type="text"
            name="login"
            placeholder="Login"
            aria-label="Login"
            autoComplete="nickname"
          ><input
            type="password"
            name="password"
            placeholder="Password"
            aria-label="Password"
            autoComplete="current-password"
          ><button type="submit">
            Login
          </button>
        </fieldset>
        <fieldset>
          <label><input
            type="checkbox"
            role="switch"
            name="switch"
            checked
          > Remember me</label>
        </fieldset>
      </form>
      <footer
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;article data-theme="dark"&gt;
  ...
&lt;/article&gt;</pre>
        </code-block>
      </footer>
    </article>
  </div>
</template>

<style>
  article#theme-switcher button {
    display: block;
    width: 100%;
    margin-inline:auto;
  }

  @media(min-width: 576px) {
    article#theme-switcher button {
      width:50%;
      min-width: -moz-fit-content;
      min-width: fit-content;
    }
  }
</style>
