<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Forms
    </p>
    <h1>Textarea</h1>
    <p>The native <code>&lt;textarea&gt;</code> is styled like the input for consistency.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/forms/textarea"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/textarea#disabled"
            >Disabled</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/textarea#readonly"
            >Readonly</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/textarea#validation-states"
              aria-current="page"
            >Validation States</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article
        aria-label="Textarea example"
        class="component"
      >
        <textarea
          placeholder="Write a professional short bio..."
          aria-label="Professional short bio"
        />
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;textarea
  placeholder="Write a professional short bio..."
  aria-label="Professional short bio"
&gt;
&lt;/textarea&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Disabled Textarea<a
          id="disabled"
          href="#disabled"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Disabled example"
        class="component"
      >
        <textarea disabled="">Disabled</textarea>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;textarea disabled&gt;
  Disabled
&lt;/textarea&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Read-only Textarea<a
          id="readonly"
          href="#readonly"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Disabled example"
        class="component"
      >
        <textarea
          aria-label="Read-only textarea"
          readonly=""
        >Read-only</textarea>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;textarea readonly&gt;
  Read-only
&lt;/textarea&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Validation States<a
          id="validation-states"
          href="#validation-states"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Validation states are provided with <code><span class="">aria-invalid</span></code>.</p>
      <article
        aria-label="Validation states example"
        class="component"
      >
        <textarea
          placeholder="Valid"
          aria-invalid="false"
        >Valid</textarea>
        <textarea
          placeholder="Invalid"
          aria-invalid="true"
        >Invalid</textarea>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;textarea aria-invalid="false"&gt;
  Valid
&lt;/textarea&gt;

&lt;textarea aria-invalid="true"&gt;
  Invalid
&lt;/textarea&gt;</pre>
          </code-block>
        </footer>
      </article>
      <p>
        Helper texts, defined with <code>&lt;small&gt;</code> below the textarea, inherit the validation state color.
      </p>
      <article
        aria-label="Validation states example"
        class="component"
      >
        <textarea
          placeholder="Valid"
          aria-invalid="false"
          aria-describedby="valid-helper"
        >Valid</textarea>
        <small id="valid-helper">Looks good!</small>
        <textarea
          placeholder="Invalid"
          aria-invalid="true"
          aria-describedby="invalid-helper"
        >Invalid</textarea>
        <small id="invalid-helper">Please provide a valid value!</small>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;textarea
  aria-invalid="false"
  aria-describedby="valid-helper"
&gt;
  Valid
&lt;/textarea&gt;
&lt;small id="valid-helper"&gt;Looks good!&lt;/small&gt;

&lt;textarea
  aria-invalid="true"
  aria-describedby="invalid-helper"
&gt;
  Invalid
&lt;/textarea&gt;
&lt;small id="invalid-helper"&gt;
  Please provide a valid value!
&lt;/small&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
