<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Forms
    </p>
    <h1>Input</h1>
    <p>All input types are consistently styled and come with validation states.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/forms/input"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/input#datetime"
            >Datetime</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/input#search"
            >Search</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/input#color"
            >Color</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/input#file"
            >File</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/input#disabled"
            >Disabled</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/input#readonly"
            >Readonly</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/input#validation-states"
            >Validation States</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article
        aria-label="Input examples"
        class="component"
      >
        <input
          type="text"
          placeholder="Text"
          aria-label="Text"
        ><input
          type="email"
          placeholder="Email"
          aria-label="Email"
        ><input
          type="number"
          placeholder="Number"
          aria-label="Number"
        ><input
          type="password"
          placeholder="Password"
          aria-label="Password"
        ><input
          type="tel"
          placeholder="Tel"
          aria-label="Tel"
        ><input
          type="url"
          placeholder="Url"
          aria-label="Url"
        >
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;input type="text" placeholder="Text" aria-label="Text" /&gt;
&lt;input type="email" placeholder="Email" aria-label="Email" /&gt;
&lt;input type="number" placeholder="Number" aria-label="Number" /&gt;
&lt;input type="password" placeholder="Password" aria-label="Password" /&gt;
&lt;input type="tel" placeholder="Tel" aria-label="Tel" /&gt;
&lt;input type="url" placeholder="Url" aria-label="Url" /&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Datetime Input<a
          id="datetime"
          href="#datetime"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Datetime inputs come with an icon.</p>
      <article
        aria-label="Datetime input examples"
        class="component"
      >
        <input
          type="date"
          aria-label="Date"
        ><input
          type="datetime-local"
          aria-label="Datetime local"
        ><input
          type="month"
          aria-label="Month"
        ><input
          type="time"
          aria-label="Time"
        >
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;input type="date" aria-label="Date" /&gt;
&lt;input type="datetime-local" aria-label="Datetime local" /&gt;
&lt;input type="month" aria-label="Month" /&gt;
&lt;input type="time" aria-label="Time" /&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Search Input<a
          id="search"
          href="#search"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p><code><span class="">type="search"</span></code> comes with a distinctive style.</p>
      <article
        aria-label="Search input example"
        class="component"
      >
        <input
          type="search"
          placeholder="Search"
          aria-label="Search"
        >
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;input
  type="search"
  placeholder="Search"
  aria-label="Search"
/&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Color Input<a
          id="color"
          href="#color"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p><code><span class="">type="color"</span></code> is also consistent with the other input types.</p>
      <article
        aria-label="Color input example"
        class="component"
      >
        <input
          type="color"
          aria-label="Color picker"
          value="#be03ae"
        >
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;input
  type="color"
  value="#be03ae"
  aria-label="Color picker"
/&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        File Input<a
          id="file"
          href="#file"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Input type file button has a <a href="/docs/button#variants"><i>secondary</i> button style</a>.</p>
      <article
        aria-label="File input example"
        class="component"
      >
        <input type="file">
        <footer
          class="code small"
          data-theme="dark"
        >
          <code-block><pre>&lt;input type="file" /&gt;</pre></code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Disabled Input<a
          id="disabled"
          href="#disabled"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Disabled example"
        class="component"
      >
        <input
          type="text"
          placeholder="Disabled"
          aria-label="Disabled input"
          disabled=""
        >
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;input
  type="text"
  placeholder="Disabled"
  aria-label="Disabled input"
  disabled
/&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Read-only Input<a
          id="readonly"
          href="#readonly"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Disabled example"
        class="component"
      >
        <input
          type="text"
          aria-label="Read-only input"
          readonly=""
          value="Read-only"
        >
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;input
  type="text"
  value="Read-only"
  aria-label="Read-only input"
  readonly
/&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Validation States<a
          id="validation-states"
          href="#validation-states"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Validation states are provided with <code><span class="">aria-invalid</span></code>.</p>
      <article
        aria-label="Validation states example"
        class="component"
      >
        <input
          type="text"
          placeholder="Valid"
          aria-invalid="false"
          value="Valid"
        ><input
          type="text"
          placeholder="Invalid"
          aria-invalid="true"
          value="Invalid"
        >
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;input
  type="text"
  value="Valid"
  aria-invalid="false"
/&gt;

&lt;input
  type="text"
  value="Invalid"
  aria-invalid="true"
/&gt;</pre>
          </code-block>
        </footer>
      </article>
      <p>
        Helper texts, defined with <code>&lt;small&gt;</code> below the form element, inherit the validation state
        color.
      </p>
      <article
        aria-label="Validation states example"
        class="component"
      >
        <input
          type="text"
          placeholder="Valid"
          aria-invalid="false"
          aria-describedby="valid-helper"
          value="Valid"
        ><small id="valid-helper">Looks good!</small><input
          type="text"
          placeholder="Invalid"
          aria-invalid="true"
          aria-describedby="invalid-helper"
          value="Invalid"
        ><small id="invalid-helper">Please provide a valid value!</small>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;input
  type="text"
  value="Valid"
  aria-invalid="false"
  aria-describedby="valid-helper"
/&gt;
&lt;small id="valid-helper"&gt;Looks good!&lt;/small&gt;

&lt;input
  type="text"
  value="Invalid"
  aria-invalid="true"
  aria-describedby="invalid-helper"
/&gt;
&lt;small id="invalid-helper"&gt;
  Please provide a valid value!
&lt;/small&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
