<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Forms
    </p>
    <h1>Range</h1>
    <p>Create a slider control with the input type <code>&lt;input type="range"&gt;</code>.</p>
  </hgroup>
  <div role="document">
    <section>
      <article
        aria-label="Range examples"
        class="component"
      >
        <label>Brightness<input type="range"></label><label>Contrast<input
          type="range"
          value="40"
        ></label>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;label&gt;
  Brightness
  &lt;input type="range" /&gt;
&lt;/label&gt;

&lt;label&gt;
  Contrast
  &lt;input type="range" value="40" /&gt;
&lt;/label&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
