<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Forms
    </p>
    <h1>Radios</h1>
    <p>The native <code>&lt;input type="radio"&gt;</code> with a custom and responsive style.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/forms/radios"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/radios#horizontal-stacking"
            >Horizontal Stacking</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/radios#validation-states"
            >Validation States</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article
        aria-label="Radios example"
        class="component"
      >
        <fieldset>
          <legend>Language preference:</legend>
          <label><input
            type="radio"
            name="language"
            checked=""
          >English</label><label><input
            type="radio"
            name="language"
          >French</label><label><input
            type="radio"
            name="language"
          >Mandarin</label><label><input
            type="radio"
            name="language"
          >Thai</label><label aria-disabled="true"><input
            type="radio"
            name="language"
            disabled=""
          >Dothraki</label>
        </fieldset>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;fieldset&gt;
  &lt;legend&gt;Language preference:&lt;/legend&gt;
  &lt;label&gt;
    &lt;input type="radio" name="language" checked /&gt;
    English
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="radio" name="language" /&gt;
    French
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="radio" name="language" /&gt;
    Mandarin
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="radio" name="language" /&gt;
    Thai
  &lt;/label&gt;
  &lt;label aria-disabled="true"&gt;
    &lt;input type="radio" name="language" disabled /&gt;
    Dothraki
  &lt;/label&gt;
&lt;/fieldset&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Horizontal Stacking<a
          id="horizontal-stacking"
          href="#horizontal-stacking"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Horizontal stacking example"
        class="component"
      >
        <fieldset>
          <legend>Second language:</legend>
          <input
            id="hindi"
            type="radio"
            name="second-language"
            checked=""
          ><label for="hindi">Hindi</label><input
            id="swahili"
            type="radio"
            name="second-language"
          ><label for="swahili">Swahili</label><input
            id="navi "
            type="radio"
            name="second-language"
            disabled=""
          ><label
            for="navi"
            aria-disabled="true"
          >Na'vi</label>
        </fieldset>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;fieldset&gt;
  &lt;legend&gt;Second language:&lt;/legend&gt;
  &lt;input type="radio" id="hindi" name="second-language" checked /&gt;
  &lt;label htmlFor="hindi"&gt;Hindi&lt;/label&gt;
  &lt;input type="radio" id="swahili" name="second-language" /&gt;
  &lt;label htmlFor="swahili"&gt;Swahili&lt;/label&gt;
  &lt;input type="radio" id="navi " name="second-language" disabled /&gt;
  &lt;label htmlFor="navi" aria-disabled="true"&gt;Na'vi&lt;/label&gt;
&lt;/fieldset&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Validation States<a
          id="validation-states"
          href="#validation-states"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Validation states are provided with <code><span class="">aria-invalid</span></code>.</p>
      <article
        aria-label="Validation states example"
        class="component"
      >
        <fieldset>
          <label><input
            type="radio"
            name="validation-states"
            aria-invalid="false"
          >Valid</label><label><input
            type="radio"
            name="validation-states"
            aria-invalid="true"
          >Invalid</label>
        </fieldset>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;fieldset&gt;
  &lt;label&gt;
    &lt;input type="radio" name="validation-states" aria-invalid="false" /&gt;
    Valid
  &lt;/label&gt;

  &lt;label&gt;
    &lt;input type="radio" name="validation-states" aria-invalid="true" /&gt;
    Invalid
  &lt;/label&gt;
&lt;/fieldset&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
