<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { RouterLink } from 'vue-router';
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Forms
    </p>
    <h1>Select</h1>
    <p>The native <code>&lt;select&gt;</code> is styled like the input for consistency.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/forms/select"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/select#multiple"
            >Multiple</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/select#disabled"
            >Disabled</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/select#validation-states"
            >Validation States</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/select#dropdown"
            >Dropdown</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article
        aria-label="Select example"
        class="component"
      >
        <select
          id="favorite-pizza-toppings"
          required=""
        >
          <option
            disabled=""
            value=""
            selected=""
          >
            Select your favorite pizza toppings...
          </option>
          <option>Ham</option>
          <option>Cheese</option>
          <option>Pineapple</option>
          <option>Egg</option>
          <option>Prawns</option>
        </select>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;select required&gt;
  &lt;option selected disabled value=""&gt;
    Select your favorite cuisine...
  &lt;/option&gt;
  &lt;option&gt;Ham&lt;/option&gt;
  &lt;option&gt;Cheese&lt;/option&gt;
  &lt;option&gt;Pineapple&lt;/option&gt;
  &lt;option&gt;Egg&lt;/option&gt;
  &lt;option&gt;Prawns&lt;/option&gt;
&lt;/select&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Select Multiple<a
          id="multiple"
          href="#multiple"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Disabled and read-only example"
        class="component"
      >
        <select
          multiple=""
          size="6"
        >
          <option disabled="">
            Select your favorite snacks...
          </option>
          <option>Cheese</option>
          <option selected="">
            Fruits
          </option>
          <option selected="">
            Nuts
          </option>
          <option>Chocolate</option>
          <option>Crackers</option>
        </select>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;select multiple size="6"&gt;
  &lt;option disabled&gt;
    Select your favorite snacks...
  &lt;/option&gt;
  &lt;option&gt;Cheese&lt;/option&gt;
  &lt;option selected&gt;Fruits&lt;/option&gt;
  &lt;option selected&gt;Nuts&lt;/option&gt;
  &lt;option&gt;Chocolate&lt;/option&gt;
  &lt;option&gt;Crackers&lt;/option&gt;
&lt;/select&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Disabled Select<a
          id="disabled"
          href="#disabled"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Disabled example"
        class="component"
      >
        <select disabled="">
          <option>Select a meal type...</option>
        </select>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;select disabled&gt;
  &lt;option&gt;Select a meal type...&lt;/option&gt;
  &lt;option&gt;...&lt;/option&gt;
&lt;/select&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Validation States<a
          id="validation-states"
          href="#validation-states"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Validation states are provided with <code><span class="">aria-invalid</span></code>.</p>
      <article
        aria-label="Validation states example"
        class="component"
      >
        <select aria-invalid="false">
          <option disabled="">
            Select your favorite pizza topping...
          </option>
          <option selected="">
            Pepperoni
          </option>
          <option>Mushrooms</option>
          <option>Onions</option>
          <option>Green Peppers</option>
          <option>Olives</option>
        </select>
        <small>Great choice!</small>
        <select
          required=""
          aria-invalid="true"
        >
          <option
            disabled=""
            value=""
            selected=""
          >
            Select your favorite pizza topping...
          </option>
          <option>Pepperoni</option>
          <option>Mushrooms</option>
          <option>Onions</option>
          <option>Green Peppers</option>
          <option>Olives</option>
        </select>
        <small>Please select your favorite pizza topping!</small>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;select aria-invalid="false"&gt;
  ...
&lt;/select&gt;
&lt;small&gt;Great choice!&lt;/small&gt;

&lt;select required aria-invalid="true"&gt;
  ...
&lt;/select&gt;
&lt;small&gt;
  Please select your favorite pizza topping!
&lt;/small&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Dropdown<a
          id="dropdown"
          href="#dropdown"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        The dropdown component allows you to build a custom select with the same style as the native select. See
        <RouterLink to="/docs/dropdown">
          Dropdown
        </RouterLink>.
      </p>
      <article
        aria-label="Dropdowns as selects"
        class="component"
      >
        <div class="grid">
          <details class="dropdown">
            <summary>Select your favorite French dessert...</summary>
            <ul>
              <li>
                <label><input
                  type="radio"
                  name="french-dessert"
                  value="Crème brûlée"
                >Crème brûlée</label>
              </li>
              <li>
                <label><input
                  type="radio"
                  name="french-dessert"
                  value="Macarons"
                >Macarons</label>
              </li>
              <li>
                <label><input
                  type="radio"
                  name="french-dessert"
                  value="Tarte tatin"
                >Tarte tatin</label>
              </li>
              <li>
                <label><input
                  type="radio"
                  name="french-dessert"
                  value="Éclair"
                >Éclair</label>
              </li>
            </ul>
          </details>
        </div>
      </article>
    </section>
  </div>
</template>
