<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { onMounted, ref } from 'vue';
import CodeBlock from '@/components/CodeBlock.vue';

// REFS
const checkbox = ref(null);

// METHODS
onMounted(() => {
  checkbox.value.indeterminate = true;
});

</script>

<template>
  <hgroup>
    <p class="chapter">
      Forms
    </p>
    <h1>Checkboxes</h1>
    <p>The native <code>&lt;input type="checkbox"&gt;</code> with a custom and responsive style.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/forms/checkboxes"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/checkboxes#horizontal-stacking"
            >Horizontal Stacking</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/checkboxes#indeterminate"
            >Indeterminate</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/checkboxes#validation-states"
            >Validation States</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article
        aria-label="Checkboxes example"
        class="component"
      >
        <fieldset>
          <legend>Language preferences:</legend>
          <label><input
            type="checkbox"
            name="english"
            checked=""
          >English</label><label><input
            type="checkbox"
            name="french"
            checked=""
          >French</label><label><input
            type="checkbox"
            name="mandarin"
          >Mandarin</label><label><input
            type="checkbox"
            name="thai"
          >Thai</label><label aria-disabled="true"><input
            type="checkbox"
            name="dothraki"
            disabled=""
          >Dothraki</label>
        </fieldset>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;fieldset&gt;
  &lt;legend&gt;Language preferences:&lt;/legend&gt;
  &lt;label&gt;
    &lt;input type="checkbox" name="english" checked /&gt;
    English
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="checkbox" name="french" checked /&gt;
    French
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="checkbox" name="mandarin" /&gt;
    Mandarin
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="checkbox" name="thai" /&gt;
    Thai
  &lt;/label&gt;
  &lt;label aria-disabled="true"&gt;
    &lt;input type="checkbox" name="dothraki" disabled /&gt;
    Dothraki
  &lt;/label&gt;
&lt;/fieldset&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Horizontal Stacking<a
          id="horizontal-stacking"
          href="#horizontal-stacking"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Horizontal stacking example"
        class="component"
      >
        <fieldset>
          <legend>Language preferences:</legend>
          <input
            id="hindi"
            type="checkbox"
            name="hindi"
            checked=""
          ><label for="hindi">Hindi</label><input
            id="swahili"
            type="checkbox"
            name="swahili"
          ><label for="swahili">Swahili</label><input
            id="navi "
            type="checkbox"
            name="navi"
            disabled=""
          ><label
            for="navi"
            aria-disabled="true"
          >Na'vi</label>
        </fieldset>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;fieldset&gt;
  &lt;legend&gt;Language preferences:&lt;/legend&gt;
  &lt;input type="checkbox" id="hindi" name="hindi" checked /&gt;
  &lt;label htmlFor="hindi"&gt;Hindi&lt;/label&gt;
  &lt;input type="checkbox" id="swahili" name="swahili" /&gt;
  &lt;label htmlFor="swahili"&gt;Swahili&lt;/label&gt;
  &lt;input type="checkbox" id="navi " name="navi" disabled /&gt;
  &lt;label htmlFor="navi" aria-disabled="true"&gt;
&lt;/fieldset&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Indeterminate<a
          id="indeterminate"
          href="#indeterminate"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        You can change a checkbox to an indeterminate state by setting the <code>indeterminate</code> property to
        <code>true</code>.
      </p>
      <article
        aria-label="Indeterminate checkbox example"
        class="component"
      >
        <label><input
          ref="checkbox"
          type="checkbox"
          name="indeterminate"
        >Indeterminate</label>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;label&gt;
  &lt;input type="checkbox" id="indeterminate" name="indeterminate" /&gt;
  Indeterminate
&lt;/label&gt;

&lt;script&gt;
  const checkbox = document.querySelector('#indeterminate');
  checkbox.indeterminate = true;
&lt;/script&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Validation States<a
          id="validation-states"
          href="#validation-states"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Validation states are provided with <code><span class="">aria-invalid</span></code>.</p>
      <article
        aria-label="Validation states example"
        class="component"
      >
        <label><input
          type="checkbox"
          name="valid"
          aria-invalid="false"
        >Valid</label><label><input
          type="checkbox"
          name="invalid"
          aria-invalid="true"
        >Invalid</label>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;label&gt;
  &lt;input type="checkbox" name="valid" aria-invalid="false" /&gt;
  Valid
&lt;/label&gt;

&lt;label&gt;
  &lt;input type="checkbox" name="invalid" aria-invalid="true" /&gt;
  Invalid
&lt;/label&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
