<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Forms
    </p>
    <h1>Switch</h1>
    <p>A switch component in pure CSS, using the checkbox syntax.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/forms/switch"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/switch#disabled"
            >Disabled</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/forms/switch#validation-states"
            >Validation States</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article
        aria-label="Switch example"
        class="component"
      >
        <fieldset>
          <label><input
            type="checkbox"
            role="switch"
          >I agree to the Terms</label><label><input
            type="checkbox"
            role="switch"
            checked=""
          >I want to receive updates</label>
        </fieldset>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;fieldset&gt;
  &lt;label&gt;
    &lt;input type="checkbox" role="switch" /&gt;
    I agree to the Terms
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="checkbox" role="switch" checked /&gt;
    Receive news and offers
  &lt;/label&gt;
&lt;/fieldset&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Disabled<a
          id="disabled"
          href="#disabled"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Disabled switch example"
        class="component"
      >
        <fieldset>
          <label aria-disabled="true"><input
            type="checkbox"
            role="switch"
            disabled=""
          >Publish on my profile</label><label aria-disabled="true"><input
            type="checkbox"
            role="switch"
            disabled=""
            checked=""
          >Change my password at next login</label>
        </fieldset>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;fieldset&gt;
  &lt;label&gt;
    &lt;input type="checkbox" role="switch" disabled /&gt;
    Publish on my profile
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="checkbox" role="switch" checked disabled /&gt;
    Change my password at next login
  &lt;/label&gt;
&lt;/fieldset&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Validation States<a
          id="validation-states"
          href="#validation-states"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Validation states example"
        class="component"
      >
        <fieldset>
          <label><input
            type="checkbox"
            role="switch"
            aria-invalid="false"
          >Enable two-factor authentication</label><label><input
            type="checkbox"
            role="switch"
            aria-invalid="true"
          >Automatic subscription renewal</label>
        </fieldset>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;fieldset&gt;
  &lt;label&gt;
    &lt;input type="checkbox" role="switch" aria-invalid="false" /&gt;
    Enable two-factor authentication
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type="checkbox" role="switch" aria-invalid="true" /&gt;
    Automatic subscription renewal
  &lt;/label&gt;
&lt;/fieldset&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
