<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { computed, ref } from 'vue';

import CodeBlock from '@/components/CodeBlock.vue';

// REACTIVE
const columns = ref([1, 2, 3, 4]);

const columnSource = computed(() => {
  const divs = columns.value.reduce((acc, column) => `${acc}  <div>${column}</div>\n`, '');

  return `<div class="grid">\n${divs}</div>`;
});

// METHODS
function addColumn() {
  if (columns.value.length < 12) {
    columns.value.push(columns.value.length + 1);
  }
}

function removeColumn() {
  if (columns.value.length > 1) {
    columns.value.pop();
  }
}
</script>

<template>
  <hgroup>
    <p class="chapter">
      Layout
    </p>
    <h1>Grid</h1>
    <p>Create minimal responsive&nbsp;layouts with <code>.grid</code> to enable auto-layout&nbsp;columns.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open>
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/grid"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/grid#about-css-grids"
            >About CSS Grids</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p class="btn-group">
        <button
          class="secondary"
          @click="addColumn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle
              cx="12"
              cy="12"
              r="10"
            />
            <line
              x1="12"
              y1="8"
              x2="12"
              y2="16"
            />
            <line
              x1="8"
              y1="12"
              x2="16"
              y2="12"
            />
          </svg>
          Add column
        </button>
        <button
          class="secondary"
          @click="removeColumn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle
              cx="12"
              cy="12"
              r="10"
            />
            <line
              x1="8"
              y1="12"
              x2="16"
              y2="12"
            />
          </svg>
          Remove column
        </button>
      </p>
      <article
        class="component"
        aria-label="Grid example"
      >
        <div
          id="grid-example"
          class="grid"
        >
          <div
            v-for="column in columns"
            :key="column"
          >
            {{ column }}
          </div>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block><pre>{{ columnSource }}</pre></code-block>
        </footer>
      </article>
      <p>Columns intentionally collapse on small devices (<code>&lt;768px</code>).</p>
    </section>
  </div>
</template>

<style>
  #grid-example div {
    background-color: var(--nano-contrast-background);
    border: 1px solid var(--nano-contrast-border);
    color: var(--nano-contrast-inverse);
    margin: 0.1rem;
    text-align: center;
    padding: 1rem 0;
  }
</style>
