<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Group</h1>
    <p>Stack forms elements and buttons horizontally with <code>role="group"</code> and <code>role="search"</code>.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/group"
            >Forms</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/group#search"
            >Search</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/group#buttons"
              aria-current="page"
            >Buttons</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p><code>role="group"</code> is used to stack children horizontally.</p>
      <p>
        When used with the <code>&lt;form&gt;</code> tag, the group is <code><span class="">width: 100%;</span></code>.
      </p>
      <p>Unlike <code>.grid</code> (see <a href="/docs/grid">Grid</a>), columns are not collapsed on mobile devices.</p>
      <article
        class="component"
        aria-label="Form group example"
      >
        <form role="group">
          <input
            type="email"
            placeholder="Enter your email"
          ><input
            type="submit"
            value="Subscribe"
          >
        </form>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;form role="group"&gt;
  &lt;input type="email" placeholder="Enter your email" /&gt;
  &lt;input type="submit" value="Subscribe" /&gt;
&lt;/form&gt;</pre>
          </code-block>
        </footer>
      </article>
      <p>
        This component is mainly designed for form elements and buttons. It brings a <code>:focus</code> style to the
        group depending on whether the focused child is an <code>&lt;input&gt;</code> or a <code>&lt;button&gt;</code>.
      </p>
      <p>
        The group <code>:focus</code> style relies on the <code>:has()</code> CSS selector and is therefore not (yet)
        supported by Firefox (see on <a
          rel="noopener noreferrer"
          href="https://caniuse.com/css-has"
          target="_blank"
        >caniuse</a>). When <code>:has()</code> is not supported the children have their regular <code>:focus</code>
        style.
      </p>
      <article
        class="component"
        aria-label="Form group example"
      >
        <form role="group">
          <input
            type="email"
            placeholder="Email"
          ><input
            type="password"
            placeholder="Password"
          ><input
            type="submit"
            value="Log in"
          >
        </form>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;form role="group"&gt;
  &lt;input type="email" placeholder="Email" /&gt;
  &lt;input type="password" placeholder="Password" /&gt;
  &lt;input type="submit" value="Log in" /&gt;
&lt;/form&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Search<a
          id="search"
          href="#search"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        <code>role="search"</code> also stacks children horizontally and brings a special style, consistent with
        <code>&lt;input type="search" /&gt;</code> (see <a href="/docs/forms/input#search">Search input</a>).
      </p>
      <article
        class="component"
        aria-label="Searcgh group example"
      >
        <form role="search">
          <input
            type="search"
            placeholder="Search"
          ><input
            type="submit"
            value="Search"
          >
        </form>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;form role="search"&gt;
  &lt;input type="search" placeholder="Search" /&gt;
  &lt;input type="submit" value="Search" /&gt;
&lt;/form&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Buttons<a
          id="buttons"
          href="#buttons"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p><code>role="group"</code> is also useful for grouping a series of buttons.</p>
      <article
        class="component"
        aria-label="Group example"
      >
        <div role="group">
          <button>Button</button><button>Button</button><button>Button</button>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;div role="group"&gt;
  &lt;button&gt;Button&lt;/button&gt;
  &lt;button&gt;Button&lt;/button&gt;
  &lt;button&gt;Button&lt;/button&gt;
&lt;/div&gt;</pre>
          </code-block>
        </footer>
      </article>
      <article
        class="component"
        aria-label="Group example"
      >
        <div role="group">
          <button aria-current="true">
            Active
          </button><button>Button</button><button>Button</button>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;div role="group"&gt;
  &lt;button aria-current="true"&gt;Active&lt;/button&gt;
  &lt;button&gt;Button&lt;/button&gt;
  &lt;button&gt;Button&lt;/button&gt;
&lt;/div&gt;</pre>
          </code-block>
        </footer>
      </article>
      <article
        class="component"
        aria-label="Group example"
      >
        <div role="group">
          <button>Button</button><button class="secondary">
            Button
          </button><button class="contrast">
            Button
          </button>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;div role="group"&gt;
  &lt;button&gt;Button&lt;/button&gt;
  &lt;button class="secondary"&gt;Button&lt;/button&gt;
  &lt;button class="contrast"&gt;Button&lt;/button&gt;
&lt;/div&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
