<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { RouterLink } from 'vue-router';
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Layout
    </p>
    <h1>Landmarks &amp; Sections</h1>
    <p>Structure your pages with semantic landmarks and sections for better accessibility and graceful spacings.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open>
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/landmarks-section"
            >Landmarks</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/landmarks-section#root-container"
            >Custom root container</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/landmarks-section#section"
            >Section</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p>
        <code>&lt;header&gt;</code>, <code>&lt;main&gt;</code> and <code>&lt;footer&gt;</code> as direct children of
        <code>&lt;body&gt;</code> provide a responsive vertical <code>padding</code>.
      </p>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;body&gt;
  &lt;header&gt;...&lt;/header&gt;
  &lt;main&gt;...&lt;/main&gt;
  &lt;footer&gt;...&lt;/footer&gt;
&lt;/body&gt;</pre>
        </code-block>
      </div>
    </section>
    <section>
      <h2>
        Root container<a
          id="root-container"
          href="#root-container"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        If you need to customise the default root container for <code>&lt;header&gt;</code>, <code>&lt;main&gt;</code>,
        and <code>&lt;footer&gt;</code>, you can recompile Nano with another CSS selector.
      </p>
      <p>
        Useful for <a href="https://reactjs.org/">React</a>, <a href="https://www.gatsbyjs.com/">Gatsby</a>, or
        <a href="https://nextjs.org/">Next.js</a>.
      </p>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>// custom version for react
@use "nano" with (

  // define the root element used to target &lt;header&gt;, &lt;main&gt;, &lt;footer&gt;
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#root";

  // enable &lt;header&gt;, &lt;main&gt;, &lt;footer&gt; inside $semantic-root-element as containers
  $enable-semantic-container: true;
)</pre>
        </code-block>
      </div>
      <p>The code above will compile Nano with the containers defined like this:</p>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>// containers
#root > header,
#root > main,
#root > footer {
  ...
}</pre>
        </code-block>
      </div>
      <p>
        Learn more about <RouterLink to="/docs/sass">
          compiling a custom version of Nano with SASS
        </RouterLink>.
      </p>
    </section>
    <section>
      <h2>
        Section<a
          id="section"
          href="#section"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p><code>&lt;section&gt;</code> provides a responsive <code>margin-bottom</code> to separate your sections.</p>
    </section>
  </div>
</template>
