<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Content
    </p>
    <h1>Link</h1>
    <p>
      Links come with <code class="language-css">.secondary</code> and <code class="language-css">.contrast</code>
      styles.
    </p>
  </hgroup>
  <div role="document">
    <article
      aria-label="Links example"
      class="component"
    >
      <a href="/docs/link">Primary</a><br><a
        class="secondary"
        href="/docs/link"
      >Secondary</a><br><a
        class="contrast"
        href="/docs/link"
      >Contrast</a><br>
      <footer
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;a href="#"&gt;Primary&lt;/a&gt;
&lt;a href="#" class="secondary"&gt;Secondary&lt;/a&gt;
&lt;a href="#" class="contrast"&gt;Contrast&lt;/a&gt;</pre>
        </code-block>
      </footer>
    </article>
    <p>
      <code class="language-css">aria-current</code> send the active state to assistive technologies and is displayed as
      the hover links.
    </p>
    <article
      aria-label="Active link example"
      class="component"
    >
      <a href="/docs/link">Regular link</a><br><a
        aria-current="page"
        href="/docs/link"
      >Active link</a><br><a href="/docs/link">Regular link</a><br>
      <footer
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;a href="#"&gt;Regular link&lt;/a&gt;
&lt;a href="#" aria-current="page"&gt;Active link&lt;/a&gt;
&lt;a href="#"&gt;Regular link&lt;/a&gt;</pre>
        </code-block>
      </footer>
    </article>
  </div>
</template>
