<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Loading</h1>
    <p>Add a loading indicator with <code><span class="">aria-busy="true"</span></code>.</p>
  </hgroup>
  <div role="document">
    <section>
      <p>It can be applied to any block:</p>
      <article
        aria-label="Loading example"
        aria-busy="true"
      />
      <div
        class="code"
        data-theme="dark"
      >
        <code-block><pre>&lt;article aria-busy="true"&gt;&lt;/article&gt;</pre></code-block>
      </div>
      <p>Any inline element:</p>
      <article aria-label="Loading example">
        <a
          aria-busy="true"
          href="/docs/loading"
        >Your link is being generated...</a>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;a href="#" aria-busy="true"&gt;Your link is being generated...&lt;/a&gt;</pre>
          </code-block>
        </footer>
      </article>
      <p>Any button:</p>
      <article aria-label="Loading button examples">
        <div
          id="buttons"
          class="grid"
        >
          <button
            aria-busy="true"
            aria-label="Please wait…"
          /><button
            aria-busy="true"
            aria-label="Please wait…"
            class="secondary"
          /><button
            aria-busy="true"
            aria-label="Please wait…"
            class="contrast"
          />
        </div>
        <div
          id="outline-buttons"
          class="grid"
        >
          <button
            aria-busy="true"
            class="outline"
          >
            Please wait…
          </button><button
            aria-busy="true"
            class="outline secondary"
          >
            Please wait…
          </button><button
            aria-busy="true"
            class="outline contrast"
          >
            Please wait…
          </button>
        </div>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;button aria-busy="true" aria-label="Please wait…" /&gt;
&lt;button aria-busy="true" aria-label="Please wait…" class="secondary" /&gt;
&lt;button aria-busy="true" aria-label="Please wait…" class="contrast" /&gt;
&lt;button aria-busy="true" class="outline"&gt;Please wait…&lt;/button&gt;
&lt;button aria-busy="true" class="outline secondary"&gt;Please wait…&lt;/button&gt;
&lt;button aria-busy="true" class="outline contrast"&gt;Please wait…&lt;/button&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>

<style>
  .grid#buttons {
    margin-bottom: var(--nano-spacing);
  }
</style>
