<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      About
    </p>
    <h1>Mission</h1>
    <p>
      Nano is aimed at being a minimal starter kit for building web-based UIs. Providing enough styling that prioritises
      semantic HTML, making every HTML tag responsive and elegant by default. All alongside a collection of lightweight
      Vue components to help build interfaces quicker.
    </p>
  </hgroup>
  <div role="document">
    <section>
      <p>
        With a focus on simplicity, Nano provides a clean starting point for building web-based UIs without the need for
        <span data-tooltip="&#129326;">excessive CSS classes</span>, <span data-tooltip="&#128580;">wrappers</span> and
        <span data-tooltip="&#128169;">excessive JS dependencies</span>.
      </p>
      <p>
        After many frustrated attempts at bending Bootstrap to my will, I went in search for a better starting position.
        That's when I came across <a href="https://github.com/picocss/pico">Pico CSS</a>, a framework that provided just
        enough structure to build big things but was small enough to stay out of your way.
      </p>
      <p>
        With an amazing CSS foundation to build upon, I set out to create a collection of Vue components that would help
        me build interfaces quicker. The result is Nano.
      </p>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;main&gt;
  &lt;h1&gt;Join the pursuit of HTML simplicity.&lt;/h1&gt;
  &lt;p&gt;Let’s avoid meaningless div and classes and make it beautiful!&lt;/p&gt;
  &lt;form&gt;
    &lt;input type="email" placeholder="Your email" /&gt;
    &lt;input type="submit"&gt;Let’s start!&lt;/input&gt;
  &lt;/form&gt;
&lt;/main&gt;

&lt;footer&gt;This page should be fast enough to please the algorithms.&lt;/footer&gt;</pre>
        </code-block>
      </div>
    </section>
  </div>
</template>
