<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { ref } from 'vue';

import CodeBlock from '@/components/CodeBlock.vue';
import NModal from '@/components/NModal.vue';

// REACTIVES
const modalOpen = ref(false);

// METHODS
const closeModal = () => {
  modalOpen.value = false;
};

const openModal = () => {
  modalOpen.value = true;
};
</script>

<template>
  <n-modal :open="modalOpen">
    <h2>Confirm Your Membership</h2>
    <p>Thank you for signing up for a membership! Please review the membership details below:</p>
    <ul>
      <li>Membership: Individual</li>
      <li>Price: $10</li>
    </ul>
    <footer>
      <button
        class="secondary"
        @click="closeModal()"
      >
        Cancel
      </button><button @click="closeModal()">
        Confirm
      </button>
    </footer>
  </n-modal>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Modal</h1>
    <p>
      The classic modal component with graceful spacings across devices and viewports, using the semantic HTML tag
      <code>&lt;dialog&gt;</code>.
    </p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/modal"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/modal#demo"
            >Demo</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/modal#utilities"
            >Utilities</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p>
        Modals are built with <code>&lt;dialog&gt;</code> as a wrapper and <code>&lt;article&gt;</code> for the modal
        content.
      </p>
      <p>
        Inside <code>&lt;header&gt;</code> <code>&lt;a class="close"&gt;</code> is defined to <code>float: right;</code>
        allowing a close icon to be top aligned with a title.
      </p>
      <dialog
        class="example"
        open=""
      >
        <article>
          <header>
            <a
              aria-label="Close"
              class="close"
              href="/docs/modal"
            />
            <p><strong>🗓️ Thank You for Registering!</strong></p>
          </header>
          <p>
            We're excited to have you join us for our upcoming event. Please arrive at the museum on time to check in
            and get started.
          </p>
          <ul>
            <li>Date: Saturday, April 15</li>
            <li>Time: 10:00am - 12:00pm</li>
          </ul>
        </article>
      </dialog>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;dialog open&gt;
  &lt;article&gt;
    &lt;header&gt;
      &lt;Link to="#" aria-label="Close" class="close" /&gt;
      &lt;p&gt;
        &lt;strong&gt;🗓️ Thank You for Registering!&lt;/strong&gt;
      &lt;/p&gt;
    &lt;/header&gt;
    &lt;p&gt;
      We're excited to have you join us for our
      upcoming event. Please arrive at the museum
      on time to check in and get started.
    &lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;Date: Saturday, April 15&lt;/li&gt;
      &lt;li&gt;Time: 10:00am - 12:00pm&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/article&gt;
&lt;/dialog&gt;</pre>
        </code-block>
      </div>
      <p>Inside <code>&lt;footer&gt;</code>, the content is right aligned by default.</p>
      <dialog
        open=""
        class="example"
      >
        <article>
          <h2>Confirm Your Membership</h2>
          <p>Thank you for signing up for a membership! Please review the membership details below:</p>
          <ul>
            <li>Membership: Individual</li>
            <li>Price: $10</li>
          </ul>
          <footer>
            <button class="secondary">
              Cancel
            </button><button>Confirm</button>
          </footer>
        </article>
      </dialog>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;dialog open&gt;
  &lt;article&gt;
    &lt;h2&gt;Confirm Your Membership&lt;/h2&gt;
    &lt;p&gt;
      Thank you for signing up for a membership!
      Please review the membership details below:
    &lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;Membership: Individual&lt;/li&gt;
      &lt;li&gt;Price: $10&lt;/li&gt;
    &lt;/ul&gt;
    &lt;footer&gt;
      &lt;button className="secondary"&gt;
        Cancel
      &lt;/button&gt;
      &lt;button&gt;Confirm&lt;/button&gt;
    &lt;/footer&gt;
  &lt;/article&gt;
&lt;/dialog&gt;</pre>
        </code-block>
      </div>
    </section>
    <section>
      <h2>
        Demo<a
          id="demo"
          href="#demo"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Toggle a modal by clicking the button below.</p>
      <article
        id="modal-demo"
        aria-label="Modal demo"
      >
        <button
          class="contrast"
          @click="openModal()"
        >
          Open modal
        </button>
      </article>
      <p>nano does not include JavaScript code. You need to implement your JS to interact with modals.</p>
      <p>To open a modal, add the <code>open</code> attribute to the<code>&lt;dialog&gt;</code> container.</p>
    </section>
    <section>
      <h2>
        Utilities<a
          id="utilities"
          href="#utilities"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Modals come with 3 utility classes.</p>
      <p><code><span class="">.modal-is-open</span></code> prevents any scrolling and interactions below the modal.</p>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;!doctype html&gt;
&lt;html class="modal-is-open"&gt;
  ...
&lt;/html&gt;</pre>
        </code-block>
      </div>
      <p><code><span class="">.modal-is-opening</span></code> brings an opening animation.</p>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;!doctype html&gt;
&lt;html class="modal-is-open modal-is-opening"&gt;
  ...
&lt;/html&gt;</pre>
        </code-block>
      </div>
      <p><code><span class="">.modal-is-closing</span></code> brings a closing animation.</p>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;!doctype html&gt;
&lt;html class="modal-is-open modal-is-closing"&gt;
  ...
&lt;/html&gt;</pre>
        </code-block>
      </div>
    </section>
  </div>
</template>

<style>
  dialog.example {
    z-index: inherit;
    position: relative;
    min-height: inherit;
    margin: 0 calc(var(--nano-spacing) * -1) var(--nano-block-spacing-vertical) calc(var(--nano-spacing) * -1);
    inset: inherit
  }

  @media(min-width: 576px) {
    dialog.example {
      margin:0;
      margin-bottom: var(--nano-block-spacing-vertical)
    }
  }

  dialog.example>article {
    animation: none
  }

  article#modal-demo button {
    display: block;
    width: 100%;
    margin-inline:auto;
  }

  @media(min-width: 576px) {
    article#modal-demo button {
        width:50%;
        min-width: -moz-fit-content;
        min-width: fit-content;
    }
  }
</style>
