<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Nav</h1>
    <p>The essential navbar component in pure semantic HTML.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/nav"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/nav#link-variants"
            >Link variants</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/nav#buttons"
            >Buttons</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/nav#vertical-stacking"
            >Vertical stacking</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/nav#breadcrumb"
            >Breadcrumb</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article aria-label="Nav example">
        <nav>
          <ul>
            <li><strong>Acme Corp</strong></li>
          </ul>
          <ul>
            <li><a href="/docs/nav">About</a></li>
            <li><a href="/docs/nav">Services</a></li>
            <li><a href="/docs/nav">Products</a></li>
          </ul>
        </nav>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;nav&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;strong&gt;Acme Corp&lt;/strong&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Products&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</pre>
          </code-block>
        </footer>
      </article>
      <p><code>&lt;ul&gt;</code> are automatically distributed horizontally.</p>
      <p><code>&lt;li&gt;</code> are unstyled and inlined.</p>
      <p><code>&lt;a&gt;</code> are underlined only on <code>:hover</code>.</p>
    </section>
    <section>
      <h2>
        Link variants<a
          id="link-variants"
          href="#link-variants"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>You can use <code>.secondary</code>, <code>.contrast</code>, and <code>.outline</code> classes.</p>
      <article aria-label="Nav example">
        <nav>
          <ul>
            <li><strong>Acme Corp</strong></li>
          </ul>
          <ul>
            <li>
              <a
                class="contrast"
                href="/docs/nav"
              >About</a>
            </li>
            <li>
              <a
                class="contrast"
                href="/docs/nav"
              >Services</a>
            </li>
            <li>
              <a
                class="contrast"
                href="/docs/nav"
              >Products</a>
            </li>
          </ul>
        </nav>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;nav&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;strong&gt;Acme Corp&lt;/strong&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#" class="contrast"&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#" class="contrast"&gt;Services&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#" class="contrast"&gt;Products&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</pre>
          </code-block>
        </footer>
      </article>
      <article aria-label="Nav example">
        <nav>
          <ul>
            <li>
              <a
                class="secondary"
                aria-label="Menu"
                href="/docs/nav"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="1rem"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M4 6l16 0" />
                  <path d="M4 12l16 0" />
                  <path d="M4 18l16 0" />
                </svg>
              </a>
            </li>
          </ul>
          <ul>
            <li><strong>Acme Corp</strong></li>
          </ul>
          <ul>
            <li>
              <a
                class="secondary"
                aria-label="Twitter"
                href="/docs/nav"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  height="1rem"
                  width="100%"
                >
                  <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;nav&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#" class="secondary"&gt;...&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;strong&gt;Acme Corp&lt;/strong&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#" class="secondary"&gt;...&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Buttons<a
          id="buttons"
          href="#buttons"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>You can use <code>&lt;button&gt;</code> inside <code>&lt;li&gt;</code>.</p>
      <p>Button sizes automatically match link size and margin.</p>
      <article aria-label="Nav example">
        <nav>
          <ul>
            <li><strong>Acme Corp</strong></li>
          </ul>
          <ul>
            <li><a href="/docs/nav">About</a></li>
            <li><a href="/docs/nav">Services</a></li>
            <li>
              <button class="secondary">
                Products
              </button>
            </li>
          </ul>
        </nav>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;nav&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;strong&gt;Acme Corp&lt;/strong&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button class="secondary"&gt;Products&lt;/button&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Vertical stacking<a
          id="vertical-stacking"
          href="#vertical-stacking"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>Inside <code>&lt;aside&gt;</code>, navs items are stacked vertically.</p>
      <article aria-label="Vertical nav example">
        <aside>
          <nav>
            <ul>
              <li><a href="/docs/nav">About</a></li>
              <li><a href="/docs/nav">Services</a></li>
              <li><a href="/docs/nav">Products</a></li>
            </ul>
          </nav>
        </aside>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;aside&gt;
  &lt;nav&gt;
    &lt;ul&gt;
      &lt;li&gt;&lt;a href="#"&gt;About&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Products&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/nav&gt;
&lt;/aside&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <p>You can also use <a href="/docs/dropdown">Dropdowns</a> inside navs.</p>
    <section>
      <h2>
        Breadcrumb<a
          id="breadcrumb"
          href="#breadcrumb"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>With <code>&lt;nav aria-label="breadcrumb"&gt;</code>, you can turn a nav into a breadcrumb.</p>
      <article aria-label="Breadcrumb example">
        <nav aria-label="breadcrumb">
          <ul>
            <li><a href="/docs/nav">Home</a></li>
            <li><a href="/docs/nav">Services</a></li>
            <li>Design</li>
          </ul>
        </nav>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;nav aria-label="breadcrumb"&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;Design&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</pre>
          </code-block>
        </footer>
      </article>
      <p>You can change the divider with a local CSS custom property <code>--nano-nav-breadcrumb-divider</code>.</p>
      <article aria-label="Breadcrumb example">
        <nav
          aria-label="breadcrumb"
          style="--nano-nav-breadcrumb-divider: '/';"
        >
          <ul>
            <li><a href="/docs/nav">Home</a></li>
            <li><a href="/docs/nav">Services</a></li>
            <li>Design</li>
          </ul>
        </nav>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;nav
  aria-label="breadcrumb"
  style="--nano-nav-breadcrumb-divider: '/';"
&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;Design&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
