<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Note</h1>
    <p>Enable users to quickly understand the context of the information they are reading with the handful of available and flexible note messages.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/card"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/card#sectioning"
            >Sectioning</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p>Notes can be created using the <code>role="note"</code> attribute and can be further styled with the <code>primary</code>, <code>secondary</code>, <code>contrast</code>, <code>danger</code>, <code>info</code>, <code>success</code> and <code>warning</code> classes.</p>

      <div class="primary" role="note">A simple <strong>primary</strong> note.</div>
      <div class="secondary" role="note">A simple <strong>secondary</strong> note.</div>
      <div class="contrast" role="note">A simple <strong>contrast</strong> note.</div>
      <div class="danger" role="note">
        <p>A simple <strong>danger</strong> note is expected to be multiline supported. Still got some more text to get this bad buy wrapping.</p>
        <p>Paragraphs are also supposed to be styled accordingly.</p>
      </div>
      <div class="info" role="note">
        <p>A simple <strong>info</strong> note.</p>
        <p>This line has a <a href="#">link</a> in it.</p>
      </div>
      <div class="success" role="note">A simple <strong>success</strong> note.</div>
      <div class="warning" role="note">A simple <strong>warning</strong> note.</div>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block><pre>&lt;div class="danger" role="note"&gt;
  A simple &lt;strong&gt;danger&lt;/strong&gt; note.
&lt;/div&gt;
&lt;div class="info" role="note"&gt;
  A simple &lt;strong&gt;info&lt;/strong&gt; note.
&lt;/div&gt;
&lt;div class="success" role="note"&gt;
  A simple &lt;strong&gt;success&lt;/strong&gt; note.
&lt;/div&gt;
&lt;div class="warning" role="note"&gt;
  A simple &lt;strong&gt;warning&lt;/strong&gt; note.
&lt;/div&gt;
</pre></code-block>
      </div>
    </section>
  </div>
</template>
