<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Layout
    </p>
    <h1>Overflow Auto</h1>
    <p><code v-highlight>.overflow-auto</code> enables automatic scrollbars to an element if its content extends beyond its limits.</p>
  </hgroup>
  <div role="document">
    <section>
      <p>Useful to have responsive <code v-highlight>&lt;table&gt;</code>.</p>
      <div class="overflow-auto">
        <table>
          <thead>
            <tr>
              <th>Heading</th>
              <th>Heading</th>
              <th>Heading</th>
              <th>Heading</th>
              <th>Heading</th>
              <th>Heading</th>
              <th>Heading</th>
              <th>Heading</th>
              <th>Heading</th>
              <th>Heading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block language="xml">
          <pre>&lt;div class="overflow-auto"&gt;
  &lt;table&gt;
    ...
  &lt;/table&gt;
&lt;/div&gt;</pre>
        </code-block>
      </div>
    </section>
  </div>
</template>
