<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Progress</h1>
    <p>The progress bar element in pure HTML, without JavaScript.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/progress"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/progress#indeterminate"
            >Indeterminate</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article
        aria-label="Progress example"
        class="component"
      >
        <progress
          value="94"
          max="100"
        />
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block><pre>&lt;progress value="51" max="100" /&gt;</pre></code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Indeterminate<a
          id="indeterminate"
          href="#indeterminate"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <article
        aria-label="Indeterminate progress example"
        class="component"
      >
        <progress />
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block><pre>&lt;progress /&gt;</pre></code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
