<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Getting started
    </p>
    <h1>Quick Start</h1>
    <p>
      Link <code>nano.css</code> manually for a dependency-free setup. If you want the Vue extensions then also link
      <code>nano-vue.js</code>.
    </p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open>
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs#install-manually"
            >Install manually</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs#starter-html-template"
            >Starter HTML template</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section aria-label="Introduction">
      <p>There is only 1 way to get started with nano.css:</p>
    </section>
    <section>
      <h2>
        Install manually<a
          id="install-manually"
          href="#install-manually"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        <a
          rel="noopener noreferrer"
          href="https://gitlab.com/firnsy/nano/-/archive/develop/nano-develop.zip"
          target="_blank"
        >Download Nano</a> and link <code>/dist/css/nano.min.css</code> in the <code
          v-highlight
          class="language-xml"
        >&lt;head&gt;</code> of your website.
      </p>
      <div
        class="code small"
        data-theme="dark"
      >
        <code-block><pre>&lt;link rel=&quot;stylesheet&quot; href=&quot;css/nano.min.css&quot; /&gt;</pre></code-block>
      </div>
    </section>
    <section>
      <h2>
        Starter HTML template<a
          id="starter-html-template"
          href="#starter-html-template"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;!doctype html&gt;
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="css/nano.min.css"&gt;
    &lt;script src="js/nano-vue.min.js" /&gt;
    &lt;title&gt;Hello, world!&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;main class="container"&gt;
      &lt;h1&gt;Hello, world!&lt;/h1&gt;
    &lt;/main&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
        </code-block>
      </div>
    </section>
  </div>
</template>
