<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Content
    </p>
    <h1>Table</h1>
    <p>
      Clean and minimal styles for <code>&lt;table&gt;</code>, providing consistent spacings and a minimal unbordered
      look.
    </p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open>
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/table"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/table#color-schemes"
            >Color schemes</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/table#striped"
            >Striped</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <div class="overflow-auto">
        <table>
          <thead>
            <tr>
              <th scope="col">
                Planet
              </th>
              <th scope="col">
                Diam. (km)
              </th>
              <th scope="col">
                Dist. to Sun (AU)
              </th>
              <th scope="col">
                Grav. (m/s²)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Mercury
              </th>
              <td>4,880</td>
              <td>0.39</td>
              <td>3.7</td>
            </tr>
            <tr>
              <th scope="row">
                Venus
              </th>
              <td>12,104</td>
              <td>0.72</td>
              <td>8.9</td>
            </tr>
            <tr>
              <th scope="row">
                Earth
              </th>
              <td>12,742</td>
              <td>1.00</td>
              <td>9.8</td>
            </tr>
            <tr>
              <th scope="row">
                Mars
              </th>
              <td>6,779</td>
              <td>1.52</td>
              <td>3.7</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th scope="row">
                Average
              </th>
              <td>9,126</td>
              <td>0.91</td>
              <td>6.5</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;table&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope="col"&gt;Planet&lt;/th&gt;
      &lt;th scope="col"&gt;Diameter (km)&lt;/th&gt;
      &lt;th scope="col"&gt;Distance to Sun (AU)&lt;/th&gt;
      &lt;th scope="col"&gt;Orbit (days)&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;th scope="row"&gt;Mercury&lt;/th&gt;
      &lt;td&gt;4,880&lt;/td&gt;
      &lt;td&gt;0.39&lt;/td&gt;
      &lt;td&gt;88&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th scope="row"&gt;Venus&lt;/th&gt;
      &lt;td&gt;12,104&lt;/td&gt;
      &lt;td&gt;0.72&lt;/td&gt;
      &lt;td&gt;225&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th scope="row"&gt;Earth&lt;/th&gt;
      &lt;td&gt;12,742&lt;/td&gt;
      &lt;td&gt;1.00&lt;/td&gt;
      &lt;td&gt;365&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th scope="row"&gt;Mars&lt;/th&gt;
      &lt;td&gt;6,779&lt;/td&gt;
      &lt;td&gt;1.52&lt;/td&gt;
      &lt;td&gt;687&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &lt;tfoot&gt;
    &lt;tr&gt;
      &lt;th scope="row"&gt;Average&lt;/th&gt;
      &lt;td&gt;9,126&lt;/td&gt;
      &lt;td&gt;0.91&lt;/td&gt;
      &lt;td&gt;341&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tfoot&gt;
&lt;/table&gt;</pre>
        </code-block>
      </div>
    </section>
    <section>
      <h2>
        Color schemes<a
          id="color-schemes"
          href="#color-schemes"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        <code>data-theme=&quot;light&quot;</code> or <code>data-theme=&quot;dark&quot;</code> can be used at any level:
        <code>&lt;table&gt;</code>, <code>&lt;thead&gt;</code>, <code>&lt;tbody&gt;</code>, <code>&lt;tfoot&gt;</code>,
        <code>&lt;tr&gt;</code>, <code>&lt;th&gt;</code>, <code>&lt;td&gt;</code>.
      </p>
      <div class="overflow-auto">
        <table>
          <thead data-theme="dark">
            <tr>
              <th scope="col">
                Planet
              </th>
              <th scope="col">
                Diam. (km)
              </th>
              <th scope="col">
                Dist. to Sun (AU)
              </th>
              <th scope="col">
                Grav. (m/s²)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Mercury
              </th>
              <td>4,880</td>
              <td>0.39</td>
              <td>3.7</td>
            </tr>
            <tr>
              <th scope="row">
                Venus
              </th>
              <td>12,104</td>
              <td>0.72</td>
              <td>8.9</td>
            </tr>
            <tr>
              <th scope="row">
                Earth
              </th>
              <td>12,742</td>
              <td>1.00</td>
              <td>9.8</td>
            </tr>
            <tr>
              <th scope="row">
                Mars
              </th>
              <td>6,779</td>
              <td>1.52</td>
              <td>3.7</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th scope="row">
                Average
              </th>
              <td>9,126</td>
              <td>0.91</td>
              <td>6.5</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <code-block>
        <pre>&lt;table&gt;
  &lt;thead data-theme="dark"&gt;
    ...
  &lt;/thead&gt;
  &lt;tbody&gt;...&lt;/tbody&gt;
  &lt;tfoot&gt;...&lt;/tfoot&gt;
&lt;/table&gt;</pre>
      </code-block>
    </section>
    <section>
      <h2>
        Striped table<a
          id="striped"
          href="#striped"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p><code>.striped</code> enable striped rows.</p>
      <div class="overflow-auto">
        <table class="striped">
          <thead>
            <tr>
              <th scope="col">
                Planet
              </th>
              <th scope="col">
                Diam. (km)
              </th>
              <th scope="col">
                Dist. to Sun (AU)
              </th>
              <th scope="col">
                Grav. (m/s²)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Mercury
              </th>
              <td>4,880</td>
              <td>0.39</td>
              <td>3.7</td>
            </tr>
            <tr>
              <th scope="row">
                Venus
              </th>
              <td>12,104</td>
              <td>0.72</td>
              <td>8.9</td>
            </tr>
            <tr>
              <th scope="row">
                Earth
              </th>
              <td>12,742</td>
              <td>1.00</td>
              <td>9.8</td>
            </tr>
            <tr>
              <th scope="row">
                Mars
              </th>
              <td>6,779</td>
              <td>1.52</td>
              <td>3.7</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th scope="row">
                Average
              </th>
              <td>9,126</td>
              <td>0.91</td>
              <td>6.5</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div
        class="code"
        data-theme="dark"
      >
        <a
          class="copy-to-clipboard"
          tabindex="-1"
          aria-label="Copy code"
          data-tooltip="Copy to clipboard"
          data-placement="left"
          href="/docs/table"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="clipboard"
          >
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            />
            <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
            <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
          </svg>
        </a>
        <pre><code v-highlight>
&lt;table class="striped"&gt;
  ...
&lt;/table&gt;
        </code></pre>
      </div>
    </section>
    <section>
      <h2>
        Hover table<a
          id="hover"
          href="#hover"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p><code>.hover</code> enable striped rows.</p>
      <div class="overflow-auto">
        <table class="hover">
          <thead>
            <tr>
              <th scope="col">
                Planet
              </th>
              <th scope="col">
                Diam. (km)
              </th>
              <th scope="col">
                Dist. to Sun (AU)
              </th>
              <th scope="col">
                Grav. (m/s²)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Mercury
              </th>
              <td>4,880</td>
              <td>0.39</td>
              <td>3.7</td>
            </tr>
            <tr>
              <th scope="row">
                Venus
              </th>
              <td>12,104</td>
              <td>0.72</td>
              <td>8.9</td>
            </tr>
            <tr>
              <th scope="row">
                Earth
              </th>
              <td>12,742</td>
              <td>1.00</td>
              <td>9.8</td>
            </tr>
            <tr>
              <th scope="row">
                Mars
              </th>
              <td>6,779</td>
              <td>1.52</td>
              <td>3.7</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th scope="row">
                Average
              </th>
              <td>9,126</td>
              <td>0.91</td>
              <td>6.5</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div
        class="code"
        data-theme="dark"
      >
        <code-block>
          <pre>&lt;table class="hover"&gt;
  ...
&lt;/table&gt;</pre>
        </code-block>
      </div>
    </section>
  </div>
</template>
