<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Tabs</h1>
    <p>ARIA compabitble tabs with semantic HTML.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/tabs"
              aria-current="page"
            >Syntax</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article aria-label="Nav example">
        <nav
          role="tablist"
          aria-label="tabs"
        >
          <ul>
            <li>
              <a
                id="tab-1"
                role="tab"
                aria-controls="panel-1"
                tabindex="0"
              >First Tab</a>
            </li>
            <li>
              <a
                id="tab-2"
                role="tab"
                aria-controls="panel-2"
                tabindex="-1"
              >Second Tab</a>
            </li>
            <li>
              <a
                id="tab-3"
                role="tab"
                aria-controls="panel-3"
                tabindex="-1"
              >Third Tab</a>
            </li>
          </ul>
        </nav>
        <section>
          <div
            id="panel-1"
            role="tabpanel"
            tabindex="0"
            aria-labelledby="tab-1"
          >
            <p>Content for the first panel</p>
          </div>
          <div
            id="panel-2"
            role="tabpanel"
            tabindex="0"
            aria-labelledby="tab-2"
            hidden
          >
            <p>Content for the second panel</p>
          </div>
          <div
            id="panel-3"
            role="tabpanel"
            tabindex="0"
            aria-labelledby="tab-3"
            hidden
          >
            <p>Content for the third panel</p>
          </div>
        </section>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;nav role="tablist" aria-label="tabs"&gt;
 &lt;ul&gt;
    &lt;li&gt;&lt;a role="tab" id="tab-1"&gt;First Tab&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a role="tab" id="tab-2"&gt;Second Tab&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a role="tab" id="tab-3"&gt;Third Tab&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
&lt;section&gt;
  &lt;div id="panel-1" role="tabpanel" aria-labelledby="tab-1"&gt;
    &lt;p&gt;Content for the first panel&lt;/p&gt;
  &lt;/div&gt;
  &lt;div id="panel-2" role="tabpanel" aria-labelledby="tab-2" hidden&gt;
    &lt;p&gt;Content for the second panel&lt;/p&gt;
  &lt;/div&gt;
  &lt;div id="panel-3" role="tabpanel" aria-labelledby="tab-3" hidden&gt;
    &lt;p&gt;Content for the third panel&lt;/p&gt;
  &lt;/div&gt;
&lt;/section&gt;</pre>
          </code-block>
        </footer>
      </article>
      <p><code>&lt;ul&gt;</code> are automatically distributed horizontally.</p>
      <p><code>&lt;li&gt;</code> are unstyled and inlined.</p>
      <p><code>&lt;a&gt;</code> are underlined only on <code>:hover</code>.</p>
    </section>
  </div>
</template>
