<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import CodeBlock from '@/components/CodeBlock.vue';
</script>

<template>
  <hgroup>
    <p class="chapter">
      Components
    </p>
    <h1>Tooltip</h1>
    <p>Enable tooltips everywhere, without JavaScript.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/tooltip"
              aria-current="page"
            >Syntax</a>
          </li>
          <li>
            <a
              class="secondary"
              href="/docs/tooltip#placement"
            >Placement</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article aria-label="Tooltip example">
        <p>
          Tooltip on a <a
            data-tooltip="Tooltip"
            href="/docs/tooltip"
          >link</a>
        </p>
        <p>Tooltip on <em data-tooltip="Tooltip">inline element</em></p>
        <p>
          <button data-tooltip="Tooltip">
            Tooltip on a button
          </button>
        </p>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;p&gt;Tooltip on a &lt;a href="#" data-tooltip="Tooltip"&gt;link&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Tooltip on &lt;em data-tooltip="Tooltip"&gt;inline element&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;button data-tooltip="Tooltip"&gt;Tooltip on a button&lt;/button&gt;&lt;/p&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Placement<a
          id="placement"
          href="#placement"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>
        The tooltip is displayed on top by default but you can change it with the <code>data-placement</code> attribute.
      </p>
      <article
        id="tooltip-placement"
        aria-label="Tooltip placement example"
      >
        <main class="grid">
          <button data-tooltip="Top">
            Top
          </button><button
            data-tooltip="Right"
            data-placement="right"
          >
            Right
          </button><button
            data-tooltip="Bottom"
            data-placement="bottom"
          >
            Bottom
          </button><button
            data-tooltip="Left"
            data-placement="left"
          >
            Left
          </button>
        </main>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;button data-tooltip="Top"&gt;Top&lt;/button&gt;
&lt;button data-tooltip="Right" data-placement="right"&gt;Right&lt;/button&gt;
&lt;button data-tooltip="Bottom" data-placement="bottom"&gt;Bottom&lt;/button&gt;
&lt;button data-tooltip="Left" data-placement="left"&gt;Left&lt;/button&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
