@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/button") {
  //
  // BUTTON
  //

  // Reboot based on :
  // - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
  // - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css
  // ––––––––––––––––––––

  // 1. Change the font styles in all browsers
  // 2. Remove the margin on controls in Safari
  // 3. Show the overflow in Edge
  #{$parent-selector} button {
    margin: 0; // 2
    overflow: visible; // 3
    font-family: inherit; // 1
    text-transform: none; // 1
  }

  // Correct the inability to style buttons in iOS and Safari
  #{$parent-selector} button,
  #{$parent-selector} [type="submit"],
  #{$parent-selector} [type="reset"],
  #{$parent-selector} [type="button"] {
    -webkit-appearance: button;
  }

  // nano
  // ––––––––––––––––––––
  #{$parent-selector} button,
  #{$parent-selector} [type="submit"],
  #{$parent-selector} [type="reset"],
  #{$parent-selector} [type="button"],
  #{$parent-selector} [type="file"]::file-selector-button,
  #{$parent-selector} [role="button"] {
    #{$p}background-color: var(#{$p}primary-background);
    #{$p}border-color: var(#{$p}primary-border);
    #{$p}color: var(#{$p}primary-inverse);
    #{$p}box-shadow: var(#{$p}button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    padding: var(#{$p}form-element-spacing-vertical) var(#{$p}form-element-spacing-horizontal);
    border: var(#{$p}border-width) solid var(#{$p}border-color);
    border-radius: var(#{$p}border-radius);
    outline: none;
    background-color: var(#{$p}background-color);
    box-shadow: var(#{$p}box-shadow);
    color: var(#{$p}color);
    font-weight: var(#{$p}font-weight);
    font-size: 1rem;
    line-height: var(#{$p}line-height);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    @if $enable-transitions {
      transition: background-color var(#{$p}transition), border-color var(#{$p}transition),
        color var(#{$p}transition), box-shadow var(#{$p}transition);
    }

    &:is([aria-current]:not([aria-current="false"])),
    &:is(:hover, :active, :focus) {
      #{$p}background-color: var(#{$p}primary-hover-background);
      #{$p}border-color: var(#{$p}primary-hover-border);
      #{$p}box-shadow: var(#{$p}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
      #{$p}color: var(#{$p}primary-inverse);
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      #{$p}box-shadow: var(#{$p}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(#{$p}outline-width) var(#{$p}primary-focus);
    }
  }

  #{$parent-selector} [type="submit"],
  #{$parent-selector} [type="reset"],
  #{$parent-selector} [type="button"] {
    margin-bottom: var(#{$p}spacing);
  }

  // .secondary, .contrast & .outline
  // secondary
  #{$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).secondary,
  #{$parent-selector} [type="reset"],
  #{$parent-selector} [type="file"]::file-selector-button {
    #{$p}background-color: var(#{$p}secondary-background);
    #{$p}border-color: var(#{$p}secondary-border);
    #{$p}color: var(#{$p}secondary-inverse);
    cursor: pointer;

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      #{$p}background-color: var(#{$p}secondary-hover-background);
      #{$p}border-color: var(#{$p}secondary-hover-border);
      #{$p}color: var(#{$p}secondary-inverse);
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      #{$p}box-shadow: var(#{$p}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(#{$p}outline-width) var(#{$p}secondary-focus);
    }
  }

  // contrast
  #{$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).contrast {
    #{$p}background-color: var(#{$p}contrast-background);
    #{$p}border-color: var(#{$p}contrast-border);
    #{$p}color: var(#{$p}contrast-inverse);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      #{$p}background-color: var(#{$p}contrast-hover-background);
      #{$p}border-color: var(#{$p}contrast-hover-border);
      #{$p}color: var(#{$p}contrast-inverse);
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      #{$p}box-shadow: var(#{$p}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(#{$p}outline-width) var(#{$p}contrast-focus);
    }
  }

  // outline (primary)
  #{$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).outline,
  [type="reset"].outline {
    #{$p}background-color: transparent;
    #{$p}color: var(#{$p}primary);
    #{$p}border-color: var(#{$p}primary);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      #{$p}background-color: transparent;
      #{$p}color: var(#{$p}primary-hover);
    }
  }

  // outline (secondary)
  #{$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).outline.secondary,
  [type="reset"].outline {
    #{$p}color: var(#{$p}secondary);
    #{$p}border-color: var(#{$p}secondary);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      #{$p}color: var(#{$p}secondary-hover);
    }
  }

  // outline (contrast)
  #{$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).outline.contrast {
    #{$p}color: var(#{$p}contrast);
    #{$p}border-color: var(#{$p}contrast);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      #{$p}color: var(#{$p}contrast-hover);
      #{$p}border-color: var(#{$p}contrast-hover);
    }
  }

  // button [disabled]
  #{$parent-selector} :where(button, [type="submit"], [type="reset"], [type="button"], [role="button"])[disabled],
  #{$parent-selector} :where(fieldset[disabled])
    :is(button, [type="submit"], [type="button"], [type="reset"], [role="button"]) {
    opacity: 0.5;
    pointer-events: none;
  }
}
