@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/figure") {
  //
  // FIGURE
  //

  #{$parent-selector} figure {
    display: block;
    margin: 0;
    padding: 0;

    figcaption {
      padding: calc(var(#{$p}spacing) * 0.5) 0;
      color: var(#{$p}muted-color);
    }
  }
}

