@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/link") {
  // link

  #{$parent-selector} :where(a:not([role="button"])),
  #{$parent-selector} [role="link"] {
    #{$p}color: var(#{$p}primary);
    #{$p}background-color: transparent;
    #{$p}underline: var(#{$p}primary-underline);
    outline: none;
    background-color: var(#{$p}background-color); // 1
    color: var(#{$p}color);
    text-decoration: var(#{$p}text-decoration);
    text-decoration-color: var(#{$p}underline);
    text-underline-offset: 0.125em;

    @if $enable-transitions {
      transition: background-color var(#{$p}transition), color var(#{$p}transition),
        text-decoration var(#{$p}transition), box-shadow var(#{$p}transition);
    }

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      #{$p}color: var(#{$p}primary-hover);
      #{$p}underline: var(#{$p}primary-hover-underline);
      #{$p}text-decoration: underline;
    }

    &:focus-visible {
      box-shadow: 0 0 0 var(#{$p}outline-width) var(#{$p}primary-focus);
    }

    // secondary
    &.secondary {
      #{$p}color: var(#{$p}secondary);
      #{$p}underline: var(#{$p}secondary-underline);

      &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
        #{$p}color: var(#{$p}secondary-hover);
        #{$p}underline: var(#{$p}secondary-hover-underline);
      }
    }

    // contrast
    &.contrast {
      #{$p}color: var(#{$p}contrast);
      #{$p}underline: var(#{$p}contrast-underline);

      &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
        #{$p}color: var(#{$p}contrast-hover);
        #{$p}underline: var(#{$p}contrast-hover-underline);
      }
    }
  }

  #{$parent-selector} a {
    &[role="button"] {
      display: inline-block;
    }
  }
}
