@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/table") {
  //
  // TABLE
  //

  // Reboot based on :
  // - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
  // - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css
  // ––––––––––––––––––––

  // 1. Collapse border spacing in all browsers (opinionated)
  // 2. Remove text indentation from table contents in Chrome, Edge, and Safari
  #{$parent-selector} :where(table) {
    width: 100%;
    border-collapse: collapse; // 1
    border-spacing: 0;
    text-indent: 0; // 2
  }

  // nano
  // ––––––––––––––––––––

  // cells
  #{$parent-selector} th,
  #{$parent-selector} td {
    padding: calc(var(#{$p}spacing) / 2) var(#{$p}spacing);
    border-bottom: var(#{$p}border-width) solid var(#{$p}table-border-color);
    background-color: var(#{$p}background-color);
    color: var(#{$p}color);
    font-weight: var(#{$p}font-weight);
    text-align: left;
    text-align: start;
  }

  // footer
  #{$parent-selector} tfoot {
    th,
    td {
      border-top: var(#{$p}border-width) solid var(#{$p}table-border-color);
      border-bottom: 0;
    }
  }

  // striped, hover, clickable
  #{$parent-selector} table {
    &.striped {
      tbody tr:nth-child(odd of :not([hidden])) th,
      tbody tr:nth-child(odd of :not([hidden])) td {
        background-color: var(#{$p}table-row-striped-background-color);
      }
    }

    &.hover {
      tbody tr:hover {
        td, th {
          background-color: var(#{$p}table-row-hover-background-color);
        }
      }
    }

    &.clickable {
      tbody tr:hover {
        cursor: pointer;
      }
    }
  }
}
