@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/typography") {
  //
  // TYPOGRAPHY
  //

  // Reboot based on :
  // - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
  // - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css
  // ––––––––––––––––––––

  // add the correct font weight in chrome, edge, and safari
  #{$parent-selector} b,
  #{$parent-selector} strong {
    font-weight: bolder;
  }

  // prevent `sub` and `sup` elements from affecting the line height in all browsers
  #{$parent-selector} sub,
  #{$parent-selector} sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
  }
  #{$parent-selector} sub {
    bottom: -0.25em;
  }
  #{$parent-selector} sup {
    top: -0.5em;
  }

  // nano
  // ––––––––––––––––––––

  #{$parent-selector} address,
  #{$parent-selector} blockquote,
  #{$parent-selector} dl,
  #{$parent-selector} ol,
  #{$parent-selector} p,
  #{$parent-selector} pre,
  #{$parent-selector} table,
  #{$parent-selector} ul {
    margin-top: 0;
    margin-bottom: var(#{$p}typography-spacing-vertical);
    color: var(#{$p}color);
    font-style: normal;
    font-weight: var(#{$p}font-weight);
  }

  // headings
  #{$parent-selector} h1,
  #{$parent-selector} h2,
  #{$parent-selector} h3,
  #{$parent-selector} h4,
  #{$parent-selector} h5,
  #{$parent-selector} h6 {
    margin-top: 0;
    margin-bottom: var(#{$p}typography-spacing-vertical);
    color: var(#{$p}color);
    font-weight: var(#{$p}font-weight);
    font-size: var(#{$p}font-size);
    line-height: var(#{$p}line-height);
    font-family: var(#{$p}font-family);
  }

  #{$parent-selector} h1 {
    #{$p}color: var(#{$p}h1-color);
  }
  #{$parent-selector} h2 {
    #{$p}color: var(#{$p}h2-color);
  }
  #{$parent-selector} h3 {
    #{$p}color: var(#{$p}h3-color);
  }
  #{$parent-selector} h4 {
    #{$p}color: var(#{$p}h4-color);
  }
  #{$parent-selector} h5 {
    #{$p}color: var(#{$p}h5-color);
  }
  #{$parent-selector} h6 {
    #{$p}color: var(#{$p}h6-color);
  }

  // margin-top for headings after a block
  #{$parent-selector} :where(article, address, blockquote, dl, figure, form, ol, p, pre, table, ul) {
    ~ :is(h1, h2, h3, h4, h5, h6) {
      margin-top: var(#{$p}typography-spacing-top);
    }
  }

  // paragraphs
  #{$parent-selector} p {
    margin-bottom: var(#{$p}typography-spacing-vertical);
  }

  // heading group
  #{$parent-selector} hgroup {
    margin-bottom: var(#{$p}typography-spacing-vertical);

    > * {
      margin-top: 0;
      margin-bottom: 0;
    }

    > *:not(:first-child):last-child {
      #{$p}color: var(#{$p}muted-color);
      #{$p}font-weight: unset;
      font-size: 1rem;
    }
  }

  // lists
  #{$parent-selector} :where(ol, ul) {
    li {
      margin-bottom: calc(var(#{$p}typography-spacing-vertical) * 0.25);
    }
  }

  // margin-top for nested lists
  // 1. remove the margin on nested lists in chrome, edge, IE, and safari
  #{$parent-selector} :where(dl, ol, ul) :where(dl, ol, ul) {
    margin: 0; // 1
    margin-top: calc(var(#{$p}typography-spacing-vertical) * 0.25);
  }

  #{$parent-selector} ul li {
    list-style: square;
  }

  // highlighted text
  #{$parent-selector} mark {
    padding: 0.125rem 0.25rem;
    background-color: var(#{$p}mark-background-color);
    color: var(#{$p}mark-color);
    vertical-align: baseline;
  }

  // blockquote
  #{$parent-selector} blockquote {
    display: block;
    margin: var(#{$p}typography-spacing-vertical) 0;
    padding: var(#{$p}spacing);
    border-right: none;
    border-left: 0.25rem solid var(#{$p}blockquote-border-color);
    border-inline-start: 0.25rem solid var(#{$p}blockquote-border-color);
    border-inline-end: none;

    footer {
      margin-top: calc(var(#{$p}typography-spacing-vertical) * 0.5);
      color: var(#{$p}blockquote-footer-color);
    }
  }

  // abbreviations
  // 1. remove underline decoration in chrome, edge, IE, opera, and safari
  #{$parent-selector} abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none; // 1
    cursor: help;
  }

  // ins
  #{$parent-selector} ins {
    color: var(#{$p}ins-color);
    text-decoration: none;
  }

  // del
  #{$parent-selector} del {
    color: var(#{$p}del-color);
  }

  // selection
  #{$parent-selector} ::selection {
    background-color: var(#{$p}text-selection-color);
  }
}
