@use "sass:map";

/**
 * Docs: Aside
 */

main > aside {
  --nano-font-size: 16px;
  font-size: var(--nano-font-size);

  nav details {
    &:last-of-type {
      margin-bottom: 0;
    }

    summary {
      font-weight: 600;
      line-height: var(--nano-line-height);

      &:focus-visible:not([role]) {
        outline-offset: 0;
      }

      &:after {
        height: calc(1em * var(--nano-line-height))
      }

      @media(min-width: 1024px) {
        &:not(:focus-visible):after {
          display: none;
        }
      }
    }

    &[open]>summary {
      margin-bottom: calc(var(--nano-spacing) * .5);
    }

    &[open]>summary:not([role]):not(:focus) {
      color: inherit;
    }

    ul {
      border-left: var(--nano-border-width) solid var(--nano-muted-border-color);
    }

    ul:first-of-type {
        margin: 0;
        padding: 0;
    }

    ul li {
        margin: 0;
        padding: calc(var(--nano-nav-element-spacing-vertical) * .25) 0
    }

    ul li a {
        margin: 0;
        margin-left: calc(var(--nano-border-width) * -1);
        padding: 0;
        padding-left: calc(var(--nano-nav-element-spacing-horizontal) * 1.5);
        border-left: var(--nano-border-width) solid transparent;
        border-radius: 0;
        font-weight: 400;
        transition: background-color var(--nano-transition),color var(--nano-transition),box-shadow var(--nano-transition),border-color var(--nano-transition),font-weight var(--nano-transition),-webkit-text-decoration var(--nano-transition);
        transition: background-color var(--nano-transition),color var(--nano-transition),text-decoration var(--nano-transition),box-shadow var(--nano-transition),border-color var(--nano-transition),font-weight var(--nano-transition);
        transition: background-color var(--nano-transition),color var(--nano-transition),text-decoration var(--nano-transition),box-shadow var(--nano-transition),border-color var(--nano-transition),font-weight var(--nano-transition),-webkit-text-decoration var(--nano-transition)
    }

    ul li a:hover {
        border-color: var(--nano-secondary-underline)
    }

    ul li a[aria-current] {
      border-color: var(--nano-primary);
      color: var(--nano-primary-hover);
      font-weight: 600;
    }

    ul li a[aria-current]:hover {
      text-decoration: none;
    }

    ul li a mark {
      border-radius: .125rem;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      vertical-align: text-bottom;
    }
  }

  &#documentation-menu {
    position: relative;

    header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      height: var(--nano-header-height);
      margin-bottom: var(--nano-spacing);

      h2 {
        --nano-font-size: 1.25rem;
        margin-bottom: 0;
      }

      a {
        opacity: .5;
        transition: background-color var(--nano-transition),color var(--nano-transition),opacity var(--nano-transition);

        svg {
          display: block;
          width: auto;
          height: 1.125rem;
        }

        &:hover {
          opacity: 1;
        }
      }

      @media(min-width: 1024px) {
        & {
          display:none
        }
      }
    }

    @media(max-width: 1023px) {
        &#documentation-menu {
            display:grid;
            z-index: 4;
            position: fixed;
            inset: 0;
            grid-template-rows: auto 1fr;
            transform: translate(calc(-100% - var(--nano-spacing)));
            transition: transform var(--nano-transition)
        }

        header, nav {
            padding: 0 var(--nano-spacing)
        }

        nav {
            margin-bottom: var(--nano-spacing);
            margin-block:calc(var(--nano-outline-width) * -1);padding-block: var(--nano-outline-width);
            overflow: auto
        }

        &:before {
            z-index: -1;
            position: fixed;
            inset: 0;
            background-color: var(--nano-background-color);
            content: ""
        }

        &.is-open-on-mobile {
            transform: translate(0)
        }
    }

    @media(max-width: 1023px) and (min-width:576px) and (max-width:1023px) {
        &.is-open-on-mobile {
          max-width:calc(510px + var(--nano-spacing) * 2);
          margin-right: auto;
          margin-left: auto
        }

        &.is-open-on-mobile:before {
          inset: 0 calc((100vw - 510px)/-2)
        }
    }

    @media(max-width: 1023px) and (min-width:768px) and (max-width:1023px) {
        &.is-open-on-mobile {
          max-width:calc(700px + var(--nano-spacing) * 2)
        }

        &.is-open-on-mobile:before {
            inset: 0 calc((100vw - 700px)/-2)
        }
    }

    @media(min-width: 1024px) {
        & {
            transition:none
        }
    }

    nav details ul li a:active,
    nav details ul li a:focus {
      color: var(--nano-primary-hover)
    }

    @media(max-width: 1023px) {
      html:has(&.is-open-on-mobile) {
        overflow:hidden
      }
    }
  }
}
