//
// DOCS: DOCUMENT
//

html {
  --nano-header-height: calc(4.5rem + var(--nano-border-width));
}

body {
  --nano-main-top-offset: 0rem;
}

body > header.is-fixed-above-lg+main {
  --nano-main-top-offset: var(--nano-header-height);
}

html {
  scroll-padding-top: calc(var(--nano-breadcrumb-height) + 1rem);
}

@media(min-width: 1024px) {
  html {
    scroll-padding-top:calc(var(--nano-header-height) + 2rem - .375rem);
  }
}

html {
  --nano-breadcrumb-height: calc(3.5rem + var(--nano-border-width));
}


@media (min-width: 1024px) {
  body > header.is-fixed-above-lg {
    z-index: 2;
    position: sticky;
    top: 0;
  }
}

body > header {
  z-index: 4;
  position: relative;
  padding: 0.5rem 0;
  border-bottom: var(--nano-border-width) solid var(--nano-header-border-color);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background-color: var(--nano-header-background);
  box-shadow: var(--nano-card-box-shadow);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav svg {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      transform: translateY(-0.0625rem);
    }
  }
}
