@use "sass:map";

//
// DOCS: MAIN (GRID)
//

body > main {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 2rem;

  & >* {
    min-width: 0;
    margin-bottom: 0;
  }

  @media(min-width: 1024px) {
    & {
      grid-template-rows:auto 1fr;
      grid-template-columns: 10rem 1fr;
      grid-template-areas: "menu header" "menu body";
      -moz-column-gap: 3rem;
      column-gap: 3rem;
      row-gap: 3rem
    }

    &.has-table-of-contents {
      grid-template-rows: auto auto 1fr;
      grid-template-columns: 10rem 1fr;
      grid-template-areas: "menu header" "menu table-of-content" "menu body"
    }

    &:has(aside#table-of-contents) {
      grid-template-rows: auto auto 1fr;
      grid-template-columns: 10rem 1fr;
      grid-template-areas: "menu header" "menu table-of-content" "menu body"
    }

    & >nav[aria-label=breadcrumb] {
      display: none
    }

    & > aside > nav {
      position: sticky;
      top: calc(var(--nano-main-top-offset) + 2rem);
      transition: top var(--nano-transition);
      transition-delay: 50ms
    }

    & >aside#documentation-menu {
      grid-area: menu
    }

    & > hgroup {
      grid-area: header
    }

    & >aside#table-of-contents {
      grid-area: table-of-content
    }

    & > [role=document] {
      grid-area: body
    }
  }

  @media(min-width: 1280px) {
    & {
      grid-template-rows:auto 1fr;
      grid-template-columns: 10rem 1fr;
      grid-template-areas: "menu header" "menu body";
      row-gap: 4rem
    }

    &.has-table-of-contents {
      grid-template-rows: auto 1fr;
      grid-template-columns: 10rem 1fr 10rem;
      grid-template-areas: "menu header table-of-content" "menu body table-of-content"
    }

    &:has(aside#table-of-contents) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 10rem 1fr 10rem;
      grid-template-areas: "menu header table-of-content" "menu body table-of-content"
    }

    &>aside#documentation-menu {
      grid-area: menu
    }

    &>hgroup {
      grid-area: header
    }

    & > aside#table-of-contents {
      grid-area: table-of-content
    }

    & > [role=document] {
      grid-area: body
    }
  }

  @media(min-width: 1536px) {
    & {
      grid-template-rows:auto 1fr;
      grid-template-columns: 10rem 1fr 10rem;
      grid-template-areas: "menu header table-of-content" "menu body table-of-content";
      row-gap: 5rem
    }
  }

  &.is-loading>[role=document],
  &.is-loading>aside#table-of-contents,
  &.is-loading>hgroup {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: docs-loading;
    opacity: .5
  }
}

@keyframes docs-loading {
    0% {
        opacity: 1
    }
}

