@use "sass:map";
@use "../../colors" as *;
@use "../../settings" as *;
@use "../../utilities/box-shadow";
@use "../../utilities/functions";
@use "theme-colors";

// default: dark theme
@mixin theme {
  // document
  color-scheme: dark;

  #{$p}background-color: #{mix($slate-950, $slate-900)};

  // text color
  #{$p}color: #{$zinc-200};

  // text selection color
  #{$p}text-selection-color: theme-colors.get("text-selection-color", "dark");

  // muted colors
  #{$p}muted-color: #{$zinc-450};
  #{$p}muted-border-color: #{$slate-850};

  // primary colors
  #{$p}primary: theme-colors.get("primary", "dark");
  #{$p}primary-background: theme-colors.get("primary-background", "dark");
  #{$p}primary-border: #{mix(theme-colors.get("primary", "dark"), $slate-200)};
  #{$p}primary-underline: theme-colors.get("primary-underline", "dark");
  #{$p}primary-hover: theme-colors.get("primary-hover", "dark");
  #{$p}primary-hover-background: theme-colors.get("primary-hover-background", "dark");
  #{$p}primary-hover-border: var(#{$p}primary-hover-background);
  #{$p}primary-hover-underline: var(#{$p}primary-hover);
  #{$p}primary-focus: theme-colors.get("primary-focus", "dark");
  #{$p}primary-inverse: theme-colors.get("primary-inverse", "dark");

  // secondary colors
  #{$p}secondary: #{$zinc-350};
  #{$p}secondary-background: #{$slate-600};
  #{$p}secondary-border: #{mix($zinc-350, $slate-200)};
  #{$p}secondary-underline: #{rgba($zinc-350, 0.5)};
  #{$p}secondary-hover: #{$zinc-250};
  #{$p}secondary-hover-background: #{$slate-550};
  #{$p}secondary-hover-border: var(#{$p}secondary-hover-background);
  #{$p}secondary-hover-underline: var(#{$p}secondary-hover);
  #{$p}secondary-focus: #{rgba($slate-350, 0.25)};
  #{$p}secondary-inverse: #{$white};

  // contrast colors
  #{$p}contrast: #{$slate-100};
  #{$p}contrast-background: #{$slate-50};
  #{$p}contrast-border: #{mix($slate-100, $slate-200)};
  #{$p}contrast-underline: #{rgba($slate-100, 0.5)};
  #{$p}contrast-hover: #{$white};
  #{$p}contrast-hover-background: #{$white};
  #{$p}contrast-hover-border: var(#{$p}contrast-hover-background);
  #{$p}contrast-hover-underline: var(#{$p}contrast-hover);
  #{$p}contrast-focus: #{rgba($slate-150, 0.25)};
  #{$p}contrast-inverse: #{$black};

  // danger colors
  #{$p}danger: #{mix($red-500, $zinc-650, 50%)};
  #{$p}danger-background: #{mix($red-950, $zinc-500, 85%)};
  #{$p}danger-border: #{mix($red-500, $zinc-150, 85%)};
  #{$p}danger-inverse: #{mix($red-500, $zinc-50, 85%)};

  // info colors
  #{$p}info: #{mix($azure-150, $zinc-650, 25%)};
  #{$p}info-background: #{mix($azure-600, $zinc-500, 85%)};
  #{$p}info-border: #{mix($azure-150, $zinc-150, 85%)};
  #{$p}info-inverse: #{mix($azure-150, $zinc-50, 85%)};

  // success colors
  #{$p}success: #{mix($jade-450, $zinc-650, 50%)};
  #{$p}success-background: #{mix($jade-900, $zinc-500, 85%)};
  #{$p}success-border: #{mix($jade-450, $zinc-150, 85%)};
  #{$p}success-inverse: #{mix($jade-450, $zinc-50, 85%)};

  // warning colors
  #{$p}warning: #{mix($amber-150, $zinc-650, 25%)};
  #{$p}warning-background: #{mix($amber-600, $zinc-500, 85%)};
  #{$p}warning-border: #{mix($amber-150, $zinc-150, 85%)};
  #{$p}warning-inverse: #{mix($amber-150, $zinc-50, 85%)};

  // box shadow
  #{$p}box-shadow: box-shadow.shadow($black);

  // typography
  @if map.get($modules, "content/typography") {
    // headings colors
    #{$p}h1-color: #{$zinc-50};
    #{$p}h2-color: #{$zinc-100};
    #{$p}h3-color: #{$zinc-200};
    #{$p}h4-color: #{$zinc-250};
    #{$p}h5-color: #{$zinc-300};
    #{$p}h6-color: #{$zinc-400};

    // highlighted text (<mark>)
    #{$p}mark-background-color: #{$azure-750};
    #{$p}mark-color: #{$white};

    // inserted (<ins>) & deleted (<del>)
    #{$p}ins-color: #{mix($jade-450, $zinc-200)};
    #{$p}del-color: #{mix($red-500, $zinc-200)};

    // blockquote
    #{$p}blockquote-border-color: var(#{$p}muted-border-color);
    #{$p}blockquote-footer-color: var(#{$p}muted-color);
  }

  // button
  @if map.get($modules, "content/button") {
    // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
    // Don't use, 'none, 'false, 'null', '0', etc.
    #{$p}button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    #{$p}button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  // table
  @if map.get($modules, "content/table") {
    #{$p}table-border-color: var(#{$p}muted-border-color);
    #{$p}table-row-striped-background-color: #{rgba($zinc-500, 0.0375)};
    #{$p}table-row-hover-background-color: #{rgba($zinc-500, 0.05)};
  }

  // code
  @if map.get($modules, "content/code") {
    #{$p}code-background-color: #{mix($slate-900, $slate-850, 75%)};
    #{$p}code-color: #{$zinc-400};
    #{$p}code-kbd-background-color: var(#{$p}color);
    #{$p}code-kbd-color: var(#{$p}background-color);
  }

  // form elements
  @if map.get($modules, "forms/basics") {
    #{$p}form-element-background-color: #{mix($slate-900, $slate-850)};
    #{$p}form-element-selected-background-color: #{$slate-800};
    #{$p}form-element-border-color: #{$slate-800};
    #{$p}form-element-color: #{$zinc-100};
    #{$p}form-element-placeholder-color: #{$zinc-400};
    #{$p}form-element-active-background-color: #{mix($slate-900, $slate-850, 75%)};
    #{$p}form-element-active-border-color: var(#{$p}primary-border);
    #{$p}form-element-focus-color: var(#{$p}primary-border);
    #{$p}form-element-disabled-opacity: 0.5;
    #{$p}form-element-invalid-border-color: #{mix($red-500, $slate-600)};
    #{$p}form-element-invalid-active-border-color: #{mix($red-500, $slate-600, 75%)};
    #{$p}form-element-invalid-focus-color: var(#{$p}form-element-invalid-active-border-color);
    #{$p}form-element-valid-border-color: #{mix($jade-450, $slate-600)};
    #{$p}form-element-valid-active-border-color: #{mix($jade-450, $slate-600, 75%)};
    #{$p}form-element-valid-focus-color: var(#{$p}form-element-valid-active-border-color);
  }

  // switch (input[type="checkbox"][role="switch"])
  @if map.get($modules, "forms/checkbox-radio-switch") {
    #{$p}switch-background-color: #{$slate-750};
    #{$p}switch-color: #{$white};
    #{$p}switch-checked-background-color: var(#{$p}primary-background);
    #{$p}switch-thumb-box-shadow: theme-colors.get("switch-thumb-box-shadow", "dark");
  }

  // range (input[type="range"])
  @if map.get($modules, "forms/input-range") {
    #{$p}range-border-color: #{$slate-850};
    #{$p}range-active-border-color: #{$slate-800};
    #{$p}range-thumb-border-color: var(#{$p}background-color);
    #{$p}range-thumb-color: var(#{$p}secondary-background);
    #{$p}range-thumb-active-color: var(#{$p}primary-background);
  }

  // accordion (<details>)
  @if map.get($modules, "components/accordion") {
    #{$p}accordion-border-color: var(#{$p}muted-border-color);
    #{$p}accordion-active-summary-color: var(#{$p}primary-hover);
    #{$p}accordion-close-summary-color: var(#{$p}color);
    #{$p}accordion-open-summary-color: var(#{$p}muted-color);
  }

  // card (<article>)
  @if map.get($modules, "components/card") {
    #{$p}card-background-color: #{$slate-900};
    #{$p}card-border-color: var(#{$p}card-background-color);
    #{$p}card-box-shadow: var(#{$p}box-shadow);
    #{$p}card-sectioning-background-color: #{mix($slate-900, $slate-850, 75%)};
  }

  // dropdown (details.dropdown)
  @if map.get($modules, "components/dropdown") {
    #{$p}dropdown-background-color: #{$slate-900};
    #{$p}dropdown-border-color: #{$slate-850};
    #{$p}dropdown-box-shadow: var(#{$p}box-shadow);
    #{$p}dropdown-color: var(#{$p}color);
    #{$p}dropdown-hover-background-color: #{$slate-850};
  }

  // loading ([aria-busy=true])
  @if map.get($modules, "components/loading") {
    #{$p}loading-spinner-opacity: 0.5;
  }

  // modal (<dialog>)
  @if map.get($modules, "components/modal") {
    #{$p}modal-overlay-background-color: #{rgba(mix($black, $zinc-950), 0.75)};
  }

  // progress
  @if map.get($modules, "components/progress") {
    #{$p}progress-background-color: #{$slate-850};
    #{$p}progress-color: var(#{$p}primary-background);
  }

  // Tooltip ([data-tooltip])
  @if map.get($modules, "components/tooltip") {
    #{$p}tooltip-background-color: var(#{$p}contrast-background);
    #{$p}tooltip-color: var(#{$p}contrast-inverse);
  }

  // Form validation icons
  @if map.get($modules, "forms/basics") {
    #{$p}icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 512 512' fill='#{functions.display-rgb(mix($jade-450, $zinc-200))}'%3E%3Cpath d='M435.8 83.5L172.8 346.5l-96.7-96.7c-4.7-4.7-12.3-4.7-17 0l-28.3 28.3c-4.7 4.7-4.7 12.3 0 17l133.4 133.4c4.7 4.7 12.3 4.7 17 0l299.8-299.8c4.7-4.7 4.7-12.3 0-17l-28.3-28.3c-4.7-4.7-12.3-4.7-17 0z'/%3E%3C/svg%3E");
    #{$p}icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='-192 0 512 512' fill='#{functions.display-rgb(mix($red-500, $zinc-200))}'%3E%3Cpath d='M96 64l0-32L32 32l0 32 0 256 0 32 64 0 0-32L96 64zm0 352l-64 0 0 64 64 0 0-64z'/%3E%3C/svg%3E")
  }

  @if map.get($modules, "forms/basics") {
    // focus for buttons, radio and select
    input:is(
        [type="submit"],
        [type="button"],
        [type="reset"],
        [type="checkbox"],
        [type="radio"],
        [type="file"]
      ) {
      #{$p}form-element-focus-color: var(#{$p}primary-focus);
    }
  }

  // Chevron icons
  @if map.get($modules, "components/accordion") or map.get($modules, "components/dropdown") {
    // change the icon color to black for accordion and dropdown .contrast buttons
    #{$parent-selector} details {
      summary {
        &[role="button"].contrast:not(.outline) {
          &::after {
            filter: brightness(0);
          }
        }
      }
    }
  }

  // loading icon (animated)
  @if map.get($modules, "components/loading") {
    // change the icon color to black for .contrast buttons
    #{$parent-selector} [aria-busy="true"]:not(input, select, textarea) {
      &.contrast:is(
      button,
      [type="submit"],
      [type="button"],
      [type="reset"],
      [role="button"]
      ):not(.outline) {
        &::before {
          filter: brightness(0);
        }
      }
    }
  }
}
