@use "sass:map";
@use "../../settings" as *;

@use "light";
@use "dark";

@if map.get($modules, "themes/default") {
  //
  // COLOR SCHEMES
  //

  // light color scheme (default)
  // can be forced with data-theme="light"
  [data-theme="light"],
  :root:not([data-theme="dark"]) {
    @include light.theme;
  }

  // dark color scheme (auto)
  // automatically enabled if user has dark mode enabled
  @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      @include dark.theme;
    }
  }

  // dark color scheme (forced)
  // enabled if forced with data-theme="dark"
  [data-theme="dark"] {
    @include dark.theme;
  }

  #{$parent-selector} progress,
  #{$parent-selector} [type="checkbox"],
  #{$parent-selector} [type="radio"],
  #{$parent-selector} [type="range"] {
    accent-color: var(#{$p}primary);
  }
}
