@use "sass:map";
@use "../../colors" as *;
@use "../../settings" as *;
@use "../../utilities/functions";
@use "theme-colors";

@if map.get($modules, "themes/default") {
  //
  // STYLES
  //

  :root {
    // typography
    #{$p}font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    #{$p}font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, sans-serif, var(#{$p}font-family-emoji);
    #{$p}font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(#{$p}font-family-emoji);
    #{$p}font-family: var(#{$p}font-family-sans-serif);
    #{$p}line-height: 1.5;
    #{$p}font-weight: 400;
    #{$p}font-size: 100%;
    #{$p}text-underline-offset: 0.1rem;

    // borders
    #{$p}border-radius: 0rem;
    #{$p}border-width: 0.0625rem;
    #{$p}outline-width: 0.1875rem;

    // transitions
    #{$p}transition: 0.2s ease-in-out;

    // spacings
    #{$p}spacing: 1rem;

    // spacings for typography elements
    @if map.get($modules, "content/typography") {
      #{$p}typography-spacing-vertical: 1rem;
    }

    // spacings for body > header, body > main, body > footer, section, article
    @if map.get($modules, "layout/landmarks") or
      map.get($modules, "layout/section") or
      map.get($modules, "components/card") or
      map.get($modules, "components/modal")
    {
      #{$p}block-spacing-vertical: calc(var(#{$p}spacing) * 2);
      #{$p}block-spacing-horizontal: var(#{$p}spacing);
    }

    @if map.get($modules, "layout/grid") {
      #{$p}grid-column-gap: var(#{$p}spacing);
      #{$p}grid-row-gap: var(#{$p}spacing);
    }

    // spacings for form elements and button
    @if map.get($modules, "content/button") or map.get($modules, "forms/basic") {
      #{$p}form-element-spacing-vertical: 0.5rem;
      #{$p}form-element-spacing-horizontal: 0.75rem;
    }

    // font weight for form labels & fieldsets legend
    @if map.get($modules, "forms/basic") {
      #{$p}form-label-font-weight: var(#{$p}font-weight);
    }

    // alert
    @if map.get($modules, "components/alert") {
      #{$p}alert-bg: transparent;
      #{$p}alert-padding-x: 0.5rem;
      #{$p}alert-padding-y: 0.5rem;
      #{$p}alert-margin-bottom: 1rem;
      #{$p}alert-color: inherit;
      #{$p}alert-border-color: var(#{$p}-border-color);
      #{$p}alert-border-radius: var(#{$p}-border-radius);
      #{$p}alert-border-width: var(#{$p}border-width);
      #{$p}alert-link-color: inherit;
      #{$p}alert-link-font-weight: var(#{$p}font-weight);
    }

    // group (role="group")
    @if map.get($modules, "components/group") {
      #{$p}group-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      #{$p}group-box-shadow-focus-with-button: 0
        0
        0
        var(#{$p}outline-width)
        var(#{$p}primary-focus);
      #{$p}group-box-shadow-focus-with-input: 0 0 0 0.0625rem var(#{$p}form-element-border-color);
    }

    // modal (<dialog>)
    @if map.get($modules, "components/modal") {
      #{$p}modal-overlay-backdrop-filter: blur(0.375rem);
    }

    // Spacings for nav component
    @if map.get($modules, "components/nav") {
      #{$p}nav-element-spacing-vertical: 1rem;
      #{$p}nav-element-spacing-horizontal: 0.5rem;
      #{$p}nav-link-spacing-vertical: 0.5rem;
      #{$p}nav-link-spacing-horizontal: 0.5rem;
      #{$p}nav-breadcrumb-divider: ">";
    }

    // note
    @if map.get($modules, "components/note") {
      #{$p}note-bg: transparent;
      #{$p}note-padding-x: 0.5rem;
      #{$p}note-padding-y: 0.5rem;
      #{$p}note-margin-bottom: 1rem;
      #{$p}note-color: inherit;
      #{$p}note-border-color: var(#{$p}-border-color);
      #{$p}note-border-radius: var(#{$p}-border-radius);
      #{$p}note-border-width: calc(var(#{$p}border-width) * 4);
      #{$p}note-link-color: inherit;
      #{$p}note-link-font-weight: var(#{$p}font-weight);
    }

    // checkboxes icons
    @if map.get($modules, "forms/checkbox-radio-switch") {
      #{$p}icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 512 512' fill='#{functions.display-rgb($white)}'%3E%3Cpath d='M435.8 83.5L172.8 346.5l-96.7-96.7c-4.7-4.7-12.3-4.7-17 0l-28.3 28.3c-4.7 4.7-4.7 12.3 0 17l133.4 133.4c4.7 4.7 12.3 4.7 17 0l299.8-299.8c4.7-4.7 4.7-12.3 0-17l-28.3-28.3c-4.7-4.7-12.3-4.7-17 0z'/%3E%3C/svg%3E");
      #{$p}icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='12' viewBox='0 0 384 512' fill='#{functions.display-rgb($white)}'%3E%3Cpath d='M368 224H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h352c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16z'/%3E%3C/svg%3E");
    }

    // chevron icons
    @if map.get($modules, "forms/basics") or
      map.get($modules, "components/accordion") or
      map.get($modules, "components/dropdown")
    {
      #{$p}icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 512 512' fill='#{functions.display-rgb($zinc-400)}'%3E%3Cpath d='M256 417.9l17-17L465 209l17-17L448 158.1l-17 17-175 175L81 175l-17-17L30.1 192l17 17L239 401l17 17z'/%3E%3C/svg%3E");
    }

    // datetime icons
    @if map.get($modules, "forms/input-date") {
      #{$p}icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='14' viewBox='0 0 448 512' fill='#{functions.display-rgb($zinc-400)}'%3E%3Cpath d='M152 24l0-24L104 0l0 24 0 40L0 64l0 80 0 48L0 464l0 48 48 0 352 0 48 0 0-48 0-272 0-48 0-80L344 64l0-40 0-24L296 0l0 24 0 40L152 64l0-40zM48 192l352 0 0 272L48 464l0-272z'/%3E%3C/svg%3E");
      #{$p}icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 512 512' fill='#{functions.display-rgb($zinc-400)}'%3E%3Cpath d='M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120l0 136 0 12.8 10.7 7.1 96 64 20 13.3 26.6-39.9-20-13.3L280 243.2 280 120l0-24-48 0 0 24z'/%3E%3C/svg%3E");
    }

    // search icon
    @if map.get($modules, "forms/input-search") {
      #{$p}icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 512 512' fill='#{functions.display-rgb($zinc-400)}'%3E%3Cpath d='M368 208A160 160 0 1 0 48 208a160 160 0 1 0 320 0zM337.1 371.1C301.7 399.2 256.8 416 208 416C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208c0 48.8-16.8 93.7-44.9 129.1l124 124 17 17L478.1 512l-17-17-124-124z'/%3E%3C/svg%3E");
    }

    // close icon
    @if map.get($modules, "components/modal") {
      #{$p}icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='12' viewBox='0 0 384 512'%3E%3Cpath d='M345 137l17-17L328 86.1l-17 17-119 119L73 103l-17-17L22.1 120l17 17 119 119L39 375l-17 17L56 425.9l17-17 119-119L311 409l17 17L361.9 392l-17-17-119-119L345 137z'/%3E%3C/svg%3E");
    }

    // loading icon (animated)
    @if map.get($modules, "components/loading") {
      #{$p}icon-loading: url("data:image/svg+xml,%3Csvg fill='none' height='24' width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cstyle%3E g %7B animation: rotate 2s linear infinite; transform-origin: center center; %7D circle %7B stroke-dasharray: 75,100; stroke-dashoffset: -5; animation: dash 1.5s ease-in-out infinite; stroke-linecap: round; %7D @keyframes rotate %7B 0%25 %7B transform: rotate(0deg); %7D 100%25 %7B transform: rotate(360deg); %7D %7D @keyframes dash %7B 0%25 %7B stroke-dasharray: 1,100; stroke-dashoffset: 0; %7D 50%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -17.5; %7D 100%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -62; %7D %7D %3C/style%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='8' fill='none' stroke='#{functions.display-rgb($zinc-400)}' stroke-width='2' /%3E%3C/g%3E%3C/svg%3E");

    }

    // responsive root font size
    @if $enable-responsive-typography {
      @each $key, $values in $breakpoints {
        @if $values {
          @media (min-width: map.get($values, "breakpoint")) {
            #{$p}font-size: map.get($values, "root-font-size");
          }
        }
      }
    }
  }

  // responsives spacings
  @if $enable-responsive-spacings {
    // landmarks and section
    @if map.get($modules, "layout/landmarks") or map.get($modules, "layout/section") {
      #{$semantic-root-element} > header,
      #{$semantic-root-element} > main,
      #{$semantic-root-element} > footer,
      section {
        @each $key, $values in $breakpoints {
          @if $values {
            @media (min-width: map.get($values, "breakpoint")) {
              $multiplier: 2;
              @if $key == "sm" {
                $multiplier: 2.5;
              } @else if $key == "md" {
                $multiplier: 3;
              } @else if $key == "lg" {
                $multiplier: 3.5;
              } @else if $key == "xl" {
                $multiplier: 4;
              } @else if $key == "xxl" {
                $multiplier: 4.5;
              }

              #{$p}block-spacing-vertical: calc(var(#{$p}spacing) * $multiplier);
            }
          }
        }
      }
    }

    // card (<article>)
    @if map.get($modules, "components/card") {
      .card,
      article {
        @each $key, $values in $breakpoints {
          @if $values {
            @media (min-width: map.get($values, "breakpoint")) {
              $multiplier: 1;
              @if $key == "sm" {
                $multiplier: 1.25;
              } @else if $key == "md" {
                $multiplier: 1.5;
              } @else if $key == "lg" {
                $multiplier: 1.75;
              } @else if $key == "xl" {
                $multiplier: 2;
              } @else if $key == "xxl" {
                $multiplier: 2.25;
              }

              #{$p}block-spacing-vertical: calc(var(#{$p}spacing) * $multiplier);
              #{$p}block-spacing-horizontal: calc(var(#{$p}spacing) * $multiplier);
            }
          }
        }
      }
    }

    // modal
    @if map.get($modules, "components/modal") {
      .modal,
      dialog > article {
        #{$p}block-spacing-vertical: calc(var(#{$p}spacing) * 2);
        #{$p}block-spacing-horizontal: var(#{$p}spacing);

        @if map.get($breakpoints, "sm") {
          @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
            #{$p}block-spacing-vertical: calc(var(#{$p}spacing) * 2.5);
            #{$p}block-spacing-horizontal: calc(var(#{$p}spacing) * 1.25);
          }
        }

        @if map.get($breakpoints, "md") {
          @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
            #{$p}block-spacing-vertical: calc(var(#{$p}spacing) * 3);
            #{$p}block-spacing-horizontal: calc(var(#{$p}spacing) * 1.5);
          }
        }
      }
    }
  }

  // link
  @if map.get($modules, "content/link") {
    a {
      #{$p}text-decoration: none;

      // secondary & contrast
      &.secondary,
      &.contrast {
        #{$p}text-decoration: none;
      }
    }
  }

  // typography
  @if map.get($modules, "content/typography") {
    // small
    small {
      #{$p}font-size: 0.875em;
      font-size: var(#{$p}font-size);
    }

    // headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      #{$p}font-weight: 700;
    }

    h1 {
      #{$p}font-size: 2rem;
      #{$p}line-height: 1.25;
      #{$p}typography-spacing-top: 3rem;
    }

    h2 {
      #{$p}font-size: 1.75rem;
      #{$p}line-height: 1.3;
      #{$p}typography-spacing-top: 2.625rem;
    }

    h3 {
      #{$p}font-size: 1.5rem;
      #{$p}line-height: 1.35;
      #{$p}typography-spacing-top: 2.25rem;
    }

    h4 {
      #{$p}font-size: 1.25rem;
      #{$p}line-height: 1.4;
      #{$p}typography-spacing-top: 1.874rem;
    }

    h5 {
      #{$p}font-size: 1.125rem;
      #{$p}line-height: 1.45;
      #{$p}typography-spacing-top: 1.6875rem;
    }

    h6 {
      #{$p}font-size: 1rem;
      #{$p}typography-spacing-top: 1.5rem;
    }
  }

  // table
  @if map.get($modules, "content/table") {
    thead,
    tfoot {
      th,
      td {
        #{$p}font-weight: 600;
        #{$p}border-width: 0.1875rem;
      }
    }
  }

  // code
  @if map.get($modules, "content/code") {
    pre,
    code,
    kbd,
    samp {
      #{$p}font-family: var(#{$p}font-family-monospace);
    }

    kbd {
      #{$p}font-weight: bolder;
    }
  }

  // inputs and selects
  input:not(
      [type="submit"],
      [type="button"],
      [type="reset"],
      [type="checkbox"],
      [type="radio"],
      [type="file"]
    ),
  :where(select, textarea) {
    #{$p}outline-width: 0.0625rem;
  }

  [type="search"] {
    #{$p}border-radius: 5rem;
  }

  // checkboxes, radios and switches
  @if map.get($modules, "forms/checkbox-radio-switch") {
    [type="checkbox"],
    [type="radio"] {
      #{$p}border-width: 0.125rem;
    }

    [type="checkbox"][role="switch"] {
      #{$p}border-width: 0.1875rem;
    }
  }

  // dropdown (details.dropdown)
  @if map.get($modules, "components/dropdown") {
    details.dropdown {
      summary:not([role="button"]) {
        #{$p}outline-width: 0.0625rem;
      }
    }
    nav {
      details.dropdown {
        summary:focus-visible {
          #{$p}outline-width: 0.1875rem;
        }
      }
    }
  }

  // group (role="group")
  @if map.get($modules, "components/group") {
    [role="search"] {
      #{$p}border-radius: 5rem;
    }

    [role="search"],
    [role="group"] {
      &:has(
      button.secondary:focus,
      [type="submit"].secondary:focus,
      [type="button"].secondary:focus,
      [role="button"].secondary:focus
      ) {
        #{$p}group-box-shadow-focus-with-button: 0
        0
        0
        var(#{$p}outline-width)
        var(#{$p}secondary-focus);
      }

      &:has(
      button.contrast:focus,
      [type="submit"].contrast:focus,
      [type="button"].contrast:focus,
      [role="button"].contrast:focus
      ) {
        #{$p}group-box-shadow-focus-with-button: 0
        0
        0
        var(#{$p}outline-width)
        var(#{$p}contrast-focus);
      }

      button,
      [type="submit"],
      [type="button"],
      [role="button"] {
        #{$p}form-element-spacing-horizontal: 2rem;
      }
    }
  }

  // Chevron icons
  // Change the icon color to white for accordion and dropdown buttons
  @if map.get($modules, "components/accordion") or map.get($modules, "components/dropdown") {
    #{$parent-selector} details {
      summary {
        $selector: '&[role="button"]';
        $selector: "#{$selector}:not(.outline)";
        #{$selector} {
          &::after {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }

  // Loading icon (animated)
  @if map.get($modules, "components/loading") {
    // Change the icon color to white for buttons
    #{$parent-selector} [aria-busy="true"]:not(input, select, textarea) {
      $selector: '&:is(button, [type="submit"], [type="button"], [type="reset"], [role="button"])';
      $selector: "#{$selector}:not(.outline)";
      #{$selector} {
        &::before {
          @if theme-colors.get("primary-inverse", "dark") == $white {
            filter: brightness(0) invert(1);
          } @else {
            filter: brightness(0) invert(0);
          }
        }
      }
    }
  }
}
