<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { ref } from 'vue';

import CodeBlock from '@/components/CodeBlock.vue';
import NModal from '@/components/NModal.vue';

// REACTIVES
const modalOpen = ref(false);

// METHODS
function closeModal() {
  modalOpen.value = false;
}

function openModal() {
  modalOpen.value = true;
}
</script>

<template>
  <n-modal :open="modalOpen">
    <h2>Confirm Your Membership</h2>
    <p>Thank you for signing up for a membership! Please review the membership details below:</p>
    <ul>
      <li>Membership: Individual</li>
      <li>Price: $10</li>
    </ul>
    <footer>
      <button
        class="secondary"
        @click="closeModal"
      >
        Cancel
      </button>
      <button @click="closeModal">
        Confirm
      </button>
    </footer>
  </n-modal>
  <hgroup>
    <p class="chapter">
      Vue Components
    </p>
    <h1>Modal</h1>
    <p>
      The classic modal component with graceful spacings across devices and viewports, using the semantic HTML tag
      <code>&lt;dialog&gt;</code>.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/vue/modal"
            >Syntax</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p>Nano's Vue integration allow for clean templating and managment of modal dialogs.</p>
      <p><code><span class="">.modal-is-open</span></code> prevents any scrolling and interactions below the modal.</p>
      <article
        id="modal-demo"
        aria-label="Modal demo"
      >
        <button
          class="contrast"
          @click="openModal"
        >
          Open modal
        </button>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;script setup&gt;
  import { ref } from 'vue';
  import { NModal } from 'nano-vue';

  const modalOpen = ref(false);

  function closeModal() {
    modalOpen.value = false;
  }

  function openModal() {
    modalOpen.value = true;
  }
&lt;/script&gt;

&lt;template&gt;
  &lt;n-modal :open="modalOpen"&gt;
    &lt;h2&gt;Confirm Your Membership&lt;/h2&gt;
    &lt;p&gt;Thank you for signing up for a membership! Please review the membership details below:&lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;Membership: Individual&lt;/li&gt;
      &lt;li&gt;Price: $10&lt;/li&gt;
    &lt;/ul&gt;
    &lt;footer&gt;
      &lt;button class="secondary" @click="closeModal"&gt;Cancel&lt;/button&gt;
      &lt;button @click="closeModal"&gt;Confirm&lt;/button&gt;
    &lt;/footer&gt;
  &lt;/n-modal&gt;

  &lt;button class="contrast" @click="openModal"&gt;Open modal&lt;/button&gt;
&lt;/template&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>

<style>
  dialog.example {
    z-index: inherit;
    position: relative;
    min-height: inherit;
    margin: 0 calc(var(--nano-spacing) * -1) var(--nano-block-spacing-vertical) calc(var(--nano-spacing) * -1);
    inset: inherit
  }

  @media(min-width: 576px) {
    dialog.example {
      margin:0;
      margin-bottom: var(--nano-block-spacing-vertical)
    }
  }

  dialog.example>article {
    animation: none
  }

  article#modal-demo button {
    display: block;
    width: 100%;
    margin-inline:auto;
  }

  @media(min-width: 576px) {
    article#modal-demo button {
        width:50%;
        min-width: -moz-fit-content;
        min-width: fit-content;
    }
  }
</style>
