<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { ref } from "vue";

import CodeBlock from "@/components/CodeBlock.vue";

import NTab from "@/components/NTab.vue";
import NTabs from "@/components/NTabs.vue";
import NTabPanel from "@/components/NTabPanel.vue";
import NTabPanels from "@/components/NTabPanels.vue";

const activeTab = ref("tab1");

</script>

<template>
  <hgroup>
    <p class="chapter">
      Vue Components
    </p>
    <h1>Tabs</h1>
    <p>ARIA compabitble tabs with semantic HTML.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/tabs"
              aria-current="page"
            >Syntax</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <article aria-label="Nav example">
        <n-tabs v-model="activeTab">
          <n-tab name="tab1">First Tab</n-tab>
          <n-tab name="tab2" hidden>Second Tab</n-tab>
          <n-tab name="tab3">Third Tab</n-tab>
          <n-tab name="tab4" disabled>Fourth Tab</n-tab>
        </n-tabs>
        <n-tab-panels v-model="activeTab">
          <n-tab-panel name="tab1">
            <p>Content for the first panel</p>
          </n-tab-panel>
          <n-tab-panel name="tab2">
            <p>Content for the second panel</p>
          </n-tab-panel>
          <n-tab-panel name="tab3">
            <p>Content for the third panel</p>
          </n-tab-panel>
          <n-tab-panel name="tab4">
            <p>Content for the fourth panel</p>
          </n-tab-panel>
        </n-tab-panels>
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;n-tabs v-model="active"&gt;
  &lt;n-tab name="tab1"&gt;First Tab&lt;/n-tab&gt;
  &lt;n-tab name="tab2" hidden&gt;Second Tab&lt;/n-tab&gt;
  &lt;n-tab name="tab3"&gt;Third Tab&lt;/n-tab&gt;
  &lt;n-tab name="tab4" disabled&gt;Fourth Tab&lt;/n-tab&gt;
&lt;/n-tabs&gt;
&lt;n-tab-panels v-model="active"&gt;
  &lt;n-tab-panel name="tab1"&gt;
    Content for the first panel
  &lt;/n-tab-panel&gt;
  &lt;n-tab-panel name="tab2"&gt;
    Content for the second panel
  &lt;/n-tab-panel&gt;
  &lt;n-tab-panel name="tab3"&gt;
    Content for the third panel
  &lt;/n-tab-panel&gt;
  &lt;n-tab-panel name="tab4"&gt;
    Content for the fourth panel
  &lt;/n-tab-panel&gt;
&lt;/n-tab-panels&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
