<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { ref } from "vue";

import CodeBlock from "@/components/CodeBlock.vue";

import NPassword from "@/components/NPassword.vue";

const password = ref("");

</script>

<template>
  <hgroup>
    <p class="chapter">
      Vue Components
    </p>
    <h1>Password</h1>
    <p>A password input field with visibility toggle.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/tabs"
              aria-current="page"
            >Syntax</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p>The password component is a simple input field that allows the user to enter a password. The password field can be toggled to show the password in plain text.</p>
      <article aria-label="Nav example">
        <n-password name="foo" v-model="password" />
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;n-password name="foo" v-model="password" /&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Validity<a
          id="validity"
          href="#validity"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>The password component can be marked as invalid by setting the <code>aria-invalid</code> attribute to <code>true</code>.</p>
      <article aria-label="Nav example">
        <n-password
          name="foo"
          v-model="password"
          :aria-invalid="true"
        />
        <n-password
          name="foo"
          v-model="password"
          :aria-invalid="false"
        />
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;n-password name="foo" v-model="password" aria-invalid="true" /&gt;
&lt;n-password name="foo" v-model="password" aria-invalid="false" /&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Momentary<a
          id="momentary"
          href="#momentary"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>The password component can be set to momentary mode by setting the <code>momentary</code> attribute to <code>true</code>. This will show the password in plain text while the mouse button is held down.</p>
      <article aria-label="Nav example">
        <n-password
          name="foo"
          v-model="password"
          :momentary="true"
        />
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;n-password name="foo" v-model="password" momentary="true" /&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
    <section>
      <h2>
        Toggle<a
          id="toggle"
          href="#toggle"
          class="secondary"
          tabindex="-1"
        >#</a>
      </h2>
      <p>The password component visibility toggle can be disabled by setting the <code>toggle</code> attribute to <code>false</code>. This effectivly falls back to the vanilla <code>&lt;input type="password" ... /&gt;</code> component.</p>
      <article aria-label="Nav example">
        <n-password
          name="foo"
          v-model="password"
          :toggle="false"
        />
        <n-password
          name="foo"
          v-model="password"
          :aria-invalid="false"
          :toggle="false"
        />
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;n-password nmae="foo" v-model="password" toggle="false" /&gt;
&lt;n-password name="foo" v-model="password" toggle="false" aria-invalid="false" /&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
