<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { ref } from 'vue';

import CodeBlock from '@/components/CodeBlock.vue';

import NTab from '@/components/NTab.vue';
import NTabs from '@/components/NTabs.vue';

import NSparkline from '@/components/NSparkline.vue';

const activeTab = ref('panel-1');

// REACTIVITY
const data = ref([
  1, 3, 5, 3, 9, 8, 10, 3, 2, 3
]);

// VARIABLES
const optionsArea = {
  type: 'area',
};

const optionsColumn = {
  type: 'column',
};

const optionsLine = {
  type: 'line',
};

// update the data every 2 seconds adding a new random value and cappping the length at 20
const timer = setInterval(() => {
  data.value.push(Math.floor(Math.random() * 20) - 10);

  while (data.value.length > 10) {
    data.value.shift();
  }
}, 2000);
</script>

<template>
  <hgroup>
    <p class="chapter">
      Vue Components
    </p>
    <h1>Sparkline</h1>
    <p>SVG inline charts.</p>
  </hgroup>
  <aside id="table-of-contents">
    <nav>
      <details open="">
        <summary>Content</summary>
        <ul>
          <li>
            <a
              class="secondary"
              href="/docs/tabs"
              aria-current="page"
            >Syntax</a>
          </li>
        </ul>
      </details>
    </nav>
  </aside>
  <div role="document">
    <section>
      <p>Nano's sparklines are optimised SVG charts that are ideal for displaying in table cells and can be used to provide insight into data trends at a glance.</p>
      <article aria-label="Nav example">
        <n-sparkline
          :width=400
          :height=50
          :data
          :options="optionsArea"
        />
        <n-sparkline
          :width=400
          :height=50
          :data
          :options="optionsColumn"
        />
        <n-sparkline
          :width=400
          :height=50
          :data
          :options="optionsLine"
        />
        <footer
          class="code"
          data-theme="dark"
        >
          <code-block>
            <pre>&lt;n-sparkline
  :width=400
  :height=50
  :data
  :options="{ type: 'area' }"
/&gt;

&lt;n-sparkline
  :width=400
  :height=50
  :data
  :options="{ type: 'column' }"
/&gt;

&lt;n-sparkline
  :width=400
  :height=50
  :data
  :options="{ type: 'line' }"
/&gt;</pre>
          </code-block>
        </footer>
      </article>
    </section>
  </div>
</template>
