// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
@use "sass:map";
@use "../settings" as *;
@use "../mixins/_breakpoints" as *;
@use "../mixins/_containers" as *;

@if map.get($modules, "layout/container") {
  // Single container class with breakpoint max-widths
  .container,
  // 100% wide container at all breakpoints
  .container-fluid {
    @include make-container();
  }

  // Responsive containers that are 100% wide until a breakpoint
  @each $breakpoint, $b-values in $breakpoints {
    .container-#{$breakpoint} {
      @extend .container-fluid;
    }

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      %responsive-container-#{$breakpoint} {
        max-width: map.get($b-values, "viewport");
      }

      // Extend each breakpoint which is smaller or equal to the current breakpoint
      $extend-breakpoint: true;

      @each $name, $values in $breakpoints {
        @if ($extend-breakpoint) {
          .container#{breakpoint-infix($name, $breakpoints)} {
            @extend %responsive-container-#{$breakpoint};
          }

          // Once the current breakpoint is reached, stop extending
          @if ($breakpoint == $name) {
            $extend-breakpoint: false;
          }
        }
      }
    }
  }
}
