@use "sass:map";
@use "../settings" as *;
@use "../mixins/_grids" as *;

@if map.get($modules, "layout/grid") {
  // Row
  //
  // Rows contain your columns.

  :root {
    @each $name, $values in $breakpoints {
      #{$p}breakpoint-#{$name}: map.get($values, "breakpoint");
    }
  }

  @if $enable-grid-flexbox {
    .row {
      @include make-row();

      > * {
        @include make-col-ready();
      }
    }
  }

  @if $enable-grid-native {
    .grid {
      display: grid;
      grid-template-rows: repeat(var(#{$p}rows, 1), 1fr);
      grid-template-columns: repeat(var(#{$p}columns, #{$grid-columns}), 1fr);
      gap: var(#{$p}gap, #{$grid-gutter-width});

      @include make-cssgrid();
    }
  } @else if $enable-grid-simple {
     // minimal grid system with auto-layout columns

    .grid {
      grid-column-gap: var(#{$p}grid-column-gap);
      grid-row-gap: var(#{$p}grid-row-gap);
      display: grid;
      grid-template-columns: 1fr;

      @if map.get($breakpoints, "md") {
        @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
          grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
        }
      }

      & > * {
        min-width: 0; // HACK for childs in overflow
      }
    }

  }


  // Columns
  //
  // Common styles for small and large grid columns

  @if $enable-grid-flexbox {
    @include make-grid-columns();
  }
}
