@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "layout/helpers") {
  //
  // HELPERS
  //

  .clickable {
    cursor: pointer;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
