@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "layout/section") {
  /**
   * Section
   */

  #{$parent-selector} section {
    margin-bottom: var(#{$p}block-spacing-vertical);
  }
}
