<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { computed, ref } from 'vue';

// PROPS
const props = defineProps({
  language: {
    type: String,
    default: ''
  },
  noHighlight: {
    type: Boolean,
    default: true
  }
});

// REFS
const codeSnippet = ref(null);
const copySuccess = ref(false);

// COMPUTED
const languageClass = computed(() => {
  if (props.language) {
    return `language-${props.language}`;
  }

  return '';
});

const tooltip = computed(() => {
  if (copySuccess.value) {
    return 'Copied!';
  }

  return 'Copy to clipboard';
});

// PRIVATE
function copy() {
  navigator.clipboard
    .writeText(codeSnippet.value.innerText)
    .then(
      () => {
        copySuccess.value = true;

        document.activeElement.blur();

        setTimeout(() => {
          copySuccess.value = false;
        }, 1500);
      }
    );
}
</script>

<template>
  <a
    class="copy-to-clipboard"
    tabindex="-1"
    aria-label="Copy code"
    :data-tooltip="tooltip"
    data-placement="left"
    @click="copy()"
  >
    <svg
      v-if="copySuccess"
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      viewBox="0 0 512 512"
      fill="currentColor"
      class="check"
    >
      <path
        id="check-icon"
        d="M435.8 83.5L172.8 346.5l-96.7-96.7c-4.7-4.7-12.3-4.7-17 0l-28.3 28.3c-4.7 4.7-4.7 12.3 0 17l133.4 133.4c4.7 4.7 12.3 4.7 17 0l299.8-299.8c4.7-4.7 4.7-12.3 0-17l-28.3-28.3c-4.7-4.7-12.3-4.7-17 0z"
      />
    </svg>
    <svg v-else xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M400 336l-224 0 0-288 156.1 0L400 115.9 400 336zM448 96L352 0 176 0 128 0l0 48 0 288 0 48 48 0 224 0 48 0 0-48 0-240zM48 128L0 128l0 48L0 464l0 48 48 0 224 0 48 0 0-48 0-48-48 0 0 48L48 464l0-288 48 0 0-48-48 0z"/></svg>
  </a>
  <pre><!--
    --><code
      ref="codeSnippet"
      v-highlight
      :class="languageClass"
    ><!--
      --><slot /><!--
    --></code><!--
  --></pre>
</template>

<style lang="scss">
  .code {
    position: relative;
    background-color: var(--nano-card-sectioning-background-color);

    pre {
      margin-bottom: 0
    }

    code {
      min-width: -moz-min-content;
      min-width: min-content;
      padding: 0;
    }

    @media(min-width: 1024px) {
      code {
        font-size:16px;
      }
    }

    & a.copy-to-clipboard {
      z-index: 1;
      position: absolute;
      top: 1rem;
      right: 0;
      padding: .25rem 1rem .25rem .25rem;
      background-color: var(--nano-card-sectioning-background-color);
      color: var(--nano-code-comment);
      transition: color var(--nano-transition);
      cursor: pointer;

      & > svg {
        display: block;
        width: 1.125rem;
        height: 1.125rem;
        opacity: .5;
        transition: opacity var(--nano-transition)
      }

      &:hover svg {
        opacity: 1
      }

      svg.check {
        color: var(--nano-code-copied);
        opacity: 1
      }
    }

    .code>a.copy-to-clipboard[data-tooltip]:after,.code>a.copy-to-clipboard[data-tooltip]:before {
      font-size: .75em
    }

    .code>a.copy-to-clipboard[data-tooltip]:has(svg.check):after {
      display: none
    }

    &:after {
      position: absolute;
      inset: 0;
      border-radius: var(--nano-border-radius);
      content: "";
      pointer-events: none
    }
  }

  article footer.code {
    padding: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    pre {
      padding: calc(var(--nano-block-spacing-vertical) * .66) var(--nano-block-spacing-horizontal);
      background-color: transparent;
    }
  }

  .code:not(article footer.code) {
    margin-bottom: var(--nano-block-spacing-vertical);
    overflow: hidden;
    border-radius: var(--nano-border-radius);
    box-shadow: var(--nano-card-box-shadow)
  }

  @media(min-width: 576px) {
    .code:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 1.25);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 1.25)
    }
  }

  @media(min-width: 768px) {
    .code:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 1.5);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 1.5)
    }
  }

  @media(min-width: 1024px) {
    .code:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 1.75);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 1.75)
    }
  }

  @media(min-width: 1280px) {
    .code:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 2);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 2)
    }
  }

  @media(min-width: 1536px) {
    .code:not(article footer.code) {
      --nano-block-spacing-horizontal:calc(var(--nano-spacing) * 2.5);
      --nano-block-spacing-vertical: calc(var(--nano-spacing) * 2.5)
    }
  }

  .code:not(article footer.code) pre {
    padding: calc(var(--nano-block-spacing-vertical) * .66) var(--nano-block-spacing-horizontal);
    background: 0 0
  }

  .code.small>a.copy-to-clipboard {
    top: 50%;
    transform: translateY(-50%)
  }
</style>
