<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { computed } from 'vue';
import CodeBlock from '@/components/CodeBlock.vue';
import NModal from '@/components/NModal.vue';

// PROPS
const props = defineProps({
  open: Boolean,
  family: {
    type: String,
    default: ''
  },
  familyMap: {
    type: Object,
    default: null
  },
  shade: {
    type: String,
    default: ''
  }
});

// COMPUTED
const shadeBackgroundClass = computed(() => `nano-background-${props.family}-${props.shade}`);

const shadeName = computed(() => props.familyMap[props.shade].name);

const shadeHex = computed(() => props.familyMap[props.shade].hex);

const shadeRGB = computed(() => props.familyMap[props.shade].rgb);

// EMITS
const emit = defineEmits(['close']);

// PRIVATE
function closeModal() {
  emit('close');
}
</script>

<template>
  <n-modal
    :open="open"
    class="color"
  >
    <header :class="shadeBackgroundClass">
      <a
        aria-label="Close"
        class="close"
        @click="closeModal()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        /><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
      </a>
      <hgroup>
        <h3 class="color-family">
          {{ props.family }}&nbsp;{{ props.shade }}
        </h3><p class="color-shade">
          {{ shadeName }}
        </p>
      </hgroup>
    </header>
    <div class="grid">
      <p>Hexadecimal Color</p>
      <div
        class="code small"
        data-theme="dark"
      >
        <code-block>{{ shadeHex }}</code-block>
      </div>

      <p>RGB Color</p>
      <div
        class="code small"
        data-theme="dark"
      >
        <a
          class="copy-to-clipboard"
          tabindex="-1"
          aria-label="Copy code"
          data-tooltip="Copy to clipboard"
          data-placement="left"
          href="/docs/colors"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="clipboard"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        /><path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /><path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" /></svg></a>
        <code-block><span class="">{{ shadeRGB }}</span></code-block>
      </div>
      <p>Sass Variable</p>
      <div
        class="code small"
        data-theme="dark"
      >
        <a
          class="copy-to-clipboard"
          tabindex="-1"
          aria-label="Copy code"
          data-tooltip="Copy to clipboard"
          data-placement="left"
          href="/docs/colors"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="clipboard"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        /><path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /><path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" /></svg></a>
        <code-block><span class="">${{ props.family }}-{{ props.shade }}</span></code-block>
      </div>
      <p>Color Utility Class</p><div
        class="code small"
        data-theme="dark"
      >
        <a
          class="copy-to-clipboard"
          tabindex="-1"
          aria-label="Copy code"
          data-tooltip="Copy to clipboard"
          data-placement="left"
          href="/docs/colors"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="clipboard"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        /><path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /><path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" /></svg></a>
        <code-block><span class="">nano-color-{{ props.family }}-{{ props.shade }}</span></code-block>
      </div>
      <p>Background Utility Class</p>
      <div
        class="code small"
        data-theme="dark"
      >
        <a
          class="copy-to-clipboard"
          tabindex="-1"
          aria-label="Copy code"
          data-tooltip="Copy to clipboard"
          data-placement="left"
          href="/docs/colors"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="clipboard"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        /><path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /><path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" /></svg></a>
        <code-block>{{ shadeBackgroundClass }}</code-block>
      </div>
      <p>CSS Variable</p>
      <div
        class="code small"
        data-theme="dark"
      >
        <a
          class="copy-to-clipboard"
          tabindex="-1"
          aria-label="Copy code"
          data-tooltip="Copy to clipboard"
          data-placement="left"
          href="/docs/colors"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="clipboard"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        /><path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /><path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" /></svg></a>
        <code-block>var(--nano-color-{{ props.family }}-{{ props.shade }})</code-block>
      </div>
    </div>
  </n-modal>
</template>

<style>
  dialog.color article header .color-family::first-letter {
    text-transform: capitalize;
  }

  dialog.color article p {
    color: inherit
  }

  dialog.color article p,dialog.color article pre {
    margin-bottom: 0
  }

  dialog.color article header {
    font-weight: 700;
    transition: color var(--nano-transition),background-color var(--nano-transition)
  }

  dialog.color article header a.close {
    z-index: 1;
    position: relative;
    height: inherit;
    background-image: none;
    background-position: inherit;
    background-size: inherit;
    background-repeat: inherit;
    color: inherit;
    line-height: initial;
  }

  dialog.color article header hgroup {
    margin-bottom: 0
  }

  dialog.color article header hgroup h3 {
    color: inherit
  }

  dialog.color article header hgroup p {
    --nano-font-size: .875em;
    opacity: .5
  }

  dialog.color article pre {
    --nano-block-spacing-vertical: var(--nano-spacing)
  }

  dialog.color article .grid .code {
    margin-bottom: 0
  }

  @media (min-width: 768px) {
    dialog.color article .grid {
      grid-template-columns:min-content auto;
      align-items: center;
      white-space: nowrap
    }
  }
</style>
