<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { FILTER_TYPE_GROUP, FILTER_TYPE_CRITERION } from '@/composables/useDataTable';

// PROPS
const props = defineProps({
  group: {
    type: Object,
    required: true
  },
  groupTypes: {
    type: Array,
    required: true
  },
  removable: {
    type: Boolean,
    required: true
  }
});

// EMITS
const emit = defineEmits(['addFilter', 'deleteGroup']);

// FUNCTIONS
function addFilter(newFilterType) {
  emit('addFilter', props.group.filters, newFilterType);

  // blur the active element to dismiss the tooltip
  document.activeElement.blur();
}
</script>

<template>
  <div class="n-filter-group">
    <div class="n-filter-group-add">
      <slot
        name="groupTypes"
        :group
        :group-types
      >
        <!-- eslint-disable vue/no-mutating-props -->
        <select v-model="group.groupType">
          <option
            v-for="type in groupTypes"
            :key="type"
            :value="type"
          >
            {{ type.label }}
          </option>
        </select>
      </slot>
      <slot
        name="filterAdd"
        v-bind="{ addFilter }"
      >
        <button
          data-tooltip="Add Criterion"
          @click="addFilter(FILTER_TYPE_CRITERION)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="12"
            viewBox="0 0 384 512"
          ><path d="M368 224H224V80c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v144H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h144v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V288h144c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16z" /></svg>
        </button>
        <button
          data-tooltip="Add Group"
          @click="addFilter(FILTER_TYPE_GROUP)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="16"
            viewBox="0 0 512 512"
          ><path d="M492.9 354.6L413.2 320l79.7-34.6c12.2-5.3 17.7-19.4 12.5-31.6-5.3-12.2-19.4-17.7-31.6-12.5l-217.2 94.7L71.9 256l170.5-74c12.2-5.3 17.7-19.4 12.5-31.6-5.3-12.2-19.4-17.7-31.6-12.5L19.2 226.6C7.5 231.6 0 243.2 0 256s7.5 24.4 19.1 29.4L98.8 320l-79.7 34.6C7.5 359.6 0 371.2 0 384c0 12.8 7.5 24.4 19.1 29.4l218.3 94.7a46.5 46.5 0 0 0 18.6 3.9c6.3 0 12.7-1.3 18.6-3.9l218.3-94.7c11.6-5 19.2-16.6 19.2-29.4 0-12.9-7.5-24.4-19.1-29.4zM256.5 464.1L71.9 384l87.2-37.8 78.3 34c5.9 2.6 12.3 3.9 18.6 3.9s12.7-1.3 18.6-3.8l78.3-34 87.3 37.9-183.7 80.1zM496 88h-72V16c0-8.8-7.2-16-16-16h-16c-8.8 0-16 7.2-16 16v72h-72c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h72v72c0 8.8 7.2 16 16 16h16c8.8 0 16-7.2 16-16v-72h72c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16z" /></svg>
        </button>
      </slot>
      <slot
        v-if="removable"
        name="groupDeletion"
        :delete-group="() => emit('deleteGroup', group)"
      >
        <button @click="emit('deleteGroup', group)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="10"
            viewBox="0 0 320 512"
          ><path d="M207.6 256l107.7-107.7c6.2-6.2 6.2-16.3 0-22.6l-25-25c-6.2-6.2-16.3-6.2-22.6 0L160 208.4 52.3 100.7c-6.2-6.2-16.3-6.2-22.6 0L4.7 125.7c-6.2 6.2-6.2 16.3 0 22.6L112.4 256 4.7 363.7c-6.2 6.2-6.2 16.3 0 22.6l25 25c6.2 6.2 16.3 6.2 22.6 0L160 303.6l107.7 107.7c6.2 6.2 16.3 6.2 22.6 0l25-25c6.2-6.2 6.2-16.3 0-22.6L207.6 256z" /></svg>
        </button>
      </slot>
    </div>
    <div
      v-if="group.filters.length"
      class="n-filter-group-children"
    >
      <slot name="groupChildren" />
    </div>
  </div>
</template>

<style lang="scss">
  .n-filter-group-add {
    display: flex;
    position: relative;
    align-items: flex-start;

    margin-bottom: 0.5rem;

    > * {
      flex: 1 1 auto;
      margin-bottom: 0!important;
      margin-right: 0.5rem;
      position: relative;
    }
  }

  .n-filter-group-children {
    margin-left: 1rem;
  }
</style>
