<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { computed } from 'vue';

// CONSTANTS
const DATA_TYPE_INPUT_TYPE_MAP = {
  string: 'text',
  number: 'number',
  date: 'date',
  datetime: 'datetime-local'
};

// PROPS
const props = defineProps({
  criterion: {
    type: Object,
    required: true
  },
  columns: {
    type: Object,
    required: true
  },
  comparators: {
    type: Array,
    required: true
  }
});

// EMITS
const emit = defineEmits(['updateCriterion', 'deleteCriterion']);

// REACTIVE
const columns = computed(() => props.columns
  .filter((column) => column.filterable));

const methods = computed(() => props.comparators
  .filter((comparator) => comparator.types.includes(props.criterion.dataType)));

const inputType = computed(() => DATA_TYPE_INPUT_TYPE_MAP[props.criterion.dataType] ?? 'text');

// FUNCTIONS
function updateCriterion(newColumnName) {
  emit('updateCriterion', props.criterion, newColumnName);
}
</script>

<template>
  <div class="n-filter-criterion">
    <slot
      name="columnUpdate"
      v-bind="{ columns, criterion, updateCriterion }"
    >
      <!-- eslint-disable vue/no-mutating-props -->
      <select
        v-model="criterion.columnName"
        class="n-filter-criterian-column"
        @change="updateCriterion($event.target.value)"
      >
        <option
          v-for="column in columns"
          :key="column"
          :value="column.name"
        >
          {{ column.label }}
        </option>
      </select>
    </slot>
    <slot
      name="methodUpdate"
      v-bind="{ methods, criterion, }"
    >
      <!-- eslint-disable vue/no-mutating-props -->
      <select
        v-model="criterion.method"
        class="n-filter-criterian-method"
      >
        <option
          v-for="method in methods"
          :key="method"
          :value="method"
        >
          {{ method.label }}
        </option>
      </select>
    </slot>
    <slot
      name="argumentUpdate"
      :criterion
    >
      <!-- eslint-disable vue/no-mutating-props -->
      <input
        v-model="criterion.argument"
        :type="inputType"
        class="n-filter-criterian-argument"
      >
    </slot>
    <slot
      name="criterionDelete"
      :delete-criterion="() => $emit('deleteCriterion', criterion)"
    >
      <button @click="$emit('deleteCriterion', criterion)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="16"
          width="10"
          viewBox="0 0 320 512"
        ><path d="M207.6 256l107.7-107.7c6.2-6.2 6.2-16.3 0-22.6l-25-25c-6.2-6.2-16.3-6.2-22.6 0L160 208.4 52.3 100.7c-6.2-6.2-16.3-6.2-22.6 0L4.7 125.7c-6.2 6.2-6.2 16.3 0 22.6L112.4 256 4.7 363.7c-6.2 6.2-6.2 16.3 0 22.6l25 25c6.2 6.2 16.3 6.2 22.6 0L160 303.6l107.7 107.7c6.2 6.2 16.3 6.2 22.6 0l25-25c6.2-6.2 6.2-16.3 0-22.6L207.6 256z" /></svg>
      </button>
    </slot>
  </div>
</template>

<style lang="scss">
  .n-filter-criterion {
    display: flex;
    position: relative;
    margin-bottom: 0.5rem;

    > * {
      flex: 1 1 auto;
      margin-bottom: 0!important;
      margin-right: 0.5rem;
      position: relative;
    }
  }

</style>
