<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->

<script setup>
import {
  computed, h, toRefs, useSlots
} from 'vue';

import NFilterGroup from '@/components/NFilterGroup.vue';
import NFilterCriterion from '@/components/NFilterCriterion.vue';

import { FILTER_TYPE_GROUP, FILTER_TYPE_CRITERION, GroupType } from '@/composables/useDataTable';

// SLOTS
const slots = useSlots();

// PROPS
const props = defineProps({
  filter: {
    type: Object,
    required: true
  },
  filterOptions: {
    type: Object,
    required: true
  },
  columns: {
    type: Object,
    required: true
  }
});

// REACTIVE
const { filter: rootFilter } = toRefs(props);

const filterableColumns = computed(() => props.columns
  .filter((column) => column.filterable));

// TEMPLATE RENDER
const entity = render();

// FUNCTIONS
function addFilter(filters, newFilterType) {
  if (newFilterType === FILTER_TYPE_GROUP) {
    filters.push({
      type: FILTER_TYPE_GROUP,
      groupType: GroupType.GROUP_TYPE_AND,
      filters: []
    });
  } else {
    const { name, type } = filterableColumns.value[0];
    const method = getTypeComparators(type)[0];

    filters.push({
      type: FILTER_TYPE_CRITERION,
      columnName: name,
      dataType: type,
      method,
      argument: ''
    });
  }
}

function createFilter(filter) {
  if (filter.type === FILTER_TYPE_GROUP) {
    return h(
      NFilterGroup,
      {
        group: filter,
        groupTypes: Object.values(GroupType),
        removable: filter !== rootFilter.value,
        onAddFilter: addFilter,
        onDeleteGroup: deleteFilter
      },
      {
        groupTypes: slots.groupTypes,
        filterAdd: slots.filterAdd,
        groupDeletion: slots.groupDeletion,
        groupChildren: () => filter.filters.map(createFilter)
      }
    );
  } if (filter.type === FILTER_TYPE_CRITERION) {
    return h(
      NFilterCriterion,
      {
        criterion: filter,
        columns: props.columns,
        comparators: getTypeComparators(filter.dataType),
        onUpdateCriterion: updateCriterionField,
        onDeleteCriterion: deleteFilter
      },
      {
        fieldUpdate: slots.fieldUpdate,
        methodUpdate: slots.methodUpdate,
        argumentUpdate: slots.argumentUpdate,
        critereDelete: slots.critereDelete
      }
    );
  }

  return h('div', 'Unknown filter type');
}

function deleteFilter(filterToDelete) {
  function recursiveDeletion(filter, index, filters) {
    if (filter === filterToDelete) {
      filters.splice(index, 1);
    } else if (filter.type === FILTER_TYPE_GROUP) {
      filter.filters.map(recursiveDeletion);
    }
  }

  // TODO: This is a hack, but it works for now
  if (filterToDelete !== rootFilter.value) {
    recursiveDeletion(rootFilter.value);
  }
}

function getTypeComparators(type) {
  const { criterionTypes = [] } = props.filterOptions;

  return criterionTypes
    .filter((comparator) => comparator.types.includes(type));
}

function render() {
  return createFilter(rootFilter.value);
}

function updateCriterionField(criterion, newColumnName) {
  const { type: newType } = filterableColumns.value.find((column) => column.name === newColumnName);

  if (criterion.dataType !== newType) {
    const newMethod = getTypeComparators(newType)[0];

    /* eslint-disable no-param-reassign */
    criterion.method = newMethod;
    criterion.argument = '';
    criterion.dataType = newType;
  }
}
</script>

<template>
  <entity />
</template>
