<script setup>
import { computed, provide, useSlots } from "vue";
import { isDefined } from "@/utilities/is";
import { flatten } from '@/utilities/render';
import { useValidator } from '@/composables/useValidator';

// EMITS
const emit = defineEmits(["update:modelValue"]);

// PROPS
const props = defineProps({
  source: {
    type: Object,
    required: true
  },
  schema: {
    type: Object,
    required: true
  },
});

// SLOTS
const slots = useSlots();

// REACTIVE
const defaultSlot = slots.default;

const inputChildren = computed(() => {
  if (defaultSlot) {
    // eslint-disable-next-line no-underscore-dangle
    return flatten(defaultSlot()).filter((v) => v.type?.__NANO_INPUT__ ?? false);
  }

  return [];
});

const { validity, blur } = useValidator( props.source, props.schema );


// METHODS


// PROVIDES
provide('NODE_INPUT_SOURCE', props.source);
provide('NODE_INPUT_VALIDITY', validity);
provide('NODE_INPUT_BLUR', blur);
</script>

<template>
  <form class="n-form">
    <slot />
  </form>
</template>
