<script setup>
import { computed, inject } from 'vue';
import { isDefined, isFunction } from "@/utilities/is";

const FN_NOP = () => {};

// EMITS
const emit = defineEmits(["update:modelValue"]);

// PROPS
const props = defineProps({
  name: {
    type: String,
    required: true
  },
  validity: {
    type: Object,
    default: null
  }
});

// OPTIONS
defineOptions({
  __NANO_INPUT__: true // add marker to aide finding tab components
});

// INJECTS
const validityInjected = inject("NODE_INPUT_VALIDITY", null);

// REACTIVE
const validity = computed(() => {
  if (isDefined(validityInjected)) {
    return validityInjected.value[props.name];
  } else if (isDefined(props.validity)) {
    return props.validity[props.name];
  }

  return {};
});

const label = props.name + "-error";

</script>

<template>
  <small
    class="n-input-error"
    :label
    v-for="m in validity.errors"
    role="alert"
    v-if="validity.ariaInv">{{m}}
  </small>
</template>
