<script setup>
import { computed, inject } from 'vue';
import { isDefined, isFunction } from "@/utilities/is";

const FN_NOP = () => {};

// EMITS
const emit = defineEmits(["update:modelValue"]);

// PROPS
const props = defineProps({
  name: {
    type: String,
    required: true
  },
  type: {
    type: String,
    required: true
  },
  modelValue: {
    type: String,
    default: null
  },
  source: {
    type: Object,
    default: null 
  },
  validity: {
    type: Object,
    default: null
  },
  blur: {
  },
  disabled: {
    type: Boolean
  }
});

// OPTIONS
defineOptions({
  __NANO_INPUT__: true // add marker to aide finding input components
});

// INJECTS
const sourceInjected = inject("NODE_INPUT_SOURCE", null);
const validityInjected = inject("NODE_INPUT_VALIDITY", null);
const blurInjected = inject("NODE_INPUT_BLUR", null);

// REACTIVE
const modelValueRef = computed({
  get: () => {
    if (isDefined(sourceInjected)) {
      return sourceInjected[props.name];
    } else if (isDefined(props.modelValue)) {
      return props.modelValue;
    } 
  },
  set: (value) => {
    if (isDefined(sourceInjected)) {
      sourceInjected[props.name] = value;
    } else if (isDefined(props.modelValue)) {
      emit("update:modelValue", value)
    }
  }
});

const ariaInvalid = computed(() => {
  if (isDefined(validityInjected)) {
    return validityInjected.value[props.name]?.ariaInv ?? "";
  } else if (isDefined(props.validity)) {
    return props.validity[props.name]?.ariaInv ?? "";
  }

  return "";
});

const label = props.name + "-error";

// METHODS
const blur = () => {
  if (isFunction(blurInjected)) {
    blurInjected(props.name);
  } else if (isFunction(props.blur)) {
    props.blur(props.name);
  }
};

</script>

<template>
  <input
    v-model="modelValueRef"
    :id="name"
    :name
    :type
    :disabled
    :aria-invalid="ariaInvalid"
    :aria-describedby="label"
    @blur="blur"
  />
</template>
