<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { useSlots, watchEffect } from 'vue';

const html = document.documentElement;

// PROPS
const props = defineProps({
  open: Boolean,
  notEscapable: {
    type: Boolean,
    default: false
  },
  persistent: {
    type: Boolean,
    default: false
  }
});

// WATCHES
watchEffect(() => {
  if (props.open) {
    html.classList.add('modal-is-open');
  } else {
    html.classList.remove('modal-is-open');
  }
});

// EMITS
const emit = defineEmits(['close', 'click:outside']);

// SLOTS
const slots = useSlots();

// FUNCTIONS
function closeModal() {
  emit('close');
}

function onBeforEnter() {
  html.classList.add('modal-is-opening');
}

function onBeforeLeave() {
  html.classList.add('modal-is-closing');
}

function onAfterEnter() {
  html.classList.remove('modal-is-opening');
}

function onAfterLeave() {
  html.classList.remove('modal-is-closing');
}
</script>

<template>
  <Transition
    @before-enter="onBeforEnter"
    @after-enter="onAfterEnter"
    @before-leave="onBeforeLeave"
    @after-leave="onAfterLeave"
  >
    <dialog
      v-if="open"
      open
    >
      <article>
        <header v-if="slots.headerBody">
          <a
            aria-label="Close"
            class="close"
            @click="closeModal"
          />
          <slot name="headerBody" />
        </header>
        <slot />
        <footer v-if="slots.footerBody">
          <slot name="footerBody" />
        </footer>
      </article>
    </dialog>
  </Transition>
</template>

<style>
  a.close {
    cursor: pointer;
  }
</style>
