<script setup>
import { computed, inject, ref } from 'vue';
import { isDefined, isEmpty, isFunction } from "@/utilities/is";

// EMITS
const emit = defineEmits(['update:modelValue'])

// PROPS
const props = defineProps({
  name: {
    type: String,
    required: true
  },
  modelValue: {
    type: String,
    default: null
  },
  placeholder: {
    type: String,
    default: 'Password'
  },
  source: {
    type: Object,
    default: null 
  },
  validity: {
    type: Object,
    default: null
  },
  blur: {
  },
  disabled: {
    type: Boolean
  },
  ariaInvalid: {
    type: Boolean,
    default: null
  },
  momentary: {
    type: Boolean,
    default: false
  },
  toggle: {
    type: Boolean,
    default: true
  }
});

// OPTIONS
defineOptions({
  __NANO_INPUT__: true // add marker to aide finding input components
});

// INJECTS
const sourceInjected = inject("NODE_INPUT_SOURCE", null);
const validityInjected = inject("NODE_INPUT_VALIDITY", null);
const blurInjected = inject("NODE_INPUT_BLUR", null);

// REACTIVE
const modelValueRef = computed({
  get: () => {
    if (isDefined(sourceInjected)) {
      return sourceInjected[props.name];
    } else if (isDefined(props.modelValue)) {
      return props.modelValue;
    } 
  },
  set: (value) => {
    if (isDefined(sourceInjected)) {
      sourceInjected[props.name] = value;
    } else if (isDefined(props.modelValue)) {
      emit("update:modelValue", value);
    }
  }
});

const ariaInvalid = computed(() => {
  let ariaInv = null;

  if (isDefined(validityInjected)) {
    ariaInv = validityInjected.value[props.name]?.ariaInv;
  } else if (isDefined(props.validity)) {
    ariaInv = props.validity[props.name]?.ariaInv ?? "";
  } else if (isDefined(props.ariaInvalid)) {
    ariaInv = props.ariaInvalid ?? "";
  }

  return !isEmpty(ariaInv) ? ariaInv : null;
});

const label = props.name + "-error";

const showPassword = ref(false);
const type = computed(() => showPassword.value ? 'text' : 'password');

// METHODS
const blur = () => {
  if (isFunction(blurInjected)) {
    blurInjected(props.name);
  } else if (isFunction(props.blur)) {
    props.blur(props.name);
  }
};

const mouseDown = () => {
  if (props.momentary) {
    showPassword.value = true;
  }
};

const mouseUp = () => {
  if (props.momentary) {
    showPassword.value = false;
  }
};

const togglePassword = () => {
  if (!props.momentary) {
    showPassword.value = !showPassword.value;
  }
};

</script>

<template>
  <div class="n-password" :aria-invalid="ariaInvalid">
    <input
     v-model="modelValueRef"
     :id="name"
     :type
     :placeholder
     :aria-label="placeholder"
     :aria-invalid="ariaInvalid" 
     :aria-describedby="label"
     @blur="blur"
    />
    <div v-if="toggle" class="toggle" @click="togglePassword" @mousedown.left="mouseDown" @mouseup.left="mouseUp" @mouseleave="mouseUp" aria-label="Toggle password visibility">
      <svg v-if="showPassword" xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 576 512" fill="currentColor"><path d="M129.1 361.4C93.6 327.2 67.7 286.9 52.5 256c15.1-30.9 41-71.2 76.6-105.4C171.8 109.5 224.9 80 288 80s116.2 29.5 158.9 70.6c35.6 34.3 61.5 74.5 76.6 105.4c-15.1 30.9-41 71.2-76.6 105.4C404.2 402.5 351.1 432 288 432s-116.2-29.5-158.9-70.6zM288 480c158.4 0 258-149.3 288-224C546 181.3 446.4 32 288 32S30 181.3 0 256c30 74.7 129.6 224 288 224zm0-144c-44.2 0-80-35.8-80-80c0-5.4 .5-10.6 1.5-15.7L288 256l-15.7-78.5c5.1-1 10.3-1.5 15.7-1.5c44.2 0 80 35.8 80 80s-35.8 80-80 80zM160 256c0 70.7 57.3 128 128 128s128-57.3 128-128s-57.3-128-128-128c-8.6 0-17 .8-25.1 2.5c-50.3 10-90 49.5-100.3 99.7l-.1 .7c-1.6 8.1-2.5 16.5-2.5 25.1z"/></svg>

      <svg v-else xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 640 512" fill="currentColor"><path d="M48.4 14.8L29.4 .1 0 38 19 52.7 591.5 497.2l19 14.7L639.9 474l-19-14.7L524 384.1c41.9-44 70.2-93.9 84-128.1C578 181.3 478.4 32 320 32c-66.9 0-123.2 26.6-168.3 63L48.4 14.8zM190.8 125.4C227.6 98 270.8 80 320 80c63 0 116.2 29.5 158.9 70.6c35.6 34.3 61.5 74.5 76.6 105.4c-14.1 28.9-37.6 65.8-69.6 98.5L434 314.2c8.9-17.5 14-37.2 14-58.2c0-70.7-57.3-128-128-128c-8.6 0-17 .8-25.1 2.5c-22.5 4.5-42.9 14.9-59.5 29.5l-44.6-34.6zM395 283.9l-82.2-63.8-8.5-42.6c5.1-1 10.3-1.5 15.7-1.5c44.2 0 80 35.8 80 80c0 9.8-1.8 19.2-5 27.9zm49.9 162.7l-41.6-32.7C377.9 425.3 350.1 432 320 432c-63.1 0-116.2-29.5-158.9-70.6C125.6 327.2 99.7 286.9 84.5 256c9.1-18.7 22.2-40.7 38.9-62.8L85.7 163.5C60.2 197.1 42.1 230.8 32 256c30 74.7 129.6 224 288 224c46.9 0 88.6-13.1 124.9-33.4zm-86.7-68.3L302 334c-23.5-5.4-43.1-21.2-53.7-42.3l-56.1-44.2c-.2 2.8-.3 5.6-.3 8.5c0 70.7 57.3 128 128 128c13.3 0 26.1-2 38.2-5.8z"/></svg>

    </div>
  </div>
</template>

<style lang="scss">
  .n-password {
    position: relative;

    input:has(+ .toggle) {
      padding-right: calc(var(--nano-form-element-spacing-horizontal) + 2rem) !important;
    }

    input[aria-invalid=true]:has(+ .toggle) {
      padding-right: calc(var(--nano-form-element-spacing-horizontal) + 4rem) !important;
    }
    input[aria-invalid=false]:has(+ .toggle) {
      padding-right: calc(var(--nano-form-element-spacing-horizontal) + 4rem) !important;
    }

    input + .toggle {
      right: 0.375rem;
    }

    input[aria-invalid] + .toggle {
      right: calc(var(--nano-form-element-spacing-horizontal) + 1.5rem);
    }

    .toggle {
      color: var(--nano-form-element-color);
      top: 0;
      position: absolute;

      cursor: pointer;
      width: 2rem;
      text-align: center;
      height: calc(1rem* var(--nano-line-height) + var(--nano-form-element-spacing-vertical)* 2 + var(--nano-border-width)* 2);

      svg {
        height: 100%;
      }
    }
  }
</style>
