<script setup>
/* @desc: provides a select input component
 * @props:
 *  - name: string
 *  - type: string
 *  - modelValue: string
 *  - options: array|object
 *  - source: object
 *  - validity: object
 *  - blur: function
 * - disabled: boolean
 *
 * @emits:
 *  - update:modelValue
 * 
 * @example:
 *   <n-select v-model="foo" :options="['a', 'b', 'c']" />
 *   <n-select v-model="foo" :options="{a: 'A', b: 'B', c: 'C'}" />
 */
import { computed, inject } from 'vue';
import { isDefined, isFunction } from "@/utilities/is";

const FN_NOP = () => {};

// EMITS
const emit = defineEmits(["update:modelValue"]);

// PROPS
const props = defineProps({
  name: {
    type: String,
    required: true
  },
  modelValue: {
    type: String,
    default: null
  },
  options: {
    type: [Array, Object],
    required: true
  },
  source: {
    type: Object,
    default: null 
  },
  validity: {
    type: Object,
    default: null
  },
  blur: {
  },
  disabled: {
    type: Boolean
  }
});

// OPTIONS
defineOptions({
  __NANO_INPUT__: true // add marker to aide finding input components
});

// INJECTS
const sourceInjected = inject("NODE_INPUT_SOURCE", null);
const validityInjected = inject("NODE_INPUT_VALIDITY", null);
const blurInjected = inject("NODE_INPUT_BLUR", null);

// REACTIVE
const modelValueRef = computed({
  get: () => {
    if (isDefined(sourceInjected)) {
      return sourceInjected[props.name];
    } else if (isDefined(props.modelValue)) {
      return props.modelValue;
    } 
  },
  set: (value) => {
    if (isDefined(sourceInjected)) {
      sourceInjected[props.name] = value;
    } else if (isDefined(props.modelValue)) {
      emit("update:modelValue", value)
    }
  }
});

const optionsNormalised = computed(() => {
  if (Array.isArray(props.options)) {
    return props.options.reduce((acc, value) => {
      acc[value] = value;
      return acc;
    }, {});
  }

  return props.options;
});

const ariaInvalid = computed(() => {
  if (isDefined(validityInjected)) {
    return validityInjected.value[props.name]?.ariaInv ?? "";
  } else if (isDefined(props.validity)) {
    return props.validity[props.name]?.ariaInv ?? "";
  }

  return "";
});

const label = props.name + "-error";

// METHODS
const blur = () => {
  if (isFunction(blurInjected)) {
    blurInjected(props.name);
  } else if (isFunction(props.blur)) {
    props.blur(props.name);
  }
};

</script>

<template>
  <select
    v-model="modelValueRef"
    :id="name"
    :name
    :disabled
    :aria-invalid="ariaInvalid"
    :aria-describedby="label"
    @blur="blur"
  >
    <option v-for="(value, key) in optionsNormalised" :key="key" :value="key">{{ value }}</option>
  </select>

</template>
