<!--
  This file is part of pyxels.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<script setup>
// PROPS
const props = defineProps({
  disabled: Boolean,
  signal: {
    type: Number,
    default: 0
  }
});

const isLevel = (level) => {
  if (props.signal <= -100) {
    return level === 0;
  } if (props.signal >= -50) {
    return level === 3;
  }

  return Math.floor((2 * (props.signal + 100)) / 25) === level;
};
</script>

<template>
  <div class="ui-signal">
    <svg
      v-if="isLevel(0)"
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="signal-alt-1"
      class="svg-inline--fa fa-signal-alt-1 fa-w-20"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 512"
    ><path
      fill="currentColor"
      d="M96 384H64c-17.67 0-32 14.33-32 32v64c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-64c0-17.67-14.33-32-32-32z"
    /></svg>
    <svg
      v-if="isLevel(1)"
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="signal-alt-2"
      class="svg-inline--fa fa-signal-alt-2 fa-w-20"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 512"
    ><path
      fill="currentColor"
      d="M96 384H64c-17.67 0-32 14.33-32 32v64c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-64c0-17.67-14.33-32-32-32zm160-128h-32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V288c0-17.67-14.33-32-32-32z"
    /></svg>
    <svg
      v-if="isLevel(2)"
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="signal-alt-3"
      class="svg-inline--fa fa-signal-alt-3 fa-w-20"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 512"
    ><path
      fill="currentColor"
      d="M96 384H64c-17.67 0-32 14.33-32 32v64c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-64c0-17.67-14.33-32-32-32zm160-128h-32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V288c0-17.67-14.33-32-32-32zm160-128h-32c-17.67 0-32 14.33-32 32v320c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32z"
    /></svg>
    <svg
      v-if="isLevel(3)"
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="signal-alt"
      class="svg-inline--fa fa-signal-alt fa-w-20"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 512"
    ><path
      fill="currentColor"
      d="M96 384H64c-17.67 0-32 14.33-32 32v64c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-64c0-17.67-14.33-32-32-32zm160-128h-32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V288c0-17.67-14.33-32-32-32zm160-128h-32c-17.67 0-32 14.33-32 32v320c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32zM576 0h-32c-17.67 0-32 14.33-32 32v448c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32z"
    /></svg>
  </div>
</template>

<style lang="scss">
  .ui-signal {
    display: inline-block;
    margin-left: 0.5em;
  }
</style>
