<script setup>
import { computed, inject, toRefs } from 'vue';
import { isUndefined } from '@/utilities/is';

// PROPS
const props = defineProps({
  name: {
    type: String,
    required: true
  },
  disabled: {
    type: Boolean
  }
});

// OPTIONS
defineOptions({
  __NANO_TAB__: true // add marker to aide finding tab components
});

// INJECTS
const activeTab = inject('NODE_TAB_ACTIVE_IK', '');

// REACTIVE
const isActive = computed(() => activeTab.value === props.name);

const id = computed(() => `n-tabpanel-${props.name}`);
const labelId = computed(() => `n-tab-${props.name}`);

// METHODS
function onClick() {
  if (props.disabled) {
    return;
  } else if (isActive.value) {
    return;
  }

  activeTab.value = props.name;
}
</script>

<template>
  <div
    role="tabpanel"
    :id
    :aria-labelledby="labelId"
    :hidden="!isActive"
  >
    <slot />
  </div>
</template>

