<script setup>
import { computed, provide, ref } from 'vue';

// EMITS
const emit = defineEmits(['update:modelValue']);

// PROPS
const props = defineProps({
  modelValue: {
    type: String,
    required: true
  }
});

// REACTIVE
const modelValueRef = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value)
});

// METHODS

// PROVIDES
provide('NODE_TAB_ACTIVE_IK', modelValueRef);
</script>

<template>
  <div class="n-tab-panels">
    <slot />
  </div>
</template>

