<script setup>
import { computed, inject } from 'vue';
import { isUndefined } from '@/utilities/is';

// PROPS
const props = defineProps({
  name: {
    type: String,
    required: true
  },
  disabled: {
    type: Boolean,
    default: false
  }
});

// OPTIONS
defineOptions({
  __NANO_TAB__: true // add marker to aide finding tab components
});

// INJECTS
const activeTab = inject('NODE_TAB_ACTIVE_IK', '');

// REACTIVE
const isActive = computed(() => activeTab.value === props.name);

const labelId = computed(() => `n-tab-${props.name}`);

// METHODS
function onClick() {
  if (props.disabled) {
    return;
  } else if (isActive.value) {
    return;
  }

  activeTab.value = props.name;
}
</script>

<template>
  <li
    :disabled="props.disabled ? 'true' : null"
  >
    <a
      role="tab"
      :id="labelId"
      :aria-selected="isActive"
      :aria-controls="labelId"
      @click="onClick"
    >
      <slot />
    </a>
  </li>
</template>
