<script setup>
import { computed, provide, ref } from 'vue';

// EMITS
const emit = defineEmits(['update:modelValue']);

// PROPS
const props = defineProps({
  modelValue: {
    type: String,
    required: true
  }
});

// REACTIVE
const modelValueRef = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value)
});

// METHODS
function isActive(tab) {
  return tab.props.name === modelValueRef.value;
}

// PROVIDES
provide('NODE_TAB_ACTIVE_IK', modelValueRef);
</script>

<template>
  <nav
    role="tablist"
    aria-label="tabs"
    class="n-tabs"
  >
    <ul>
      <slot />
    </ul>
  </nav>
</template>
