<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->

<script setup>
/*


  example usage

  rules: {
    modelValue: [
      { required: true, message: 'This field is required' },
      { min: 3, message: 'This field must be at least 3 characters' }
    ]
  }

  { state, errors } = useValidation(rules)

  <input v-model="modelValue" n-validator=":state"  />




*/
</script>

<template>
  <slot name="input">
  </slot>
</template>
