<!--
  This file is part of nano.

  Author(s):
   - Ian Firns <firnsy@gmail.com>

  License: MIT
-->
<script setup>
import { ref } from 'vue';
import ColorModal from '@/components/ColorModal.vue';

// PROPS
const props = defineProps({
  family: {
    type: String,
    default: 'primary'
  },
  familyMap: {
    type: Object,
    default: () => ({
      main: {
        50: '#f5f5f5',
        100: '#eeeeee',
        200: '#e0e0e0',
        300: '#bdbdbd',
        400: '#9e9e9e',
        500: '#757575',
        600: '#616161',
        700: '#424242',
        800: '#212121',
        900: '#212121'
      }
    })
  }
});

// REFS
const modalOpen = ref(false);
const activeShade = ref('main');

// FUNCTIONS
function getFamilyShades() {
  return Object.keys(props.familyMap)
    .filter((shade) => shade !== 'main');
}

function formatClassName(shade) {
  const { family } = props;
  return shade === 'main' ? `nano-background-${family}` : `nano-background-${family}-${shade}`;
}

function clicked(shade) {
  activeShade.value = shade === 'main' ? '500' : shade;
  modalOpen.value = true;
}

function closeModal() {
  modalOpen.value = false;
}
</script>

<template>
  <article class="family">
    <header
      :class="formatClassName('main')"
      role="button"
      @click="clicked('main')"
    >
      {{ family }}
    </header>
    <main>
      <button
        v-for="shade in getFamilyShades()"
        :key="shade"
        class="secondary"
        :class="formatClassName(shade)"
        @click="clicked(shade)"
      >
        {{ shade }}
      </button>
    </main>
  </article>
  <color-modal
    :open="modalOpen"
    :family="family"
    :shade="activeShade"
    :family-map="props.familyMap"
    @close="closeModal()"
  />
</template>

<style>
  .family main {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 0.75rem;
  }

  .family header {
    aspect-ratio: 16/9;
    margin: 0;
    margin-bottom: 0.75rem;
    padding: 0;
    padding: 1rem 2rem;
    border-radius: var(--nano-border-radius);
    border-color: transparent;
    text-align: left;
  }

  .family header::first-letter {
    text-transform: capitalize;
  }

  .family main {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: .75rem
  }

  .family main>button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    margin-bottom: 0;
    padding: 0;
    border-width: 0;
    border-radius: var(--nano-border-radius);
    font-size: .75rem
  }
</style>
