@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/alert") {
  //
  // ALERT
  //

  // generate contextual modifier classes for colorizing the alert
  $states: primary, secondary, contrast, danger, info, success, warning;

  #{$parent-selector} .alert,
  #{$parent-selector} [role="alert"]:not(small) {
    position: relative;
    padding: var(#{$p}alert-padding-y) var(#{$p}alert-padding-x);
    margin-bottom: var(#{$p}alert-margin-bottom);
    color: var(#{$p}alert-color);
    background-color: var(#{$p}alert-bg);
    border: var(#{$p}alert-border-width) solid var(#{$p}alert-border-color);
    border-radius: var(#{$p}alert-border-radius);

    @each $state in $states {
      &.#{$state} {
        #{$p}alert-color: var(#{$p}#{$state}-inverse);
        #{$p}alert-bg: var(#{$p}#{$state}-background);
        #{$p}alert-border-color: var(#{$p}#{$state}-border);
        #{$p}alert-link-color: var(#{$p}#{$state}-inverse);
      }
    }
  }

  // Headings for larger alerts
  .alert-heading {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: var(#{$p}alert-link-font-weight);
    color: var(#{$p}alert-link-color);
  }


  // Dismissible alerts
  //
  // Expand the right padding and account for the close button's positioning.

  /*
  .alert-dismissible {
    padding-right: $alert-dismissible-padding-r;

    // Adjust close link position
    .close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: $stretched-link-z-index + 1;
      padding: $alert-padding-y * 1.25 $alert-padding-x;
    }
  }
  */
}
