@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/card") {
  /**
   * Card (<article>)
   */

  #{$parent-selector} article,
  #{$parent-selector} [role="article"],
  #{$parent-selector} .card {
    margin-bottom: var(#{$p}block-spacing-vertical);
    padding: var(#{$p}block-spacing-vertical) var(#{$p}block-spacing-horizontal);
    border-radius: var(#{$p}border-radius);
    background: var(#{$p}card-background-color);
    box-shadow: var(#{$p}card-box-shadow);

    > header,
    > footer {
      margin-right: calc(var(#{$p}block-spacing-horizontal) * -1);
      margin-left: calc(var(#{$p}block-spacing-horizontal) * -1);
      padding: calc(var(#{$p}block-spacing-vertical) * 0.66) var(#{$p}block-spacing-horizontal);
      background-color: var(#{$p}card-sectioning-background-color);
    }

    > header {
      margin-top: calc(var(#{$p}block-spacing-vertical) * -1);
      margin-bottom: var(#{$p}block-spacing-vertical);
      border-bottom: var(#{$p}border-width) solid var(#{$p}card-border-color);
      border-top-right-radius: var(#{$p}border-radius);
      border-top-left-radius: var(#{$p}border-radius);
    }

    > footer {
      margin-top: var(#{$p}block-spacing-vertical);
      margin-bottom: calc(var(#{$p}block-spacing-vertical) * -1);
      border-top: var(#{$p}border-width) solid var(#{$p}card-border-color);
      border-bottom-right-radius: var(#{$p}border-radius);
      border-bottom-left-radius: var(#{$p}border-radius);
    }
  }
}
