@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/dropdown") {
  //
  // DROPDOWN (details.dropdown)
  //

  // container
  // ––––––––––––––––––––
  #{$parent-selector} details.dropdown {
    position: relative;
    border-bottom: none;

    // marker
    // ––––––––––––––––––––
    > summary,
    > button,
    > a {
      &::after {
        display: block;
        width: 1rem;
        height: calc(1rem * var(#{$p}line-height, 1.5));
        margin-inline-start: 0.25rem;
        float: right;
        // TODO: find out why we need this magic number (0.2 rem)
        // for the marker to be aligned with the regular select
        transform: rotate(0deg) translateX(0.2rem);
        background-image: var(#{$p}icon-chevron);
        background-position: right center;
        background-size: 0.625rem auto;
        background-repeat: no-repeat;
        content: "";
      }
    }
  }

  // container type accordion inside a nav
  // ––––––––––––––––––––
  #{$parent-selector} nav details.dropdown {
    // Override height
    margin-bottom: 0;
  }

  // button as a select inside container type accordion
  // ––––––––––––––––––––
  #{$parent-selector} details.dropdown > summary:not([role]) {
    height: calc(
      1rem *
        var(#{$p}line-height) +
        var(#{$p}form-element-spacing-vertical) *
        2 +
        var(#{$p}border-width) *
        2
    );
    padding: var(#{$p}form-element-spacing-vertical) var(#{$p}form-element-spacing-horizontal);
    border: var(#{$p}border-width) solid var(#{$p}form-element-border-color);
    border-radius: var(#{$p}border-radius);
    background-color: var(#{$p}form-element-background-color);
    color: var(#{$p}form-element-placeholder-color);
    line-height: inherit;
    cursor: pointer;
    user-select: none;

    @if $enable-transitions {
      transition: background-color var(#{$p}transition), border-color var(#{$p}transition),
        color var(#{$p}transition), box-shadow var(#{$p}transition);
    }

    &:active,
    &:focus {
      border-color: var(#{$p}form-element-active-border-color);
      background-color: var(#{$p}form-element-active-background-color);
    }

    &:focus {
      box-shadow: 0 0 0 var(#{$p}outline-width) var(#{$p}form-element-focus-color);
    }

    // reset focus visible from accordion component
    &:focus-visible {
      outline: none;
    }

    // aria-invalid
    &[aria-invalid="false"] {
      #{$p}form-element-border-color: var(#{$p}form-element-valid-border-color);
      #{$p}form-element-active-border-color: var(#{$p}form-element-valid-focus-color);
      #{$p}form-element-focus-color: var(#{$p}form-element-valid-focus-color);
    }

    &[aria-invalid="true"] {
      #{$p}form-element-border-color: var(#{$p}form-element-invalid-border-color);
      #{$p}form-element-active-border-color: var(#{$p}form-element-invalid-focus-color);
      #{$p}form-element-focus-color: var(#{$p}form-element-invalid-focus-color);
    }
  }

  // dropdown inside a nav
  // ––––––––––––––––––––
  #{$parent-selector} nav details.dropdown {
    display: inline;
    margin: calc(var(#{$p}nav-element-spacing-vertical) * -1) 0;

    > summary {
      &::after {
        transform: rotate(0deg) translateX(0rem);
      }

      &:not([role]) {
        // Override height
        height: calc(
          (1rem * var(#{$p}line-height)) +
            (var(#{$p}nav-link-spacing-vertical) * 2)
        );
        padding: calc(
            var(#{$p}nav-link-spacing-vertical) -
              (var(#{$p}border-width) * 2)
          )
          var(#{$p}nav-link-spacing-horizontal);

        &:focus-visible {
          box-shadow: 0
            0
            0
            var(#{$p}outline-width)
            var(#{$p}primary-focus);
        }
      }
    }
  }

  // submenu
  // ––––––––––––––––––––
  #{$parent-selector} details.dropdown > summary + ul {
    display: flex;
    z-index: 99;
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    margin: 0;
    margin-top: var(#{$p}outline-width);
    padding: 0;
    border: var(#{$p}border-width) solid var(#{$p}dropdown-border-color);
    border-radius: var(#{$p}border-radius);
    background-color: var(#{$p}dropdown-background-color);
    box-shadow: var(#{$p}dropdown-box-shadow);
    color: var(#{$p}dropdown-color);
    white-space: nowrap;
    opacity: 0;

    @if $enable-transitions {
      transition: opacity var(--nano-transition), transform 0s ease-in-out 1s;
    }

    &[dir="rtl"] {
      right: 0;
      left: auto;
    }

    li {
      width: 100%;
      margin-bottom: 0;
      padding: calc(var(#{$p}form-element-spacing-vertical) * 0.5)
        var(#{$p}form-element-spacing-horizontal);
      list-style: none;

      &:first-of-type {
        margin-top: calc(var(#{$p}form-element-spacing-vertical) * 0.5);
      }

      &:last-of-type {
        margin-bottom: calc(var(#{$p}form-element-spacing-vertical) * 0.5);
      }

      a {
        display: block;
        margin: calc(var(#{$p}form-element-spacing-vertical) * -0.5)
          calc(var(#{$p}form-element-spacing-horizontal) * -1);
        padding: calc(var(#{$p}form-element-spacing-vertical) * 0.5)
          var(#{$p}form-element-spacing-horizontal);
        overflow: hidden;
        border-radius: 0;
        color: var(#{$p}dropdown-color);
        text-decoration: none;
        text-overflow: ellipsis;

        &:hover,
        &:focus,
        &:active,
        &:focus-visible,
        &[aria-current]:not([aria-current="false"]) {
          background-color: var(#{$p}dropdown-hover-background-color);
        }
      }

      label {
        width: 100%;
      }

      // not working in firefox, which doesn't support the `:has()` pseudo-class
      &:has(label):hover {
        background-color: var(#{$p}dropdown-hover-background-color);
      }
    }
  }

  // button opened inside container type accordion
  // ––––––––––––––––––––
  #{$parent-selector} details.dropdown[open] > summary {
    margin-bottom: 0;
  }

  // menu opened
  // ––––––––––––––––––––
  // 1. inside container type accordion
  #{$parent-selector} details.dropdown[open] > summary {
    + ul {
      transform: scaleY(1);
      opacity: 1;

      @if $enable-transitions {
        transition: opacity var(--nano-transition), transform 0s ease-in-out 0s;
      }
    }
  }

  // close for dropdown inside container type accordion
  // ––––––––––––––––––––
  #{$parent-selector} details.dropdown[open] > summary {
    &::before {
      display: block;
      z-index: 1;
      position: fixed;
      width: 100vw;
      height: 100vh;
      inset: 0;
      background: none;
      content: "";
      cursor: default;
    }
  }
  // label
  // ––––––––––––––––––––
  #{$parent-selector} label > details.dropdown {
    margin-top: calc(var(#{$p}spacing) * 0.25);
  }
}
