@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/icons") {
  //
  // ICONS
  //

  // font-awesome support
  .svg-inline--fa {
    &.fa-w-14 {width:0.875em}
    &.fa-w-16 {width:1em}
    &.fa-w-18 {width:1.125em}
    &.fa-w-20 {width:1.25em}
    &.fa-w-32 {width:2em}

    &.fa-2xs {font-size:0.625em}
    &.fa-xs {font-size:0.75em}
    &.fa-sm {font-size:0.875em}
    &.fa-lg {font-size:1.25em}
    &.fa-xl {font-size:1.5em}
    &.fa-2xl {font-size:2em}

    &.fa-1x {font-size:1em}
    &.fa-2x {font-size:2em}
    &.fa-3x {font-size:3em}
    &.fa-4x {font-size:4em}
    &.fa-5x {font-size:5em}
  }

  .fa-fw {
    text-align: center;
    width: 1.25em;
  }

  .fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}
  @keyframes fa-spin{
    0% {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(1turn)
    }
  }
}
