@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/modal") {
  //
  // MODAL (<dialog>)
  //

  :root {
    #{$p}scrollbar-width: 0px;
  }

  #{$parent-selector} dialog {
    display: grid;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: inherit;
    min-width: 100%;
    height: inherit;
    min-height: 100%;
    padding: var(#{$p}spacing);
    border: 0;
    backdrop-filter: var(#{$p}modal-overlay-backdrop-filter);
    background-color: var(#{$p}modal-overlay-background-color);
    color: var(#{$p}color);
    opacity: 1;
    @if $enable-transitions {
      transition: all var(#{$p}transition) allow-discrete;
    }

    // content
    > article {
      $close-selector: ".close, button[rel='prev']";
      width: 100%;

      @if $enable-transitions {
        transform: scale(1);
        transition: transform var(#{$p}transition);
      }

      @if map.get($breakpoints, "sm") {
        @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
          max-width: map.get(map.get($breakpoints, "sm"), "viewport");
        }
      }

      @if map.get($breakpoints, "md") {
        @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
          max-width: map.get(map.get($breakpoints, "md"), "viewport");
        }
      }

      @if map.get($breakpoints, "lg") {
        @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
          max-width: map.get(map.get($breakpoints, "lg"), "viewport");
        }
      }

      > header {
        h1, h2, h3, h4, h5, h6 {
          margin-bottom: 0;
        }

        #{$close-selector} {
          margin: 0;
          margin-left: var(#{$p}spacing);
          padding: 0;
          float: right;
        }
      }

      > footer {
        text-align: right;

        button,
        [role="button"] {
          margin-bottom: 0;

          &:not(:first-of-type) {
            margin-left: calc(var(#{$p}spacing) * 0.5);
          }
        }
      }

      // close icon
      #{$close-selector} {
        display: block;
        width: 1rem;
        height: 1rem;
        margin-top: calc(var(#{$p}spacing) * -1);
        margin-bottom: var(#{$p}spacing);
        margin-left: auto;
        border: none;
        background-image: var(#{$p}icon-close);
        background-position: center;
        background-size: auto 1rem;
        background-repeat: no-repeat;
        background-color: transparent;
        opacity: 0.5;

        @if $enable-transitions {
          transition: opacity var(#{$p}transition);
        }

        &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
          opacity: 1;
        }
      }
    }

    // closed state
    &:not([open]),
    &[open="false"] {
      visibility: hidden;
      opacity: 0;

      & article {
        transform: scale(0.7);
      }
    }
  }

  // utilities
  .modal-is-open {
    padding-right: var(#{$p}scrollbar-width, 0px);
    overflow: hidden;
    pointer-events: none;
    touch-action: none;

    dialog {
      overflow: auto;
      pointer-events: auto;
      touch-action: auto;
    }
  }

  // animations
  @if $enable-transitions {
    $animation-duration: 0.2s;

    :where(.modal-is-opening, .modal-is-closing) {
      dialog,
      dialog > article {
        animation-duration: $animation-duration;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
      }

      dialog {
        animation-duration: ($animation-duration * 4);
        animation-name: modal-overlay;

        > article {
          animation-delay: $animation-duration;
          animation-name: modal;
        }
      }
    }

    .modal-is-closing {
      dialog,
      dialog > article {
        animation-delay: 0s;
        animation-direction: reverse;
      }
    }

    @keyframes modal-overlay {
      from {
        backdrop-filter: none;
        background-color: transparent;
      }
    }

    @keyframes modal {
      from {
        transform: translateY(-100%);
        opacity: 0;
      }
    }
  }
}
