@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/nav") {
  //
  // NAV
  //

  // prevent voiceover from ignoring list semantics in safari (opinionated)
  :where(nav li)::before {
    float: left;
    content: "\200B";
  }

  // nano
  #{$parent-selector} nav,
  #{$parent-selector} nav ul {
    display: flex;
  }

  #{$parent-selector} nav {
    justify-content: space-between;
    overflow: visible;

    ol,
    ul {
      align-items: center;
      margin-bottom: 0;
      padding: 0;
      list-style: none;

      &:first-of-type {
        margin-left: calc(var(#{$p}nav-element-spacing-horizontal) * -1);
      }
      &:last-of-type {
        margin-right: calc(var(#{$p}nav-element-spacing-horizontal) * -1);
      }
    }

    li {
      display: inline-block;
      margin: 0;
      padding: var(#{$p}nav-element-spacing-vertical) var(#{$p}nav-element-spacing-horizontal);

      :where(a, [role="link"]) {
        display: inline-block;
        margin: calc(var(#{$p}nav-link-spacing-vertical) * -1) calc(var(#{$p}nav-link-spacing-horizontal) * -1);
        padding: var(#{$p}nav-link-spacing-vertical) var(#{$p}nav-link-spacing-horizontal);
        border-radius: var(#{$p}border-radius);

        &:not(:hover) {
          text-decoration: none;
        }
      }

      // minimal support for buttons and forms elements
      button,
      [role="button"],
      [type="button"],
      input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]),
      select {
        height: auto;
        margin-right: inherit;
        margin-bottom: 0;
        margin-left: inherit;
        padding: calc(var(#{$p}nav-link-spacing-vertical) - (var(#{$p}border-width) * 2))
          var(#{$p}nav-link-spacing-horizontal);
      }
    }

    // breadcrumb
    &[aria-label="breadcrumb"] {
      align-items: center;
      justify-content: start;

      & ul li {
        &:not(:first-child) {
          margin-inline-start: var(#{$p}nav-link-spacing-horizontal);
        }

        &:not(:last-child) {
          &::after {
            position: absolute;
            width: calc(var(#{$p}nav-link-spacing-horizontal) * 2);
            margin-inline-start: calc(var(#{$p}nav-link-spacing-horizontal) / 2);
            content: var(#{$p}nav-breadcrumb-divider);
            color: var(#{$p}muted-color);
            text-align: center;
            text-decoration: none;
          }
        }
      }

      // minimal support for aria-current
      & a[aria-current]:not([aria-current="false"]) {
        background-color: transparent;
        color: inherit;
        text-decoration: none;
        pointer-events: none;
      }
    }
  }

  // vertical nav
  #{$parent-selector} aside {
    nav,
    ol,
    ul,
    li {
      display: block;
    }

    li {
      padding: calc(var(#{$p}nav-element-spacing-vertical) * 0.5)
        var(#{$p}nav-element-spacing-horizontal);

      a {
        display: block;
      }

      // minimal support for links as buttons
      [role="button"] {
        margin: inherit;
      }
    }
  }

  // breadcrumb rtl
  [dir="rtl"] {
    #{$parent-selector} nav {
      &[aria-label="breadcrumb"] {
        & ul li {
          &:not(:last-child) {
            ::after {
              content: "\\";
            }
          }
        }
      }
    }
  }
}
