@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/note") {
  //
  // NOTE
  //

  // generate contextual modifier classes for colorizing the note
  $states: primary, secondary, contrast, danger, info, success, warning;

  #{$parent-selector} .note,
  #{$parent-selector} [role="note"] {
    position: relative;
    padding: var(#{$p}note-padding-y) var(#{$p}note-padding-x);
    margin-bottom: var(#{$p}note-margin-bottom);
    color: var(#{$p}note-color);
    background-color: var(#{$p}note-bg);
    border-left: var(#{$p}note-border-width) solid var(#{$p}note-border-color);
    border-radius: var(#{$p}note-border-radius);

    p {
      color: inherit;
    }

    p:last-child {
      margin-bottom: 0;
    }

    @each $state in $states {
      &.#{$state} {
        #{$p}note-color: var(#{$p}#{$state}-inverse);
        #{$p}note-bg: var(#{$p}#{$state}-background);
        #{$p}note-border-color: var(#{$p}#{$state}-border);
        #{$p}note-link-color: var(#{$p}#{$state}-inverse);
      }
    }
  }

  // Headings for larger notes
  .note-heading {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match notes
  .note-link {
    font-weight: var(#{$p}note-link-font-weight);
    color: var(#{$p}note-link-color);
  }
}
