@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/tabs") {
  //
  // TABS
  //

  [role="tablist"] [disabled] [role="tab"] {
    -nano-background-color: var(--nano-form-element-disabled-background-color);
    --nano-border-color: var(--nano-form-element-disabled-border-color);
    opacity: var(--nano-form-element-disabled-opacity);
    pointer-events: none;
  }
}
