@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "forms/basics") {
  // Helper
  $helper-previous-tags: "input, select, textarea, fieldset, .n-input, .n-password";

  //
  // BASICS FORM ELEMENTS
  //

  // Reboot based on :
  // - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
  // - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css
  // ––––––––––––––––––––

  // 1. Change the font styles in all browsers
  // 2. Remove the margin in Firefox and Safari
  #{$parent-selector} input,
  #{$parent-selector} optgroup,
  #{$parent-selector} select,
  #{$parent-selector} textarea {
    margin: 0; // 2
    font-size: 1rem; // 1
    line-height: var(#{$p}line-height); // 1
    font-family: inherit; // 1
    letter-spacing: inherit; // 2
  }

  // show the overflow in IE.
  #{$parent-selector} input {
    overflow: visible;
  }

  // vemove the inheritance of text transform in edge, firefox, and IE
  #{$parent-selector} select {
    text-transform: none;
  }

  // 1. Correct the text wrapping in Edge and IE
  // 2. Correct the color inheritance from `fieldset` elements in IE
  // 3. Remove the padding so developers are not caught out when they zero out
  // `fieldset` elements in all browsers
  #{$parent-selector} legend {
    max-width: 100%; // 1
    padding: 0; // 3
    color: inherit; // 2
    white-space: normal; // 1
  }

  // 1. remove the default vertical scrollbar in IE
  #{$parent-selector} textarea {
    overflow: auto; // 1
  }

  // remove the padding in IE 10
  #{$parent-selector} [type="checkbox"],
  #{$parent-selector} [type="radio"] {
    padding: 0;
  }

  // correct the cursor style of increment and decrement buttons in safari
  #{$parent-selector} ::-webkit-inner-spin-button,
  #{$parent-selector} ::-webkit-outer-spin-button {
    height: auto;
  }

  // 1. correct the odd appearance in chrome and safari
  // 2. correct the outline style in safari
  #{$parent-selector} [type="search"] {
    -webkit-appearance: textfield; // 1
    outline-offset: -2px; // 2
  }

  // Remove the inner padding in Chrome and Safari on macOS
  #{$parent-selector} [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  // 1. correct the inability to style clickable types in ios and safari
  // 2. change font properties to `inherit` in safari
  #{$parent-selector} ::-webkit-file-upload-button {
    -webkit-appearance: button; // 1
    font: inherit; // 2
  }

  // remove the inner border and padding of focus outlines in firefox
  #{$parent-selector} ::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  // remove the focus outline in firefox
  #{$parent-selector} :-moz-focusring {
    outline: none;
  }

  // Remove the additional :invalid styles in Firefox
  #{$parent-selector} :-moz-ui-invalid {
    box-shadow: none;
  }

  // change the inconsistent appearance in IE (opinionated)
  #{$parent-selector} ::-ms-expand {
    display: none;
  }

  // remove the border and padding in all browsers (opinionated)
  #{$parent-selector} [type="file"],
  #{$parent-selector} [type="range"] {
    padding: 0;
    border-width: 0;
  }

  // nano
  // ––––––––––––––––––––

  // force height for alternatives input types
  #{$parent-selector} input:not([type="checkbox"], [type="radio"], [type="range"]) {
    height: calc(
      (1rem * var(#{$p}line-height)) +
        (var(#{$p}form-element-spacing-vertical) * 2) +
        (var(#{$p}border-width) * 2)
    );
  }

  // force min-height of text areas to match height of normal input types
  #{$parent-selector} textarea {
    min-height: calc(
      (1rem * var(#{$p}line-height)) +
        (var(#{$p}form-element-spacing-vertical) * 2) +
        (var(#{$p}border-width) * 2)
    );
  }

  // fieldset
  #{$parent-selector} fieldset {
    width: 100%;
    margin: 0;
    margin-bottom: var(#{$p}spacing);
    padding: 0;
    border: 0;
  }

  // label & legend
  #{$parent-selector} label,
  #{$parent-selector} fieldset legend {
    display: block;
    margin-bottom: calc(var(#{$p}spacing) * 0.375);
    color: var(#{$p}color);
    font-weight: var(#{$p}form-label-font-weight, var(#{$p}font-weight));
  }

  #{$parent-selector} fieldset legend {
    margin-bottom: calc(var(#{$p}spacing) * 0.5);
  }

  // blocks, 100%
  #{$parent-selector} input:not([type="checkbox"], [type="radio"]),
  #{$parent-selector} button[type="submit"],
  #{$parent-selector} select,
  #{$parent-selector} textarea {
    width: 100%;
  }

  // reset appearance (not checkboxes, radios, range and file)
  #{$parent-selector} input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]),
  #{$parent-selector} select,
  #{$parent-selector} textarea {
    appearance: none;
    padding: var(#{$p}form-element-spacing-vertical) var(#{$p}form-element-spacing-horizontal);
  }

  // commons styles
  #{$parent-selector} input,
  #{$parent-selector} select,
  #{$parent-selector} textarea {
    #{$p}background-color: var(#{$p}form-element-background-color);
    #{$p}border-color: var(#{$p}form-element-border-color);
    #{$p}color: var(#{$p}form-element-color);
    #{$p}box-shadow: none;
    border: var(#{$p}border-width) solid var(#{$p}border-color);
    border-radius: var(#{$p}border-radius);
    outline: none;
    background-color: var(#{$p}background-color);
    box-shadow: var(#{$p}box-shadow);
    color: var(#{$p}color);
    font-weight: var(#{$p}font-weight);

    @if $enable-transitions {
      transition: background-color var(#{$p}transition), border-color var(#{$p}transition),
        color var(#{$p}transition), box-shadow var(#{$p}transition);
    }
  }

  // active & focus
  #{$parent-selector} input:not(
      [type="submit"],
      [type="button"],
      [type="reset"],
      [type="checkbox"],
      [type="radio"],
      [readonly]
    ),
  #{$parent-selector} :where(select, textarea):not([readonly]) {
    &:is(:active, :focus) {
      #{$p}background-color: var(#{$p}form-element-active-background-color);
    }
  }

  // active & focus
  #{$parent-selector} input:not([type="submit"], [type="button"], [type="reset"], [role="switch"], [readonly]),
  #{$parent-selector} :where(select, textarea):not([readonly]) {
    &:is(:active, :focus) {
      #{$p}border-color: var(#{$p}form-element-active-border-color);
    }
  }

  // focus
  #{$parent-selector} input:not(
      [type="submit"],
      [type="button"],
      [type="reset"],
      [type="range"],
      [type="file"],
      [readonly]
    ),
  #{$parent-selector} :where(select, textarea):not([readonly]) {
    &:focus {
      #{$p}box-shadow: 0 0 0 var(#{$p}outline-width) var(#{$p}form-element-focus-color);
    }
  }

  // disabled
  #{$parent-selector} input:not([type="submit"], [type="button"], [type="reset"])[disabled],
  #{$parent-selector} select[disabled],
  #{$parent-selector} textarea[disabled],
  #{$parent-selector} label[aria-disabled="true"],
  #{$parent-selector} :where(fieldset[disabled])
    :is(input:not([type="submit"], [type="button"], [type="reset"]), select, textarea) {
    opacity: var(#{$p}form-element-disabled-opacity);
    pointer-events: none;
  }

  #{$parent-selector} label[aria-disabled="true"] input[disabled] {
    opacity: 1;
  }

  // aria-invalid
  #{$parent-selector} :where(input, select, textarea) {
    &:not(
        [type="checkbox"],
        [type="radio"],
        [type="date"],
        [type="datetime-local"],
        [type="month"],
        [type="time"],
        [type="week"],
        [type="range"]
      ) {
      &[aria-invalid] {
        @if $enable-important {
          padding-right: calc(var(#{$p}form-element-spacing-horizontal) + 1.5rem) !important;
          padding-left: var(#{$p}form-element-spacing-horizontal);
          padding-inline-start: var(#{$p}form-element-spacing-horizontal) !important;
          padding-inline-end: calc(var(#{$p}form-element-spacing-horizontal) + 1.5rem) !important;
        } @else {
          padding-right: calc(var(#{$p}form-element-spacing-horizontal) + 1.5rem);
          padding-left: var(#{$p}form-element-spacing-horizontal);
          padding-inline-start: var(#{$p}form-element-spacing-horizontal);
          padding-inline-end: calc(var(#{$p}form-element-spacing-horizontal) + 1.5rem);
        }
        background-position: center right 0.75rem;
        background-size: 1rem auto;
        background-repeat: no-repeat;
      }

      &[aria-invalid="false"]:not(select) {
        background-image: var(#{$p}icon-valid);
      }

      &[aria-invalid="true"]:not(select) {
        background-image: var(#{$p}icon-invalid);
      }
    }

    &[aria-invalid="false"] {
      #{$p}border-color: var(#{$p}form-element-valid-border-color);

      &:is(:active, :focus) {
        @if $enable-important {
          #{$p}border-color: var(#{$p}form-element-valid-active-border-color) !important;

          &:not([type="checkbox"], [type="radio"]) {
            #{$p}box-shadow: 0
              0
              0
              var(#{$p}outline-width)
              var(#{$p}form-element-valid-focus-color) !important;
          }
        } @else {
          #{$p}border-color: var(#{$p}form-element-valid-active-border-color);

          &:not([type="checkbox"], [type="radio"]) {
            #{$p}box-shadow: 0
              0
              0
              var(#{$p}outline-width)
              var(#{$p}form-element-valid-focus-color);
          }
        }
      }
    }

    &[aria-invalid="true"] {
      #{$p}border-color: var(#{$p}form-element-invalid-border-color);

      &:is(:active, :focus) {
        @if $enable-important {
          #{$p}border-color: var(#{$p}form-element-invalid-active-border-color) !important;

          &:not([type="checkbox"], [type="radio"]) {
            #{$p}box-shadow: 0
              0
              0
              var(#{$p}outline-width)
              var(#{$p}form-element-invalid-focus-color) !important;
          }
        } @else {
          #{$p}border-color: var(#{$p}form-element-invalid-active-border-color);

          &:not([type="checkbox"], [type="radio"]) {
            #{$p}box-shadow: 0
              0
              0
              var(#{$p}outline-width)
              var(#{$p}form-element-invalid-focus-color);
          }
        }
      }
    }
  }

  [dir="rtl"] {
    #{$parent-selector} :where(input, select, textarea) {
      &:not([type="checkbox"], [type="radio"]) {
        &:is([aria-invalid], [aria-invalid="true"], [aria-invalid="false"]) {
          background-position: center left 0.75rem;
        }
      }
    }
  }

  // placeholder
  #{$parent-selector} input::placeholder,
  #{$parent-selector} input::-webkit-input-placeholder,
  #{$parent-selector} textarea::placeholder,
  #{$parent-selector} textarea::-webkit-input-placeholder,
  #{$parent-selector} select:invalid {
    color: var(#{$p}form-element-placeholder-color);
    opacity: 1;
  }

  // margin bottom (not checkboxes and radios)
  #{$parent-selector} input:not([type="checkbox"], [type="radio"]),
  #{$parent-selector} select,
  #{$parent-selector} textarea {
    margin-bottom: var(#{$p}spacing);
  }

  // select
  #{$parent-selector} select {
    // unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      border: 0;
      background-color: transparent;
    }

    &:not([multiple], [size]) {
      padding-right: calc(var(#{$p}form-element-spacing-horizontal) + 1.5rem);
      padding-left: var(#{$p}form-element-spacing-horizontal);
      padding-inline-start: var(#{$p}form-element-spacing-horizontal);
      padding-inline-end: calc(var(#{$p}form-element-spacing-horizontal) + 1.5rem);
      background-image: var(#{$p}icon-chevron);
      background-position: center right 0.75rem;
      background-size: 0.625rem auto;
      background-repeat: no-repeat;
    }

    &[multiple] {
      option {
        &:checked {
          background: var(#{$p}form-element-selected-background-color);
          color: var(#{$p}form-element-color);
        }
      }
    }
  }

  [dir="rtl"] {
    #{$parent-selector} select {
      &:not([multiple], [size]) {
        background-position: center left 0.75rem;
      }
    }
  }

  // textarea
  #{$parent-selector} textarea {
    display: block;
    resize: vertical;

    &[aria-invalid] {
      @if $enable-important {
        #{$p}icon-height: calc(
          (1rem * var(#{$p}line-height)) +
            (var(#{$p}form-element-spacing-vertical) * 2) +
            (var(#{$p}border-width) * 2)
        );
        background-position: top right 0.75rem !important;
        background-size: 1rem var(#{$p}icon-height) !important;
      }
    }
  }

  @if map.get($modules, "layout/grid") {
    $helper-previous-tags: $helper-previous-tags + ", .grid";
  }

  @if map.get($modules, "components/dropdown") {
    $helper-previous-tags: $helper-previous-tags + ", .dropdown";
  }

  #{$parent-selector} :where(#{$helper-previous-tags}) {
    + small {
      display: block;
      width: 100%;
      margin-top: calc(var(#{$p}spacing) * -0.75);
      margin-bottom: var(#{$p}spacing);
      color: var(#{$p}muted-color);
    }
    &[aria-invalid="false"] {
      + small {
        color: var(#{$p}ins-color);
      }
    }
    &[aria-invalid="true"] {
      + small {
        color: var(#{$p}del-color);
      }
    }
  }

  // styles for input inside a label
  #{$parent-selector} label {
    > :where(input, select, textarea) {
      margin-top: calc(var(#{$p}spacing) * 0.25);
    }
  }
}
