@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "forms/checkbox-radio-switch") {
  /**
   * Checkboxes, Radios and Switches
   */

  // Labels
  // Not working in Firefox, which doesn't support the `:has()` pseudo-class
  #{$parent-selector} label {
    &:has([type="checkbox"], [type="radio"]) {
      width: fit-content;
      cursor: pointer;
    }
  }

  #{$parent-selector} [type="checkbox"],
  #{$parent-selector} [type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    margin-top: -0.125em;
    margin-inline-end: 0.5em;
    border-width: var(#{$p}border-width);
    vertical-align: middle;
    cursor: pointer;

    &::-ms-check {
      display: none; // unstyle IE checkboxes
    }

    &:checked,
    &:checked:active,
    &:checked:focus {
      #{$p}background-color: var(#{$p}primary-background);
      #{$p}border-color: var(#{$p}primary-border);
      background-image: var(#{$p}icon-checkbox);
      background-position: center;
      background-size: 0.75em auto;
      background-repeat: no-repeat;
    }

    & ~ label {
      display: inline-block;
      margin-bottom: 0;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-inline-end: 1em;
      }
    }
  }

  // checkboxes
  #{$parent-selector} [type="checkbox"] {
    &:indeterminate {
      #{$p}background-color: var(#{$p}primary-background);
      #{$p}border-color: var(#{$p}primary-border);
      background-image: var(#{$p}icon-minus);
      background-position: center;
      background-size: 0.75em auto;
      background-repeat: no-repeat;
    }
  }

  // radios
  #{$parent-selector} [type="radio"] {
    border-radius: 50%;

    &:checked,
    &:checked:active,
    &:checked:focus {
      #{$p}background-color: var(#{$p}primary-inverse);
      border-width: 0.35em;
      background-image: none;
    }
  }

  // switches
  #{$parent-selector} [type="checkbox"][role="switch"] {
    #{$p}background-color: var(#{$p}switch-background-color);
    #{$p}color: var(#{$p}switch-color);

    // config
    $switch-height: 1em;
    $switch-width: 1.875em;
    $switch-border: 0.2em;
    $switch-transition: 0.1s ease-in-out;

    // styles
    width: $switch-width;
    height: $switch-height;
    border: var(#{$p}border-width) solid var(#{$p}border-color);
    border-radius: var(#{$p}border-radius);
    background-color: var(#{$p}background-color);
    line-height: $switch-height;

    &:not([aria-invalid]) {
      #{$p}border-color: var(#{$p}switch-background-color);
    }

    &:before {
      display: block;
      aspect-ratio: 1;
      width: 50%;
      height: 100%;
      border-radius: var(#{$p}border-radius);
      background-color: var(#{$p}color);
      box-shadow: var(#{$p}switch-thumb-box-shadow);
      content: "";

      @if $enable-transitions {
        transition: margin $switch-transition;
      }
    }

    &:focus {
      #{$p}background-color: var(#{$p}switch-background-color);
      #{$p}border-color: var(#{$p}switch-background-color);
    }

    &:checked {
      #{$p}background-color: var(#{$p}switch-checked-background-color);
      #{$p}border-color: var(#{$p}switch-checked-background-color);
      background-image: none;

      &::before {
        margin-inline-start: calc(#{$switch-width} - #{$switch-height} - var(#{$p}border-width) / 2);
      }
    }

    &[disabled] {
      #{$p}background-color: var(#{$p}border-color);
    }
  }

  // aria-invalid
  #{$parent-selector} [type="checkbox"],
  #{$parent-selector} [type="checkbox"][role="switch"] {
    &[aria-invalid="false"] {
      &:checked,
      &:checked:active,
      &:checked:focus {
        #{$p}background-color: var(#{$p}form-element-valid-border-color);
      }
    }
    &:checked,
    &:checked:active,
    &:checked:focus {
      &[aria-invalid="true"] {
        #{$p}background-color: var(#{$p}form-element-invalid-border-color);
      }
    }
  }

  #{$parent-selector} [type="checkbox"],
  #{$parent-selector} [type="radio"],
  #{$parent-selector} [type="checkbox"][role="switch"] {
    &[aria-invalid="false"] {
      &:checked,
      &:checked:active,
      &:checked:focus {
        #{$p}border-color: var(#{$p}form-element-valid-border-color);
      }
    }
    &:checked,
    &:checked:active,
    &:checked:focus {
      &[aria-invalid="true"] {
        #{$p}border-color: var(#{$p}form-element-invalid-border-color);
      }
    }
  }
}
