@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "forms/input-file") {
  /**
   * Input type file
   */

  // 1. Hack to display the outline on the focused file selector button
  //    with the forced overflow hidden on the input[type="file"] element.
  #{$parent-selector} [type="file"] {
    #{$p}color: var(#{$p}muted-color);
    margin-left: calc(var(#{$p}outline-width) * -1); // 1
    padding: calc(var(#{$p}form-element-spacing-vertical) * 0.5) 0;
    padding-left: var(#{$p}outline-width); // 1
    border: 0;
    border-radius: 0;
    background: none;

    &::file-selector-button {
      margin-right: calc(var(#{$p}spacing) / 2);
      padding: calc(var(#{$p}form-element-spacing-vertical) * 0.5)
        var(#{$p}form-element-spacing-horizontal);
    }

    &:is(:hover, :active, :focus) {
      &::file-selector-button {
        #{$p}background-color: var(#{$p}secondary-hover-background);
        #{$p}border-color: var(#{$p}secondary-hover-border);
      }
    }

    &:focus {
      &::file-selector-button {
        #{$p}box-shadow: var(#{$p}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
          0 0 0 var(#{$p}outline-width) var(#{$p}secondary-focus);
      }
    }
  }
}
