<script setup>
import { onMounted, watch } from 'vue';
import { RouterLink, RouterView, useRoute } from 'vue-router';
import { useStorage } from '@/composables/useStorage';

import ThemeToggleIcon from '@/components/ThemeToggleIcon.vue';

const theme = useStorage('theme', 'light');
const route = useRoute();

// METHODS
function isSectionActive(section) {
  return route.meta?.section === section;
}

function setTheme(name) {
  const htmlEl = document.querySelector('html');

  htmlEl.setAttribute('data-theme', name);
}

function toggleTheme() {
  theme.value = (theme.value === 'light') ? 'dark' : 'light';
}

// WATCHES
watch(theme, (value) => {
  setTheme(value);
});

// EVENTS
onMounted(() => {
  setTheme(theme.value ?? 'light');
});
</script>

<template>
  <header class="is-fixed-above-lg">
    <div class="container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        x="0"
        y="0"
        version="1.1"
        viewBox="0 0 128 48"
        width="128"
      ><g
        fill-rule="evenodd"
        clip-rule="evenodd"
      ><path
        d="m12.211 8.3-9.063 5.234 7.88 4.555.045-.045z"
        fill="#710698"
      /><path
        d="m12.211 8.3 9.075 3.828V3.065z"
        fill="#7944bd"
      /><path
        d="M21.286 3.065v9.063L30.349 8.3z"
        fill="#034185"
      /><path
        d="m31.487 18.044.056.045 7.869-4.555L30.349 8.3z"
        fill="#03b5df"
      /><path
        d="m39.412 13.534-7.869 4.555 7.869 5.915z"
        fill="#4caa1c"
      /><path
        d="M31.487 29.875v.022l7.925 4.576V24.004z"
        fill="#b8fb2a"
      /><path
        d="m39.412 34.473-7.925-4.576-1.138 9.811z"
        fill="#f0cc26"
      /><path
        d="m30.349 39.708-9.063-3.918v9.153z"
        fill="#f13e03"
      /><path
        d="M21.286 44.943V35.79l-9.075 3.918z"
        fill="#a90000"
      /><path
        d="m12.211 39.708-1.138-9.81-7.925 4.575z"
        fill="#ab0000"
      /><path
        d="M11.073 29.897v-.022l-7.925-5.87v10.468z"
        fill="#e50380"
      /><path
        d="m3.148 24.004 7.88-5.915-7.88-4.555z"
        fill="#720353"
      /><path
        d="m11.073 18.044 5.1-2.958 5.113-2.958L12.21 8.3z"
        fill="#5924bd"
      /><path
        d="M11.073 23.96v-5.85l-.045-.021-7.88 5.915 7.925 5.871z"
        fill="#c2037b"
      /><path
        d="m12.211 39.708 9.075-3.918-5.112-2.957-5.079-2.947-.022.011z"
        fill="#c10000"
      /><path
        d="m31.487 29.897-.011-.01-5.09 2.946-5.1 2.957 9.063 3.918z"
        fill="#f37b22"
        stroke="#fc5c06"
        stroke-miterlimit="10"
        stroke-width=".053"
      /><path
        d="m31.543 18.089-.056.022v11.764l7.925-5.87z"
        fill="#8be232"
      /><path
        d="M31.487 18.044 30.35 8.3l-9.063 3.828 5.1 2.958z"
        fill="#0375af"
      /></g><path
        d="M7.389 2.605V4.02h-.383V2.689q0-.173-.084-.314-.084-.141-.225-.223-.141-.084-.314-.084-.17 0-.314.084-.141.082-.225.223-.084.141-.084.314v1.33h-.383V1.746h.383v.284q.12-.16.305-.252.184-.096.4-.096.255 0 .464.125.212.123.334.332.126.21.126.467zm2.238-.86h.382V4.02h-.382l-.016-.385q-.107.198-.296.321-.186.123-.445.123-.25 0-.47-.093-.217-.096-.386-.262-.166-.168-.26-.387-.092-.218-.092-.47 0-.244.09-.46.092-.216.253-.378.164-.164.378-.255.214-.093.46-.093.268 0 .47.127.203.126.328.326zm-.764 1.963q.225 0 .389-.11.166-.11.255-.3.09-.188.09-.416 0-.232-.09-.418-.091-.19-.257-.298-.164-.112-.387-.112-.225 0-.41.112-.184.111-.293.3-.107.187-.107.416 0 .23.111.419.112.186.296.298.184.11.403.11zm3.612-1.103V4.02h-.382V2.689q0-.173-.084-.314-.084-.141-.225-.223-.141-.084-.314-.084-.17 0-.314.084-.141.082-.225.223-.084.141-.084.314v1.33h-.383V1.746h.383v.284q.12-.16.304-.252.185-.096.4-.096.256 0 .465.125.211.123.334.332.125.21.125.467zm1.41 1.474q-.313 0-.572-.162-.257-.161-.412-.432-.153-.273-.153-.603 0-.25.09-.466.088-.218.243-.382.157-.166.364-.26.207-.093.44-.093.315 0 .572.162.26.161.412.434.154.273.154.605 0 .248-.088.464-.089.216-.246.383-.155.163-.362.257-.204.093-.441.093zm0-.382q.215 0 .385-.112.173-.114.271-.298.1-.186.1-.405 0-.223-.102-.41-.1-.186-.27-.297-.172-.112-.383-.112-.214 0-.385.114-.17.112-.27.298-.1.187-.1.407 0 .228.102.414.102.185.275.294.173.107.378.107z"
        aria-label="nano"
        transform="translate(.354 .133) scale(8.28729)"
      /></svg>
      <nav>
        <ul>
          <li>
            <a
              href="#"
              class="contrast"
              aria-label="Turn on dark mode"
              @click.prevent="toggleTheme"
            >
              <theme-toggle-icon :theme="theme" />
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="container">
    <aside id="documentation-menu">
      <header>
        <h2>Documentation</h2>
        <a
          aria-label="Close"
          class="secondary"
          href="/docs"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </a>
      </header>
      <nav>
        <details :open="isSectionActive('getting-started')">
          <summary aria-current="true">
            Getting Started
          </summary>
          <ul>
            <li>
              <RouterLink
                class="secondary"
                to="/docs"
              >
                Quick Start
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/color-schemes"
              >
                Colour Schemes
              </RouterLink>
            </li>
          </ul>
        </details>
        <details :open="isSectionActive('customisation')">
          <summary>Customisation</summary>
          <ul>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/css-variables"
              >
                CSS Variables
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/sass"
              >
                Sass
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/colors"
              >
                Colors
              </RouterLink>
            </li>
          </ul>
        </details>
        <details :open="isSectionActive('layout')">
          <summary>Layout</summary>
          <ul>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/container"
              >
                Container
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/landmark-section"
              >
                Landmark &amp; Section
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/grid"
              >
                Grid
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/overflow-auto"
              >
                Overflow Auto
              </RouterLink>
            </li>
          </ul>
        </details>
        <details :open="isSectionActive('content')">
          <summary>Content</summary>
          <ul>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/typography"
              >
                Typography
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/link"
              >
                Link
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/button"
              >
                Button
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/table"
              >
                Table
              </RouterLink>
            </li>
          </ul>
        </details>
        <details :open="isSectionActive('forms')">
          <summary>Forms</summary>
          <ul>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/forms/overview"
              >
                Overview
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/forms/input"
              >
                Input
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/forms/textarea"
              >
                Textarea
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/forms/select"
              >
                Select
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/forms/checkboxes"
              >
                Checkboxes
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/forms/radios"
              >
                Radios
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/forms/switch"
              >
                Switch
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/forms/range"
              >
                Range
              </RouterLink>
            </li>
          </ul>
        </details>
        <details :open="isSectionActive('components')">
          <summary>Components</summary>
          <ul>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/accordion"
              >
                Accordion
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/alert"
              >
                Alert
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/card"
              >
                Card
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/dropdown"
              >
                Dropdown
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/group"
              >
                Group
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/loading"
              >
                Loading
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/modal"
              >
                Modal
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/nav"
              >
                Nav
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/note"
              >
                Note
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/progress"
              >
                Progress
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/tabs"
              >
                Tabs
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/tooltip"
              >
                Tooltip
              </RouterLink>
            </li>
          </ul>
        </details>
        <details :open="isSectionActive('vue-components')">
          <summary>Vue Components</summary>
          <ul>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/vue/data-table"
              >
                Data Table
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/vue/modal"
              >
                Modal
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/vue/password"
              >
                Password
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/vue/sparkline"
              >
                Sparkline
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/vue/tabs"
              >
                Tabs
              </RouterLink>
            </li>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/vue/validation"
              >
                Validation
              </RouterLink>
            </li>
          </ul>
        </details>
        <details :open="isSectionActive('about')">
          <summary>About</summary>
          <ul>
            <li>
              <RouterLink
                class="secondary"
                to="/docs/mission"
              >
                Mission
              </RouterLink>
            </li>
          </ul>
        </details>
      </nav>
    </aside>

    <RouterView />
  </main>

  <footer>
    <div class="container">
      <div>
        <p class="text-center">
          v0.2.0 &ndash; MIT Licence &ndash; Standing on the shoulders of <a
            rel="noopener noreferrer"
            href="https://vuecomponenets.com"
            target="_blank"
          >VueComponents</a>, <a
            rel="noopener noreferrer"
            href="https://getbootstrap.com"
            target="_blank"
          >Bootstrap</a> and <a
            rel="noopener noreferrer"
            href="https://github.com/picocss/pico"
            target="_blank"
          >PicoCSS</a>.
        </p>
      </div>
    </div>
  </footer>
</template>
